.question {
  padding: 10px 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    font-weight: 400;
  }

  &__content-header {
    display: inline-flex;
    min-width: 36px;
  }

  &__info {
    padding-top: 5px;
  }

  &__like {
    margin-top: 5px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    color: #737f89;

    &:before {
      margin-right: 6px;
      display: block;
      width: 12px;
      height: 12px;
      content: '';
      background: url(../img/like.svg) no-repeat center;
      background-size: contain;
    }

    &--active {

      &:before {
        background: url(../img/like--blue.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__answer {
    position: relative;
    margin-top: 22px;
    padding: 12px 27px 12px 15px;
    background: #e5eaef;
    border-radius: 4px;

    &:before {
      position: absolute;
      top: -12px;
      left: 19px;
      display: block;
      width: 14px;
      height: 14.5px;
      content: '';
      background: url(../img/tail-gray.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__answer-header {
    margin-bottom: 2px;
  }

  &__item {
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
