mixin question(data)
  .question&attributes(attributes)
    .question__wrapper
      .question__content
        p.p--xs.question__item
          span.question__content-header Для:
          span.text-tertiary= data.from
        p.p--xs.question__item
          span.question__content-header От:
          span= data.to
        p.p--xs.question__item.mb-0.text-dark= data.content
      .question__info
        p.p--xxs.font-weight-medium 11:15
        if data && data.modifier == 'liked'
          a.question__like.question__like--active(href="#")= data.likes
        else
          a.question__like(href="#")= data.likes
    if data && data.answer
      .question__answer
        p.p--xs.question__answer-header Ответ спикера
        p.p--xs.text-dark В одной группе не более 12 человек
