.test-front {
  padding: 10px 20px 30px;
  background: #fff;
  box-shadow: 0 12px 42px rgba(84, 175, 255, .26);

  @include media-breakpoint-down(sm) {
    padding-bottom: 25px;
  }

  &__header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-family: $font-heavy;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: $secondary;

    &:after {
      margin-left: 13px;
      display: block;
      width: 64px;
      height: 59px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='59' viewBox='0 0 64 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.3721 0.240779L0 11.9072L11.8926 58.1588L57.2647 46.4924L45.3721 0.240779Z' fill='%23FFE063'/%3E%3Cpath d='M40.2781 37.2964C40.9705 36.2947 45.0707 30.7635 45.9687 29.9905C46.8666 29.2174 52.3732 22.3688 53.2387 21.2799C57.8366 15.5092 54.6668 19.6249 59.2646 13.8542C60.8117 11.927 62.2938 9.32477 63.8409 7.39757L60.498 4.89329C59.7082 4.35978 58.9725 3.59761 58.172 3.0532C57.3714 2.50879 56.4086 2.28014 55.5972 1.74662C55.1211 1.43087 53.7472 -0.0934727 53.3144 0.00452053C52.8817 0.102514 51.6484 2.47613 51.3022 2.99876L49.2683 6.02566L42.2687 16.4129C41.1869 18.1006 40.105 19.908 38.796 21.4868C38.2292 22.3429 37.7161 23.2339 37.2597 24.1544C36.5965 25.145 35.8739 26.0941 35.096 26.9962C34.4902 27.7475 34.3495 27.8346 33.5922 27.1922C33.2677 26.9091 32.9648 26.5934 32.651 26.2994L21.5295 15.8576C21.4822 15.8093 21.4258 15.7708 21.3636 15.7446C21.3014 15.7184 21.2346 15.7048 21.1671 15.7048C21.0997 15.7048 21.0329 15.7184 20.9707 15.7446C20.9084 15.7708 20.852 15.8093 20.8047 15.8576L15.5902 21.6175C15.5333 21.6704 15.4878 21.7343 15.4562 21.8054C15.4245 21.8765 15.4076 21.9533 15.4062 22.0312C15.4928 23.12 18.522 25.069 19.2901 25.7441C20.4853 26.8149 21.7386 27.8181 23.0441 28.7492L28.4534 33.2025C29.7615 34.6624 31.1676 36.0303 32.6618 37.2964C34.0574 38.4832 35.9074 40.0402 37.1624 40.9004L40.2781 37.2964Z' fill='%23FF3333'/%3E%3C/svg%3E");
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-size: 26px;
    line-height: 1.31;
    color: $dark;

    @include media-breakpoint-down(lg) {
      font-size: 22px;
    }

    @include media-breakpoint-down(md) {
      font-size: 26px;
    }
  }

  &__dscr {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #737f89;
  }

  &__btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }
}
