.modal {
  padding: 24px 40px 32px;
  display: none;
  max-width: 720px;

  @include media-breakpoint-down(sm) {
    padding: 24px 20px;
  }

  &__question {
    padding-bottom: 44px;
  }

  &__question-sent {
    padding: 80px 100px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //    display: none;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: $dark;

    &:before {
      margin-bottom: 20px;
      display: block;
      width: 36px;
      height: 24px;
      content: '';
      background: url(../img/modal-check.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__question-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__question-sent-header {
  }

  &__photo {
  }

  &__photo-wrapper {
    border: 1px solid #d2dce6;

    @include media-breakpoint-down(sm) {
      border: 0;
    }
  }

  &__photo-content {
  }

  &__photo-btn {

    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &__controls {
    padding: 14px;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 60px;
      flex-wrap: wrap;
    }
  }

  &__controls-btns-wrapper {
    margin: 0 20px;
    display: flex;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-left: 10px;
    }

    & + & {
      margin-left: 0;

      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
  }

  &__controls-btn {
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary;

    @include transition;

    &:hover {
      background: $primary;

      svg path {
        fill: #fff;
      }

      rect {
        fill: $primary;
      }
    }

    svg path,
    svg rect {

      @include transition;
    }

    & + & {
      border-left: 0;
    }
  }

  &__speaker {
    padding: 6px 20px 13px;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__speaker-header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }

    &--column {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__speaker-photo {
    position: relative;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-right: 12px;
      width: 60px;
      height: 60px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  &__speaker-content {
  }

  &__speaker-name {
    margin-bottom: 0;
    font-family: $font-heavy;
    color: $secondary;

    @include media-breakpoint-down(sm) {
      margin-bottom: 3px;
      font-size: 13px;
      line-height: 1.46;
    }
  }

  &__speaker-role {

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  &__speaker-company {

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  &__speaker-dscr {
  }

  &__speaker-dscr-content {
    position: relative;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 1.375;
    }

    &--truncated {
      overflow: visible;
      height: auto;
    }
  }

  &__scrollbar-wrapper {
    position: relative;

    &:after {

      @include media-breakpoint-down(sm) {
        position: absolute;
        bottom: 0 !important;
        left: 0;
        display: block;
        width: 100%;
        height: 77px;
        content: '';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
      }
    }

    &--revealed {

      &:after {
        position: absolute;
        bottom: 12px;
        left: 0;
        display: block;
        width: 100%;
        height: 77px;
        content: '';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
      }

      .modal__scrollbar {
        padding-bottom: 77px;
      }
    }
  }

  &__scrollbar {
    position: relative;
    margin-right: -54px;
    margin-left: -28px;
    padding-right: 54px;
    padding-left: 28px;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      margin-right: -18px;
      margin-left: 0;
      padding-right: 18px;
      padding-left: 0;
    }

    .ps__rail-y {
      width: 8px;
      opacity: 1 !important;

      @include media-breakpoint-down(sm) {
        width: 4px;
      }

      .ps__thumb-y {
        background: #d2dce6;
      }
    }

    &--dscr {
      height: 500px;

      /*.modal__speaker-dscr-content {
        overflow: hidden;
        height: 78px;
      }*/

      .modal__dscr-controls {
        display: none;
      }

      &.modal__scrollbar--revealed {

        .modal__speaker-dscr-content {
          overflow: visible;
          height: auto;
        }
      }
    }

    &--event {
      padding-bottom: 77px;
      height: 440px;

      .modal__speaker-dscr-content {
        overflow: hidden;
        height: 78px;
      }

      &.modal__scrollbar--revealed {

        .modal__speaker-dscr-content {
          overflow: visible;
          height: auto;
        }
      }
    }
  }

  &__dscr-link {
    margin-top: 6px;
    margin-bottom: 0;
    display: none;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: $primary;

    @include transition;

    &:hover {
      opacity: .8;
      color: $primary;
    }

    &:focus,
    &:active {
      color: $primary;
    }

    &:after {
      position: relative;
      top: 2px;
      margin-left: 6px;
      display: block;
      width: 12px;
      height: 12px;
      content: '';
      background: url(../img/link-arrow.svg) no-repeat center;
      background-size: contain;

      @include transition;
    }

    &--active {
      display: flex;
    }

    &--less {

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__speaker-event {
    margin-top: 20px;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      position: relative;
      margin-top: 0;
      padding-top: 20px;
      border-top: 1px solid #cad4df;
    }
  }

  &__speaker-event-header {
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
    }

    p {

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    a {

      @include transition;

      &:hover {
        color: $primary !important;
      }
    }
  }

  &__speaker-event-content {
  }

  &__speaker-event-title {
    position: relative;
    margin-bottom: 14px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      position: static;
      margin-bottom: 20px;
    }
  }

  &__speaker-bookmark {
    position: absolute;
    top: 2px;
    right: calc(100% + 14px);
    width: 14px;
    height: 20px;
    background: url(../img/icon-bookmark.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      top: -2px;
      right: 8px;
      width: 19px;
      height: 24px;
    }

    &--active {
      background: url(../img/icon-bookmark--red.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__speaker-event-title-content {
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 30px;
    color: $dark;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 22px;
      line-height: 28px;
    }

    &:hover {
      color: $primary;
    }
  }

  &__speaker-event-dscr {
  }

  &__event-speakers {
    padding-top: 20px;
    border-top: 1px solid #cad4df;
  }

  &__event-speakers-header {

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__content {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      flex-direction: column;
    }
  }

  &__announcement-picture {
    margin-right: 36px;
    min-width: 164px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 4px;
      min-width: 101px;
    }
  }

  &__content-dscr {

    p {
      font-size: 18px;
      line-height: 26px;
      font-weight: normal;
      color: $gray;

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  &__content-header {
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    color: $dark;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &--close-out {
    overflow: visible;

    .fancybox-close-small {
      left: calc(100% + 14px);
      padding: 0;
      width: 22px;
      height: 22px;
      background: url(../img/close-white.svg) no-repeat center;
      background-size: contain;
      border: 0;

      svg {
        display: none;
      }

      @include media-breakpoint-down(md) {
        top: 15px;
        right: 15px;
        left: auto;
        width: 14px;
        height: 14px;
        background: url(../img/close.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &--photo {

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
      padding: 20px 16px 0;
      max-width: calc(100% - 16px);
    }
  }

  &--event {

    @include media-breakpoint-down(sm) {
      padding-top: 52px;
    }
  }

  &--announcement {
    padding: 30px 40px 0;
    max-width: 600px;

    @include media-breakpoint-down(sm) {
      padding: 30px 20px 0;
    }

    .btn-primary {
      margin-left: -40px;
      width: calc(100% + 80px);

      @include media-breakpoint-down(sm) {
        margin-left: -20px;
        width: calc(100% + 40px);
      }
    }
  }

  &--transparent {
    padding: 0;
    background: transparent;

    .badge-user {
      padding: 124px 20px 20px;
      max-width: 380px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
        padding-top: 70px;
        max-width: 335px;
      }
    }

    .btn-primary {
      margin-top: 25px;
      width: 278px;
    }

    .fancybox-close-small {
      top: 90px;
      left: calc(100% + 45px);

      @include media-breakpoint-down(sm) {
        top: 25px;
        right: 6px;
        left: auto;
        width: 46px;
        height: 46px;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.2' width='46' height='46' rx='23' fill='%23040404'/%3E%3Cpath d='M16 16L30 30' stroke='white' stroke-width='2'/%3E%3Cpath d='M30 16L16 30' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
      }
    }
  }

  &--badge {

    .fancybox-slide {
      padding-top: 0;

      &:before {
        display: none;
      }
    }
  }
}
