mixin modal(data)
  .modal&attributes(attributes)
    
    if data && data.modifier == 'question'
      .modal__question
        .display-3.mb-50 Задать вопрос
        form.form(action="#", method="POST")
          .form-group.form__item
            +select({
              placeholder: "Не выбрано",
              options: ['Александр Ларьяновский', 'Дмитрий Крутов', 'Илья Залесский']
            })
            label.form__label.form__label--active Выберите спикера
          .form-group.form__item
            textarea.form-control.form-control--textarea.js-textarea-limited(required, placeholder="Напишите вопрос", maxlength="401")
            p.p--xs.mt-10.mb-5.js-textarea-counter Символов осталось: 
              span.js-textarea-counter-number 0
              span /400
          p.p--xs.text-dark Перед тем как попасть к спикеру, все вопросы проходят модерацию.
          button.btn.btn-primary.modal__question-btn(type="submit", disabled) Отправить
      //.modal__question-sent
        .modal__question-sent-header Вопрос отправлен
    
    if data && data.modifier == 'photo'
      .modal__photo
        .display-3.mb-20 Ваше фото
        .modal__photo-wrapper
          .modal__photo-content
            img(src="./img/crop-test.jpg", alt)
          .modal__controls
            a.btn.btn-outline-primary.btn-sm(href="#") Выбрать
            .modal__controls-btns-wrapper
              a.modal__controls-btn(href="#")
                include ./img/zoom-out.svg
              a.modal__controls-btn(href="#")
                include ./img/zoom-in.svg
            .modal__controls-btns-wrapper
              a.modal__controls-btn(href="#")
                include ./img/control-back.svg
              a.modal__controls-btn(href="#")
                include ./img/control-forward.svg
            a.btn.btn-primary.btn-sm.modal__photo-btn(href="#") Сохранить
    
    if data && data.modifier == 'speaker'
      .modal__speaker.modal__scrollbar-wrapper
        .modal__scrollbar.modal__scrollbar--dscr
          .modal__speaker-header
            .modal__speaker-photo
              img(src='./img/speaker-1.png' alt="")
            .modal__speaker-content
              h4.modal__speaker-name ЕЛЕНА БУНИНА
              p.modal__speaker-role.text-dark.mb-0 HR директор, генеральный директор
              p.modal__speaker-company Яндекс
          .modal__speaker-dscr
            .p.modal__speaker-dscr-content.modal__speaker-dscr-content--cut.mb-0 Пришла в компанию в 2007 году. Была одним из основателей Школы анализа данных, где возглавила отделение Computer Science. <br>После создания Школы отвечала также за направление академических проектов Яндекса. В 2011 году была назначена директором по персоналу. С 2017 года совмещает обязанности генерального директора Яндекса в России и HR-директора, курирует все образовательные проекты компании и «Образовательную инициативу Яндекса». Окончила механико-математический факультет Московского государственного университета имени М. В. Ломоносова и Независимый московский университет. С 2001 года преподаёт в МГУ, с 2011 года — профессор кафедры высшей алгебры. Кроме того, заведует кафедрой «Анализ данных» в Физтех-школе прикладной математики и информатики МФТИ. <br>Доктор физико-математических Пришла в компанию в 2007 году. Была одним из основателей Школы анализа данных, где возглавила отделение Computer Science. <br>После создания Школы отвечала также за направление академических проектов Яндекса. В 2011 году была назначена директором по персоналу. С 2017 года совмещает обязанности генерального директора Яндекса в России и HR-директора, курирует все образовательные проекты компании и «Образовательную инициативу Яндекса». Окончила механико-математический факультет Московского государственного университета имени М. В. Ломоносова и Независимый московский университет. С 2001 года преподаёт в МГУ, с 2011 года — профессор кафедры высшей алгебры. Кроме того, заведует кафедрой «Анализ данных» в Физтех-школе прикладной математики и информатики МФТИ. <br>Доктор физико-математических 
            .modal__dscr-controls
              a.modal__dscr-link.modal__dscr-link--more.modal__dscr-link--active(href="#") Подробнее
              a.modal__dscr-link.modal__dscr-link--less(href="#") Скрыть
          .modal__speaker-event
            .modal__speaker-event-header
              p.mb-0 
                a.text-dark(href="#") Главная сцена
              p.mb-0
                span.display-inline-flex.ml-5 / 
                span 10:00
            .modal__speaker-event-content
              .modal__speaker-event-title
                a.modal__speaker-bookmark(href="#")
                a.modal__speaker-event-title-content(href="#") На пороге нового гуманистического образования
              p.text-dark Сегодня на повестке дня цифровизация образования. <br>Новые технологии формируют новый образовательный опыт. <br>Давайте обсудим, из чего он складывается, когда он случается, могут ли технологии его гуманизировать и обязательно ли обучение связано с выходом из зоны комфорта.
    
    if data && data.modifier == 'report'
      .modal__speaker.modal__scrollbar-wrapper.modal__scrollbar-wrapper--revealed
        .modal__scrollbar.modal__scrollbar--event
          .modal__speaker-event
            .modal__speaker-event-header
              p.mb-0 
                a.text-dark(href="#") Главная сцена
              p.mb-0
                span.display-inline-flex.ml-5 / 
                span 16:00
            .modal__speaker-event-content
              .modal__speaker-event-title
                a.modal__speaker-bookmark(href="#")
                a.modal__speaker-event-title-content(href="#") Формирование образовательного опыта в эпоху новых технологий
              .modal__speaker-event-dscr
                .p.modal__speaker-dscr-content.modal__speaker-dscr-content--cut Пришла в компанию в 2007 году. Была одним из основателей Школы анализа данных, где возглавила отделение Computer Science. <br>После создания Школы отвечала также за направление академических проектов Яндекса. В 2011 году была назначена директором по персоналу. С 2017 года совмещает обязанности генерального директора Яндекса в России и HR-директора, курирует все образовательные проекты компании и «Образовательную инициативу Яндекса». Окончила механико-математический факультет Московского государственного университета имени М. В. Ломоносова и Независимый московский университет. С 2001 года преподаёт в МГУ, с 2011 года — профессор кафедры высшей алгебры. Кроме того, заведует кафедрой «Анализ данных» в Физтех-школе прикладной математики и информатики МФТИ. <br>Доктор физико-математических 
              .modal__dscr-controls
                a.modal__dscr-link.modal__dscr-link--more.modal__dscr-link--active(href="#") Подробнее
                a.modal__dscr-link.modal__dscr-link--less(href="#") Скрыть
          .modal__event-speakers
            p.text-dark.modal__event-speakers-header.mb-10 Модератор:
            .modal__speaker.p-0
              .modal__speaker-header
                .modal__speaker-photo
                  img(src='./img/speaker-2.png' alt="")
                .modal__speaker-content
                  h4.modal__speaker-name НАРГИЗ АСАДОВА
                  p.modal__speaker-role.text-dark.mb-0 Заместитель директора
                  p.modal__speaker-company Европейская гимназия
              p.text-dark.modal__event-speakers-header.mb-10 Гости:
              .row.mb-28
                .col-lg-6
                  .modal__speaker.p-0.mb-20.mb-sm-0
                    .modal__speaker-photo
                      img(src='./img/speaker-3.png' alt="")
                    .modal__speaker-content
                      h4.modal__speaker-name Александр Асмолов
                      p.modal__speaker-role.text-dark.mb-0 Директор
                      p.modal__speaker-company Школа антропологии будущего
                .col-lg-6
                  .modal__speaker.p-0.mb-20.mb-sm-0
                    .modal__speaker-photo
                      img(src='./img/speaker-4.png' alt="")
                    .modal__speaker-content
                      h4.modal__speaker-name Дмитрий Волошин
                      p.modal__speaker-role.text-dark.mb-0 Сооснователь
                      p.modal__speaker-company Otus.ru
    
    if data && data.modifier == 'announcement'
      .modal__wrapper
        .modal__content
          img.modal__announcement-picture(src="./img/modal-announcement.svg", alt)
          .modal__content-dscr
            .modal__content-header Скоро здесь появится <span class="text-nowrap">кое-что</span> интересное
            p Cтраница откроется 10 ноября в 9:30
        a.btn.btn-primary(href="#" data-fancybox-close) Закрыть
    
    if data && data.modifier == 'message'
      +badge-user({
        name: 'Константин Салтыков-Щедрин',
        company: 'Яндекс.Учебник',
        role: 'Учитель русского языка и литературы, методист по русскому языку'
      })
      .text-center
        a.btn.btn-primary(href="#") Написать сообщение
