mixin hall(data)
  a(href="#").hall&attributes(attributes)
    span.hall__img-wrap
      img.hall__img(src="./img/" + data.img + ".png", alt="")
    span.hall__title !{data.title}
    span.hall__role !{data.role}
