.hall {
  position: relative;
  padding: 20px;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 280px;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, #ffffff, #ffffff), #eef4fa;
  transition: $transition-base;

  &:hover {
    box-shadow: 0 12px 42px rgba(84, 175, 255, .26);

    @include media-breakpoint-down(md) {
      box-shadow: 0 12px 24px rgba(84, 175, 255, .25);
    }
  }

  @include media-breakpoint-down(md) {
    margin-right: 4px;
    padding-top: 167px;
    padding-bottom: 30px;
    overflow: inherit;
    width: 276px;
    height: 319px;
    justify-content: flex-start;
    background: $white;
    box-shadow: 0 12px 24px rgba(84, 175, 255, .25);
  }

  &__img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(35%);

    @include media-breakpoint-down(lg) {
      top: auto;
      bottom: -10px;
      transform: translateX(40%);
    }

    @include media-breakpoint-down(md) {
      z-index: 100;
      top: -108px;
      right: 50%;
      bottom: 0;
      width: 225px;
      height: 180px;
      transform: translateX(calc(50% - 12px));
    }
  }

  &__img {
    height: 100%;

    @include media-breakpoint-down(md) {
      max-width: 275px;
      height: auto;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    padding-right: 20px;
    font-family: $font-secondary;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
    color: $dark;

    @include media-breakpoint-down(lg) {
      padding-right: 100px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 0;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__role {
    position: relative;
    z-index: 1;
    max-width: 240px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $dark;

    @include media-breakpoint-down(lg) {
      padding-right: 100px;
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      margin-top: auto;
      padding-top: 10px;
      padding-right: 0;
      font-size: 18px;
      line-height: 26px;
    }
  }
}
