h1,
.h1 {
  font-family: $font-heavy;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
  color: $secondary;

  @include media-breakpoint-down(md) {
    font-size: 36px;
    line-height: 36px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 30px;
  }

  @media screen and(max-width: 374px) {
    font-size: 18px;
    line-height: 28px;
  }
}

h2,
.h2 {
  font-family: $font-heavy;
  font-size: 34px;
  line-height: 42px;
  font-weight: 900;
  text-transform: uppercase;
  color: $secondary;

  @include media-breakpoint-down(md) {
    font-size: 30px;
    line-height: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 28px;
  }

  @media screen and(max-width: 374px) {
    font-size: 18px;
    line-height: 28px;
  }
}

h3,
.h3 {
  font-family: $font-secondary;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;

  @include media-breakpoint-down(md) {
    font-size: 26px;
    line-height: 34px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 30px;
  }

  @media screen and(max-width: 374px) {
    font-size: 18px;
    line-height: 28px;
  }

  &.sm {
    font-size: 24px;
    line-height: 1.25;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

h5,
.h5 {
}

h6,
.h6 {
}

.title-gray {
  font-size: 18px;
  line-height: 26px;
  color: rgba($gray, .6);
}

.display-3 {
  font-family: $font-secondary;
  font-size: 28px;
  line-height: 35px;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 30px;
  }

  @media screen and(max-width: 374px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.font-display {
  font-family: $font-secondary;
}

p,
.p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;
  color: $gray;

  &--xs {
    font-size: 14px;
    line-height: 18px;
  }

  &--xxs {
    font-size: 11px;
    line-height: 1;
  }

  &--xl {
    font-size: 24px;
    line-height: 1.33;
    color: $dark;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &--md {
    font-size: 16px;
    line-height: 24px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.text-gray {
  color: $gray;
}

.text-underline {
  text-decoration: underline;
}

.text-tertiary {
  color: $tertiary;
}

.semi-transparent {
  opacity: .7;
}

ul,
ol {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  color: $gray;

  li {
  }

  &.ul-reboot {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &.ul-default {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 22px;
    line-height: 30px;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 26px;
    }

    li {
      position: relative;
      margin-bottom: 20px;
      padding-left: 34px;

      &:before {
        position: absolute;
        top: 14px;
        left: 0;
        margin-right: 14px;
        display: inline-block;
        width: 20px;
        height: 2px;
        content: '';
        background: $primary;
      }
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
  font-weight: 500;
  transition: $transition-base;

  &:focus {
    outline: none;
  }
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
