html {
}

body {
  display: flex;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.29;
  -webkit-font-smoothing: antialiased;

  .footer {
    margin-top: auto;
  }
}
