@font-face {
  font-family: 'Yandex Serif Display';
  src: url('../fonts/YandexSerifDisplay-Black.woff2') format('woff2'),
    url('../fonts/YandexSerifDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Serif Display';
  src: url('../fonts/YandexSerifDisplay-Regular.woff2') format('woff2'),
    url('../fonts/YandexSerifDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('../fonts/YSText-Regular.woff2') format('woff2'),
    url('../fonts/YSText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('../fonts/YSText-Medium.woff2') format('woff2'),
    url('../fonts/YSText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('../fonts/YSText-Bold.woff2') format('woff2'),
    url('../fonts/YSText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Cy';
  src: url('../fonts/DrukWideCy-Heavy.woff2') format('woff2'),
    url('../fonts/DrukWideCy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
