mixin cover(data)
  .cover&attributes(attributes)
    .container.pt-20.pt-md-55
      .row
        .col-lg-11.offset-lg-1
          .cover__wrapper
            .cover__content.order-2.order-md-1(
              class=data.size && data.size === 'big' ?'cover__content--big':''
              class=data.size && data.size === 'md' ?'cover__content--md':''
            )
              h2.mb-20.mb-md-35!= data.title
              p.cover__dscr(
                class=data.size && data.size === 'big' ? 'cover__dscr--big': ''
                class=data.size && data.size === 'md' ? 'cover__dscr--md': ''
              )= data.dscr
            .cover__picture.order-1.order-md-2
              img(src="./img/" + data.picture, alt)
    .cover__footer-bg
      .container
        .row
          .col-lg-10.offset-lg-1
            .cover__footer-bg-content
