.cover {
  position: relative;
  z-index: 1;
  padding-bottom: 75px;

  @include media-breakpoint-down(md) {
    padding-bottom: 130px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 110px;
  }

  &:before {
    position: absolute;
    z-index: 2;
    top: -230px;
    left: -70px;
    display: block;
    width: 100%;
    height: 120%;
    content: '';
    background-color: #fff;
    box-shadow: 0 21px 88.8679px rgba(0, 0, 0, .05);
    transform: rotate(10deg);
    transform-origin: center center;

    @media (max-width: 1420px) {
      top: -176px;
      left: -5%;
      width: 105%;
      height: 115%;
    }

    @include media-breakpoint-down(md) {
      top: -160px;
      left: -5%;
      width: 110%;
      transform: rotate(6deg);
    }

    @include media-breakpoint-down(sm) {
      top: -25%;
      left: -10%;
      width: 120%;
    }
  }

  > .container {
    position: relative;
    z-index: 3;
  }

  h2 {

    @include media-breakpoint-down(sm) {
      font-size: 17px;
      line-height: 25px;
    }
  }

  &__footer-bg {
    position: absolute;
    z-index: 1;
    bottom: 105px;
    left: 0;
    width: 100%;

    @include media-breakpoint-down(lg) {
      bottom: 70px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    //    .container {
    //
    //      &:after {
    //        display: block;
    //        width: 701px;
    //        height: 320px;
    //        content: '';
    //        background: transparent url(../img/cover-rect.svg) 0 0 no-repeat;
    //      }
    //    }
  }

  &__footer-bg-content {
    display: block;
    width: 701px;
    height: 320px;
    background: transparent url(../img/cover-rect.svg) 0 0 no-repeat;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__content {
    padding-right: 10px;
    max-width: 575px;

    @include media-breakpoint-down(lg) {
      max-width: 60% !important;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      max-width: 100% !important;
    }

    &--big {
      max-width: 730px;
    }

    &--md {
      max-width: 655px;
    }
  }

  &__dscr {
    padding-bottom: 190px;
    max-width: 460px;
    font-size: 20px;
    line-height: 28px;
    color: $dark;

    @include media-breakpoint-down(md) {
      padding-bottom: 10px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      max-width: 100%;
      font-size: 16px;
      line-height: 1.5;
    }

    &--big {
      max-width: 85%;
    }

    &--md {
      max-width: 90%;
    }
  }

  &__picture {
    margin-right: 65px;
    margin-bottom: 45px;
    max-width: 380px;
    align-self: flex-end;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 35px;
      padding-top: 0;
      padding-left: 0;
      max-width: 270px;
      align-self: flex-start;
    }
  }
}
