mixin slider-story(data)
  .slider-story&attributes(attributes)(class=data && data.type === 'apprentice' ? 'slider-story--apprentice': '')
    if data && data.type === 'apprentice'
      .slider-story__content.js-slider-story-apprentice
        .slider-story__item: +link-story({type: 'apprentice'})
        .slider-story__item: +link-story({type: 'apprentice'})
        .slider-story__item: +link-story({type: 'apprentice'})
        .slider-story__item: +link-story({type: 'apprentice'})
        .slider-story__item: +link-story({type: 'apprentice'})
        .slider-story__item: +link-story({type: 'apprentice'})
    else
      .slider-story__content.js-slider-story
        .slider-story__item: +link-story
        .slider-story__item: +link-story
        .slider-story__item: +link-story
        .slider-story__item: +link-story
        .slider-story__item: +link-story
        .slider-story__item: +link-story
