.slider-story {
  max-width: 95%;

  &--default {
    position: relative;

    .tns-outer {
      position: relative;

      &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        display: block;
        width: 246px;
        height: 100%;
        content: '';
        background: linear-gradient(
          270deg,
          #eef4fa 0%,
          #eef4fa 1.56%,
          #eef4fa 35.61%,
          rgba(238, 244, 250, 0) 100%
        );

        @include media-breakpoint-down(sm) {
          width: 167px;
        }
      }

      @include media-breakpoint-down(sm) {
        margin-right: -20px;
        margin-left: -20px;
      }
    }

    .tns-inner {

      @include media-breakpoint-down(sm) {
        position: relative;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 20px !important;
      }

      &:after {

        @include media-breakpoint-down(sm) {
          position: absolute;
          top: 0;
          right: 0;
          width: 78px;
          height: 100%;
          pointer-events: none;
          content: '';
          background: linear-gradient(
            270deg,
            #eef4fa 0%,
            #eef4fa 1.56%,
            rgba(238, 244, 250, 0) 100%
          );
        }
      }
    }

    .slider-story__item {
      //      @include media-breakpoint-down(sm) {
      //        min-width: 280px;
      //      }
    }

    .tns-controls button {

      @include media-breakpoint-down(sm) {
        width: 36px;
        height: 36px;
        opacity: 1;
      }

      svg {

        @include media-breakpoint-down(sm) {
          width: 12px;
          height: 24px;
        }

        path {

          @include media-breakpoint-down(sm) {
            stroke-width: 8px !important;
            stroke: #54afff !important;
          }
        }
      }
    }

    .tns-controls button:first-child {

      @include media-breakpoint-down(sm) {
        left: 0 !important;
      }
    }

    .tns-controls button:last-child {

      @include media-breakpoint-down(sm) {
        right: 0 !important;
      }
    }
  }

  &--yellow {

    .tns-outer {
      width: calc(100% + 60px);

      &:before {
        background: linear-gradient(-270deg, #fbdf5d 0%, rgba(251, 223, 93, 0) 100%) !important;
      }

      &:after {
        background: linear-gradient(270deg, #fbdf5d 0%, rgba(251, 223, 93, 0) 100%);
      }
    }

    .tns-inner {

      &:after {

        @include media-breakpoint-down(sm) {
          background: linear-gradient(270deg, #fbdf5d 0%, rgba(251, 223, 93, 0) 100%);
        }
      }
    }

    .tns-controls button:first-child {

      @include media-breakpoint-down(sm) {
        left: 0 !important;
      }
    }

    .tns-controls button:last-child {

      @include media-breakpoint-down(sm) {
        right: 0 !important;
      }
    }
  }

  &.is-scrolled {

    .tns-outer {

      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 167px;
        height: 100%;
        pointer-events: none;
        content: '';
        background: linear-gradient(
          -270deg,
          #eef4fa 0%,
          #eef4fa 1.56%,
          #eef4fa 35.61%,
          rgba(238, 244, 250, 0) 100%
        );

        @include media-breakpoint-down(sm) {
          //          left: -60px;
          //          width: 167px;
          display: none;
        }
      }

      &:after {
        width: 246px;

        @include media-breakpoint-down(sm) {
          //          width: 167px;
          width: 100px;
        }
      }
    }
  }

  &.is-right {

    .tns-outer {

      &:after {
        display: none;
      }
    }
  }
}
