.slider {
  position: relative;

  &__content {

    &--tasks {

      .slider__item {

        a {
          padding-top: 59.8%;
        }
      }
    }
  }

  &__caption {
    margin-top: 14px;
    max-width: 530px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-style: italic;
    color: $gray;
  }

  &__item {

    > a {
      padding-top: 57.6%;
      display: block;
      width: 408px;

      @include media-breakpoint-down(sm) {
        width: 276px;
      }
    }

    .video {
      min-width: 408px;
    }
  }

  &__content--images {

    a {
      position: relative;

      &:hover {

        &:after {
          background: rgba(0, 0, 0, .26);
        }

        &:before {
          opacity: 1;
        }
      }

      &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: transparent;
        transition: $transition-base;
      }

      &:before {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        display: block;
        width: 58px;
        height: 58px;
        opacity: 0;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' clip-path='url(%23clip0)'%3E%3Cpath d='M52.9692 49.9315L37.7878 34.269C41.1382 30.0246 42.7402 24.6605 42.2663 19.274C41.7924 13.8874 39.2782 8.88551 35.2381 5.29133C31.1981 1.69714 25.9374 -0.217674 20.5321 -0.0614535C15.1268 0.0947672 9.98549 2.31022 6.15975 6.13174C2.334 9.95326 0.112961 15.092 -0.0490644 20.497C-0.21109 25.9019 1.69814 31.1645 5.28811 35.2083C8.87807 39.2521 13.8775 41.7715 19.2637 42.2512C24.6499 42.7309 30.0158 41.1346 34.264 37.7889L49.453 53.457L49.5002 53.5005L53.0222 49.9844C52.9995 49.9674 52.9844 49.9485 52.9692 49.9315ZM21.1607 37.3581C17.9595 37.3566 14.8307 36.4061 12.1696 34.6268C9.50856 32.8474 7.43479 30.3191 6.21044 27.3614C4.9861 24.4037 4.66614 21.1494 5.29103 18.0099C5.91591 14.8705 7.45758 11.9867 9.72115 9.7232C11.9847 7.4597 14.8686 5.91808 18.0082 5.29322C21.1478 4.66836 24.4021 4.9883 27.3599 6.2126C30.3177 7.43691 32.8461 9.51062 34.6255 12.1716C36.4049 14.8326 37.3555 17.9613 37.357 21.1624C37.354 25.4568 35.6466 29.5745 32.6099 32.6112C29.5731 35.6478 25.4553 37.3551 21.1607 37.3581Z' fill='white'/%3E%3Cpath d='M23.6864 11.3125H18.7059V18.6471H11.3711V23.6274H18.7059V30.962H23.6864V23.6274H31.0212V18.6471H23.6864V11.3125Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='58' height='58' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        transition: $transition-base;
        transform: translate(-50%, -50%);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
      object-fit: cover;
    }
  }

  .tns-controls {

    button {
      top: calc(50% - 22px);
      left: 20px;
      margin: 0;

      @include media-breakpoint-down(sm) {
        top: 50%;
      }

      &:last-child {
        right: 20px;
        left: auto;
        margin: 0;
      }

      svg {

        @include media-breakpoint-down(sm) {
          width: 12px;
          height: 24px;
        }
      }
    }
  }

  .tns-outer {
    position: relative;

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      display: block;
      width: 246px;
      height: 100%;
      pointer-events: none;
      content: '';
      background: linear-gradient(
        270deg,
        #eef4fa 0%,
        #eef4fa 1.56%,
        #eef4fa 35.61%,
        rgba(238, 244, 250, 0) 100%
      );

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &--person {

    @include media-breakpoint-down(sm) {
      margin-right: -45px;
    }

    .tns-controls {

      button {

        svg path {
          stroke-width: 8px !important;
        }
      }

      button,
      button:last-child {
        top: 110px;
        opacity: 1;

        @include media-breakpoint-down(sm) {
          top: 130px;
        }
      }

      button:last-child {

        @include media-breakpoint-down(sm) {
          right: 65px;
        }
      }
    }

    .slider__item {

      @include media-breakpoint-down(sm) {
        padding-right: 16px !important;
      }

      > a {
        padding-top: 0;
        width: auto;
      }
    }
  }

  &--project {

    .tns-controls {

      button,
      button:last-child {
        top: 110px;

        @include media-breakpoint-down(sm) {
          top: 80px;
        }
      }
    }
  }

  &--video {

    .tns-controls {

      button,
      button:last-child {
        top: 111px;

        @include media-breakpoint-down(sm) {
          top: 70px;
        }
      }
    }
  }

  &.is-scrolled {

    .tns-outer {

      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 167px;
        height: 100%;
        pointer-events: none;
        content: '';
        background: linear-gradient(
          -270deg,
          #eef4fa 0%,
          #eef4fa 1.56%,
          #eef4fa 35.61%,
          rgba(238, 244, 250, 0) 100%
        );

        @include media-breakpoint-down(sm) {
          //          left: -60px;
          //          width: 167px;
          display: none;
        }
      }

      &:after {
        width: 246px;

        @include media-breakpoint-down(sm) {
          width: 167px;
        }
      }
    }
  }

  &.is-right {

    .tns-outer {

      &:after {
        display: none;
      }
    }
  }
}
