.popup-edit {
  padding: 40px 50px 0;
  overflow: visible;
  max-width: 706px;

  @include media-breakpoint-down(sm) {
    padding: 30px 20px 0;
  }

  .fancybox-close-small {
    position: absolute;
    top: 0;
    right: -38px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L23 23' stroke='white' stroke-width='2'/%3E%3Cpath d='M23 1L1 23' stroke='white' stroke-width='2'/%3E%3C/svg%3E");

    @include media-breakpoint-down(sm) {
      top: -38px;
      right: 0;
    }

    svg {
      display: none;
    }
  }

  &__parent {
    padding: 50px;

    @include media-breakpoint-down(sm) {
      padding: 50px 20px;
    }
  }

  &__bottom {
    margin-left: -50px;
    width: calc(100% + 100px);

    @include media-breakpoint-down(sm) {
      margin-left: -20px;
      width: calc(100% + 40px);
    }
  }

  &__save {
    width: 100%;
  }
}
