//------bootstrap custom styles
.container {
  padding-right: 20px;
  padding-left: 20px;

  &--max-content {
    padding-right: 0;
    padding-left: 0;
    max-width: 1440px;
  }
}

.btn {
  outline: none !important;

  &.btn-sm {
    padding: 12.5px 40px;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 0;

    @include media-breakpoint-down(sm) {
      padding: 12.5px 18px;
    }
  }
}

.btn-primary {
  position: relative;
  z-index: 2;
  color: #fff;

  @include media-breakpoint-down(sm) {
    min-width: 100%;
  }

  &:hover {
    color: #fff;
    background-color: #69b9ff;
    border-color: #69b9ff;

    svg {
      transform: translateX(5px);
    }
  }

  &:active {
    color: #fff;
    background: #4c9ee6;
    border-color: #69b9ff;
  }

  &:disabled {
    color: $white;
    background: #d2dce6;
    border-color: $white;
    cursor: default;
  }

  svg {
    margin-left: 10px;
    display: none;
    transition: $transition-base;
  }
}

.btn-outline-primary {

  &:hover {
    color: #fff;
  }
}

.btn-link {
  padding: 0;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;

  svg {
    margin-left: 6px;
    flex-shrink: 0;
    transition: $transition-base;
    transition-property: transform;
    transform-origin: center center;
  }

  &:hover {

    svg {
      transform: translateX(8px);
    }
  }

  &[aria-expanded]:hover {

    svg {
      transform: none;
    }
  }

  &[aria-expanded='true'] {

    svg {
      transform: rotate(-180deg) !important;
    }
  }

  &--icon {

    svg {
      margin-right: 8px;
    }

    &:hover {

      svg {
        transform: none;
      }
    }

    &[aria-expanded='true'] {

      svg {
        transform: none !important;
      }
    }
  }

  &--toggle-text {
    font-weight: normal;

    &[aria-expanded='true'] {

      span {
        display: none;
      }

      &:before {
        content: attr(data-close-text);
      }
    }
  }
}

.btn-collapse {
  margin-bottom: 0;
  padding: 19px 0;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  border-bottom: 1px solid #cad4df;
  transition: $transition-base;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 26px;
  }

  &:after {
    margin-left: auto;
    width: 20px;
    height: 11px;
    flex-shrink: 0;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 1.25L5.25 5.75L0.75 1.25' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 11px;
    transition: $transition-base;
    transform-origin: center center;
  }

  &[aria-expanded='true'] {
    border-color: transparent;

    &:after {
      transform: scale(1, -1);
    }
  }
}

.btn-soc {
  padding: 0;
  width: 35px;
  line-height: 1;
  transition: $transition-base;

  &:hover {
    opacity: .8;
  }
}

.btn-gotop {
  padding: 0;
  width: 48px;
  height: 48px;
  line-height: 43px;
  border: 1px solid #737f89;
  border-radius: 4px;

  &:hover {
    border-color: $dark;
  }
}

.btn-mark {
  padding: 0;
  width: 24px;
  height: 30px;
  line-height: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6338 17.5885L8.4857 11.4176C8.42226 11.3539 8.34693 11.3033 8.26402 11.2688C8.18112 11.2344 8.09225 11.2166 8.00251 11.2166C7.91276 11.2166 7.82389 11.2344 7.74099 11.2688C7.65808 11.3033 7.58275 11.3539 7.51931 11.4176L1.36624 17.589V0H7.021e-08V19.2442C-6.11919e-05 19.3798 0.0399698 19.5124 0.115028 19.6253C0.190085 19.7381 0.296797 19.826 0.421658 19.8779C0.54652 19.9298 0.683921 19.9434 0.816473 19.9169C0.949026 19.8905 1.07077 19.8251 1.16631 19.7292L8.00023 12.8694L14.8341 19.7292C14.9297 19.8249 15.0514 19.8902 15.1839 19.9166C15.3164 19.9429 15.4537 19.9293 15.5784 19.8774C15.7032 19.8255 15.8098 19.7377 15.8849 19.625C15.9599 19.5122 16 19.3797 16 19.2442V0H14.6338V17.5885Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6338 17.5885L8.4857 11.4176C8.42226 11.3539 8.34693 11.3033 8.26402 11.2688C8.18112 11.2344 8.09225 11.2166 8.00251 11.2166C7.91276 11.2166 7.82389 11.2344 7.74099 11.2688C7.65808 11.3033 7.58275 11.3539 7.51931 11.4176L1.36624 17.589V0H7.021e-08V19.2442C-6.11919e-05 19.3798 0.0399698 19.5124 0.115028 19.6253C0.190085 19.7381 0.296797 19.826 0.421658 19.8779C0.54652 19.9298 0.683921 19.9434 0.816473 19.9169C0.949026 19.8905 1.07077 19.8251 1.16631 19.7292L8.00023 12.8694L14.8341 19.7292C14.9297 19.8249 15.0514 19.8902 15.1839 19.9166C15.3164 19.9429 15.4537 19.9293 15.5784 19.8774C15.7032 19.8255 15.8098 19.7377 15.8849 19.625C15.9599 19.5122 16 19.3797 16 19.2442V0H14.6338V17.5885Z' fill='%23BE060C'/%3E%3C/svg%3E%0A");
  }

  &.is-check {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49063 11.9691C7.55753 11.9024 7.63696 11.8494 7.7244 11.8132C7.81184 11.7771 7.90557 11.7585 8.00022 11.7585C8.09487 11.7585 8.18859 11.7771 8.27603 11.8132C8.36347 11.8494 8.44291 11.9024 8.50981 11.9691L15 18.4423V0H1V18.4423L7.49063 11.9691Z' fill='%23FF3333'/%3E%3Cpath d='M14.6338 17.5885L8.4857 11.4176C8.42226 11.3539 8.34693 11.3033 8.26402 11.2688C8.18112 11.2344 8.09225 11.2166 8.00251 11.2166C7.91276 11.2166 7.82389 11.2344 7.74099 11.2688C7.65808 11.3033 7.58275 11.3539 7.51931 11.4176L1.36624 17.589V0H7.021e-08V19.2442C-6.11919e-05 19.3798 0.0399698 19.5124 0.115028 19.6253C0.190085 19.7381 0.296797 19.826 0.421658 19.8779C0.54652 19.9298 0.683921 19.9434 0.816473 19.9169C0.949026 19.8905 1.07077 19.8251 1.16631 19.7292L8.00023 12.8694L14.8341 19.7292C14.9297 19.8249 15.0514 19.8902 15.1839 19.9166C15.3164 19.9429 15.4537 19.9293 15.5784 19.8774C15.7032 19.8255 15.8098 19.7377 15.8849 19.625C15.9599 19.5122 16 19.3797 16 19.2442V0H14.6338V17.5885Z' fill='%23BE060C'/%3E%3C/svg%3E%0A");
  }
}

.btn-menu {
  padding: 0;
  height: auto;
  line-height: 1;
}

.btn-download {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 26px;
  color: $gray;
  border: 0 none;

  &:hover {
    color: $primary;
  }

  &:before {
    margin-right: 8px;
    display: block;
    width: 21px;
    height: 19px;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 12V17H18.1915V12H20.1915V19H1.00027L1 18L0 18V12H2ZM1 18L0 18V19H1.00027L1 18Z' fill='%2354AFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.33984 7.71074L5.74655 6.28906L10.0964 10.5931L14.4462 6.28906L15.8529 7.71074L10.0964 13.4067L4.33984 7.71074Z' fill='%2354AFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0938 0V12H9.09375V0H11.0938Z' fill='%2354AFFF'/%3E%3C/svg%3E");
  }
}

.collapse {

  &__content {
    padding-bottom: 24px;
    border-bottom: 1px solid #cad4df;
  }

  &__text {
    max-width: 678px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }
}
//------

//perfect-scroll
.ps__rail-y {
  width: 4px;

  .ps__thumb-y {
    right: 0;
    width: 100%;
    max-width: 100%;
    background: #bdbdbd;
    border-radius: 0;
  }
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  background: #ececec;
}

//fancybox

.fancybox-slide--html {
  padding: 10px;
}

.fancybox--menu {
  backdrop-filter: grayscale(1);

  .fancybox-slide--html {
    padding: 0;

    &:before {
      display: none;
    }
  }

  .fancybox-content {
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
  }
}

.fancybox-container {

  &--message {

    .fancybox-slide--html {
      padding: 0;
    }

    .fancybox-slide:before {
      vertical-align: top;
    }
  }
}

//tns
.tns-controls {

  button {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -40px;
    margin-top: -45px;
    opacity: .5;
    color: $primary;
    background-color: transparent;
    transition: $transition-base;

    &:hover {
      opacity: 1;
      color: $primary;
    }

    &[disabled] {
      visibility: hidden;
    }

    &:last-child {
      right: -20px;
      left: auto;
    }
  }
}
//forms
.form-group {
  position: relative;

  label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    color: rgba($gray, .6);
    transition: $transition-base;
    cursor: pointer;
  }

  &__psw-toggle {
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 0;
    background: transparent;
  }
}

.form-control {
  padding: 0 0 5px;
  height: auto;
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 26px;
  color: $dark;
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid $border-color;
  border-radius: 0;

  &::placeholder {
    opacity: 1;
    font-size: 18px;
    text-align: center;
    color: rgba(#737f89, .6);
  }

  &:focus,
  &.is-active {
    background: transparent;
    box-shadow: none;

    ~ label {
      top: -26px;
      bottom: 0;
      font-size: 13px;
    }
  }

  &--textarea {
    min-height: 190px;
    text-align: left;
    resize: none;

    @include placeholder(rgba(#737f89, .6));

    &:focus {
      border: 0;
      border-bottom: 1px solid #cad4df;
      outline: none;
      box-shadow: none;
    }

    &::-webkit-input-placeholder {
      text-align: left;
    }

    &::-moz-placeholder {
      text-align: left;
    }

    &:-ms-input-placeholder {
      text-align: left;
    }
  }
}

.custom-control {
  padding-left: 40px;
  min-height: 24px;
}

.custom-control-label {
  padding-top: 3px;
  font-size: 12px;
  line-height: 18px;
  color: $dark;
  cursor: pointer;

  &:after {
    display: none;
  }

  &:before {
    top: 0;
    left: -40px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' stroke='%23CAD4DF'/%3E%3C/svg%3E");
    border: 0 none;
  }

  &--lg {
    font-size: 18px;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
}

.custom-control-input {
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:checked {

    ~ .custom-control-label:before {
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' stroke='%23CAD4DF'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' stroke='%2354AFFF'/%3E%3Cpath d='M6 11.7333L10.1739 16L18 8' stroke='%2354AFFF' stroke-width='2'/%3E%3C/svg%3E");
    }
  }
}

//
.bg-yellow {
  background: $yellow;
}

// dropdown-menu
.dropdown-menu {

  &--share {
    margin-top: 10px;
    margin-left: -40px;
    padding: 20px;
    text-align: center;
    border: 0 none;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, .1));

    @include media-breakpoint-down(xs) {
      margin-left: 0;
    }

    a {
      margin: 0 8px;

      &:hover {

        svg path {
          fill: $primary;
        }
      }

      svg path {
        transition: $transition-base;
      }
    }

    .btn-download {
      margin: 20px 0 0;
    }
  }
}

.custom-checkbox {

  .custom-control-label {

    @include transition;

    &:hover {
      opacity: .8;
    }

    a {
      text-decoration: underline;
      color: inherit;
    }
  }
}

//select2
.selection,
.select2-selection,
.select2 {

  &:focus {
    outline: 0 !important;
  }
}

.select2-container {
  z-index: 99999;
}

.select2-dropdown {
  min-width: 150px;
  border: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .16);
}

.select2-results {
  width: 100%;
}

.select2-container--default .select2-results > .select2-results__options {
  width: 100%;
}

.select2-container--default .select2-selection--single {
  padding: 7px 0 13px;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid #cad4df;
  border-radius: 0;

  @include media-breakpoint-down(sm) {
    padding: 7px 0;
  }

  .select2-selection__rendered {
    padding: 0;
    font-size: 18px;
    line-height: 1;
    color: $black;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    &[title='Не выбрано'] {
      color: rgba(#737f89, .6);
    }
  }

  .select2-selection__placeholder {
    display: flex;
    font-size: 18px;
    color: $black;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    span {
      margin-left: 1px;
      font-size: 10px;

      @include media-breakpoint-down(sm) {
        font-size: 10px;
      }
    }
  }

  .select2-selection__arrow {
    position: static;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiPgo8cGF0aCBkPSJNMTYgMS43MDI3TDE0LjEzMzMgLTguMTU5NDZlLTA4TDggNS41OTQ1OUwxLjg2NjY3IC02LjE3Nzg4ZS0wN0wtNy40NDI3NGUtMDggMS43MDI3TDggOUwxNiAxLjcwMjdaIiBmaWxsPSIjNTRBRkZGIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDAiPgo8cmVjdCB3aWR0aD0iOSIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2KSByb3RhdGUoOTApIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
    }

    @include media-breakpoint-down(sm) {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
    }

    b {
      display: none;
    }
  }
}

.select2-container--default.select2-container--open .select2-selection--single {

  .select2-selection__arrow {
    transform: rotate(180deg);
  }
}

.select2-container--default .select2-results__option {
  padding: 6px;
  display: flex;
  width: 100%;
  min-height: 42px;
  align-items: center;
  font-size: 18px;

  &:hover,
  &--highlighted {
    color: $dark !important;
    background: #fbdf5d !important;
  }

  @include media-breakpoint-down(sm) {
    padding: 6px;
    font-size: 16px;
  }
}

/* Textarea counter */

.js-textarea-counter {

  &.limit {
    color: $secondary;
  }
}

/* Slick */

.slick-slide {

  &:focus {
    outline: none;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 40px;
  font-size: 0;
  background: url(../img/slick-arrow.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;

  &.slick-prev {
    margin-left: -160px;
    transform: rotate(180deg);
  }

  &.slick-next {
    transform: translateX(30px);
  }
}
