.ad {
  padding-right: 45px;
  padding-left: 30px;
  display: flex;
  overflow: hidden;
  width: 678px;
  height: 355px;
  justify-content: space-between;
  align-items: center;
  background: #c8e1fc;

  &__text {
    margin-top: 10px;
  }

  &__badge {
    margin-top: 24px;
    padding-top: 58px;
    padding-right: 18px;
    padding-left: 27px;
    max-width: 267px;
    align-self: flex-start;

    &:before {
      top: -35px;
      width: 98px;
      height: 81px;
      background: url(../img/badge-tail-ad.svg) no-repeat center;
      background-size: contain;
    }

    &:after {
      top: 18px;
      left: 18px;
      width: 20px;
      height: 50px;
      background-size: contain;
    }

    .badge-user__logo {
      display: none;
    }

    .badge-user__photo {
      margin-bottom: 10px;
      width: 97px;
      height: 97px;
    }

    .badge-user__card {
      padding: 15px 10px 15px 18px;
      min-height: 150px;
    }

    .badge-user__name {
      font-size: 20px;
      line-height: 1.1;
    }

    .badge-user__type {
      margin-top: 3px;
      font-size: 10px;
    }

    .badge-user__role {
      font-size: 10px;
      line-height: 1.2;
    }
  }
}
