
include ../blocks/footer/footer.pug
include ../blocks/section/section.pug
include ../blocks/badge-form/badge-form.pug
include ../blocks/section-list/section-list.pug
include ../blocks/card-speaker/card-speaker.pug
include ../blocks/front/front.pug
include ../blocks/btn/btn.pug
include ../blocks/video-place/video-place.pug
include ../blocks/chat/chat.pug
include ../blocks/msg/msg.pug
include ../blocks/parallax-letters/parallax-letters.pug
include ../blocks/privilege/privilege.pug
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/timetable/timetable.pug
include ../blocks/event/event.pug
include ../blocks/privilege-scroll/privilege-scroll.pug
include ../blocks/speaker-row/speaker-row.pug
include ../blocks/card/card.pug
include ../blocks/login/login.pug
include ../blocks/registration/registration.pug
include ../blocks/checkbox-tags/checkbox-tags.pug
include ../blocks/photo/photo.pug
include ../blocks/lesson/lesson.pug
include ../blocks/speaker/speaker.pug
include ../blocks/link-story/link-story.pug
include ../blocks/slider-story/slider-story.pug
include ../blocks/hall/hall.pug
include ../blocks/hall-row/hall-row.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/badge-user/badge-user.pug
include ../blocks/popup-edit/popup-edit.pug
include ../blocks/colors-select/colors-select.pug
include ../blocks/menu-aside/menu-aside.pug
include ../blocks/question/question.pug
include ../blocks/modal/modal.pug
include ../blocks/select/select.pug
include ../blocks/form/form.pug
include ../blocks/socials/socials.pug
include ../blocks/announcement/announcement.pug
include ../blocks/brands/brands.pug
include ../blocks/article/article.pug
include ../blocks/slider/slider.pug
include ../blocks/details/details.pug
include ../blocks/quote/quote.pug
include ../blocks/test-front/test-front.pug
include ../blocks/video/video.pug
include ../blocks/info/info.pug
include ../blocks/author/author.pug
include ../blocks/person/person.pug
include ../blocks/project/project.pug
include ../blocks/podcast/podcast.pug
include ../blocks/cover/cover.pug
include ../blocks/solo-slider/solo-slider.pug
include ../blocks/stats/stats.pug
include ../blocks/story/story.pug
include ../blocks/ad/ad.pug