mixin author(data)
  .author&attributes(attributes)
    .author__photo(style="background-image: url(./img/" + data.photo + ');')
    .author__content
      .author__name
        = data.firstName
        if data && data.lastName
          br
          = data.lastName
      p= data.dscr
