.author {
  margin-bottom: 40px;
  display: flex;

  &__photo {
    margin-right: 15px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  &__content {
    padding-top: 16px;
  }

  &__name {
    margin-bottom: 4px;
    font-family: $font-heavy;
    font-size: 12px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $secondary;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $gray;
  }
}
