.section-list {
  background-image: url(../img/rect-top.svg);
  background-repeat: no-repeat;
  background-position: right 50px;
  margin-top: 118px;

  @include media-breakpoint-down(md) {
    background-size: 60%;
  }

  @include media-breakpoint-down(sm) {
    margin-top: -160px;
    background-position: 254% 202px;
    background-size: 85%;
  }

  &__bg {
    position: relative;
    z-index: 1;
    padding-top: 35px;
    padding-bottom: 384px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      padding-top: 143px;
      padding-bottom: 320px;
    }

    &:before {
      position: absolute;
      top: 120px;
      left: calc(50% - 90px);
      display: block;
      width: 104%;
      min-width: 1473px;
      height: calc(100% - 440px);
      content: '';
      background-color: #fff;
      box-shadow: 0 21px 88.8679px rgba(0, 0, 0, .05);
      transform: translateX(-50%) rotate(10deg);
      transform-origin: center center;

      @include media-breakpoint-down(lg) {
        min-width: 1420px;
      }

      @include media-breakpoint-down(md) {
        top: 230px;
        min-width: 1300px;
        height: calc(100% - 368px);
        transform: translateX(-50%) rotate(10deg);
      }

      @include media-breakpoint-down(sm) {
        margin-top: 5px;
        margin-left: -37px;
        min-width: 140%;
        height: calc(100% - 461px);
      }
    }

    > .container {
      position: relative;
      z-index: 1;
      padding-top: 150px;
    }

    &--parallel {
      padding-top: 90px;

      @include media-breakpoint-down(sm) {
        margin-top: 40px;
      }

      &:before {
        top: 180px;
        width: 125%;
        box-shadow: 50px -21px 88px rgba(84, 175, 255, .15);
        transform: translateX(-50%) rotate(10deg);

        @media (max-width: 1440px) {
          min-width: 140%;
        }

        @include media-breakpoint-down(lg) {
          min-width: 150%;
        }

        @include media-breakpoint-down(md) {
          min-width: 160%;
        }

        @include media-breakpoint-down(sm) {
          min-width: 175%;
        }

        @include media-breakpoint-down(xs) {
          min-width: 300%;
        }
      }
    }
  }

  &__bottom {
    padding-top: 156px;

    @include media-breakpoint-down(sm) {
      padding-top: 57px;
    }
  }

  &__photo {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      margin-left: -20px;
      max-width: 87%;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__footer {
    margin-top: -500px;
    padding-top: 500px;
    padding-bottom: 84px;
    background-color: $yellow;
    background-image: url(../img/rect-bottom.svg);
    background-repeat: no-repeat;
    background-position: left top;

    @include media-breakpoint-down(md) {
      margin-top: -310px;
      padding-top: 300px;
      background-size: 60%;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 158px;
      background-position: -66px -156px;
      background-size: 85%;
    }

    @include media-breakpoint-down(xs) {
      background-position: -122px -13.5vw;
      background-size: 100%;
    }
  }

  &__story-img {
    text-align: right;

    @include media-breakpoint-down(m) {
      margin-bottom: 30px;
    }

    img {
      margin-top: -100px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }
  }

  &--bg-top-none {
    background-image: none;
  }
}
