.menu-aside {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 21px;

  @include media-breakpoint-down(lg) {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 20px;
  }

  @include media-breakpoint-down(xs) {
    margin: 0 -20px;
    padding: 0 20px 20px;
    display: block;
    overflow: auto;
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap;
  }

  li {
    margin-bottom: 30px;

    @include media-breakpoint-down(lg) {
      margin-right: auto;
      margin-bottom: 15px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 30px;
      margin-bottom: 0;
      display: inline-block;
      white-space: nowrap;
    }
  }

  a {
    font-weight: 400;
    color: $gray;
    transition: $transition-base;

    &:hover {
      color: $primary;
    }

    &.is-active {
      font-weight: 500;
      color: $primary;
    }
  }
}
