mixin menu-aside(data)
  ul.menu-aside&attributes(attributes)
    li: a(href="#").is-active Главная сцена
    li: a(href="#") Учительская
    li: a(href="#") Кабинет директора
    li: a(href="#") Клуб программирования
    li: a(href="#") Кафедра
    li: a(href="#") Лаборатория образования
