mixin chat(data={type:'default'})
  .chat&attributes(attributes)
    .chat__blocked Этот участник не хочет, чтобы ему отправляли личные сообщения
      a.chat__blocked-close(href="#")
    case data.type
      when 'full'
        .chat__col.chat__col--left#chat-main
          .chat__header.chat__header--search
            input.chat__input.chat__input--search(name="chat-search" placeholder="Поиск")
          .chat__body: .chat__scroll.js-chat-scroll
            +msg({
              img: 'msg-user-1.png',
              name: 'Михаил Иванов',
              text: 'Вы: Текст генерируется...',
              time: '09:38'
            }).msg--short.msg--letters-yellow
            +msg({
              img: 'msg-user-2.png',
              name: 'Геннадий Старков',
              text: 'Что позволяет сделать текст текст текст текст',
              time: '09:39'
            }).msg--short.is-selected.msg--letters-red
            +msg({
              img: 'msg-user-3.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: '09:38'
            }).msg--short.msg--letters-blue
            +msg({
              img: 'msg-user-4.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: 'Вчера'
            }).msg--short.msg--letters-gray
            +msg({
              img: 'msg-user-5.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: 'Вт'
            }).msg--short.msg--letters-black
            +msg({
              img: 'msg-user-6.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: '09:38'
            }).msg--short
            +msg({
              img: 'msg-user-7.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: 'Вчера'
            }).msg--short
            +msg({
              img: 'msg-user-1.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: 'Вт'
            }).msg--short
            +msg({
              img: 'msg-user-2.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: 'Вт'
            }).msg--short
            +msg({
              img: 'msg-user-3.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: '09:38'
            }).msg--short
            +msg({
              img: 'msg-user-4.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: 'Вчера'
            }).msg--short
            +msg({
              img: 'msg-user-5.png',
              name: 'Анатолий Рудаковский',
              text: 'Добрый день!',
              time: 'Вт'
            }).msg--short
        .chat__col.chat__col--right.d-md-flex#chat-right
          .chat__header.chat__header--title
            a(href="javascript:;" onclick="closeChatStory()").chat__back.d-md-none.
              <svg width="8" height="12" viewBox="0 0 8 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5182 -6.47716e-08L8 1.4662L3.51393 6L8 10.5338L6.5182 12L0.581357 6L6.5182 -6.47716e-08Z" fill="#54AFFF"/></svg>
            .chat__title Геннадий Старков
            .chat__head-photo.d-md-none: img(src="./img/msg-user.png" alt="")
          .chat__body: .chat__scroll.js-chat-scroll
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text.msg--letters-yellow
            +msg({
              img: 'msg-user.png',
              name: 'Геннадий',
              text: 'А начинающему оратору отточить навык публичных выступлений в домашних условиях',
              modal: true,
              time: '09:12'
            }).msg--text.msg--letters-blue
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text.msg--letters-red
            +msg({
              img: 'msg-user.png',
              name: 'Геннадий',
              text: 'А начинающему оратору отточить навык публичных выступлений в домашних условиях',
              modal: true,
              time: '09:12'
            }).msg--text.msg--letters-black
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text.msg--letters-gray
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text
            +msg({
              img: 'msg-user.png',
              name: 'Александр',
              text: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке',
              modal: true,
              check: true,
              time: '09:12'
            }).msg--text
          form(method="GET" action="./").chat__footer
            input.chat__input(name="msg" placeholder="Написать сообщение")
            button(type="submit").chat__send.
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M18.7327 9.56674L1.26596 0.660139C0.772669 0.408608 0.213187 0.862773 0.354823 1.40051L2.43701 9.30721C2.50269 9.55666 2.70987 9.74272 2.96383 9.78039L5.401 10.1421L2.96383 10.5038C2.70987 10.5415 2.50266 10.7276 2.43698 10.977L0.354783 18.8837C0.213088 19.4219 0.773054 19.8754 1.26595 19.6241L18.7327 10.7175C19.2016 10.4782 19.1995 9.80464 18.7327 9.56674ZM1.96261 17.8218L3.57002 11.7181L9.88914 10.7803C10.204 10.7335 10.4373 10.4619 10.4373 10.142C10.4374 9.82215 10.204 9.55052 9.88914 9.50379L3.56999 8.56601L1.96265 2.46229L17.0235 10.1421L1.96261 17.8218Z" fill="currentColor"/>
              </svg>
      default
        .chat__header
          a(href="#").chat__link.
            <svg width="31" height="22" viewBox="0 0 31 22" fill="none">
            <path d="M16.4896 7.48957C18.095 5.88417 20.2296 5 22.5 5C24.7704 5 26.905 5.88417 28.5104 7.48957C30.1158 9.09504 31 11.2296 31 13.5C31 14.9976 30.607 16.4627 29.8616 17.7514L31 22L26.7514 20.8616C25.4627 21.607 23.9976 22 22.5 22C20.2296 22 18.095 21.1158 16.4896 19.5104C14.8842 17.905 14 15.7704 14 13.5C14 11.2296 14.8842 9.09504 16.4896 7.48957ZM22.5 21.0039C23.8864 21.0039 25.2408 20.6227 26.4168 19.9015L26.5993 19.7896L29.5913 20.5914L28.7896 17.5993L28.9015 17.4168C29.6227 16.2408 30.0039 14.8864 30.0039 13.5C30.0039 9.36233 26.6377 5.99609 22.5 5.99609C18.3623 5.99609 14.9961 9.36233 14.9961 13.5C14.9961 17.6377 18.3623 21.0039 22.5 21.0039Z" fill="currentColor"/>
            <path d="M2 15L1 19L4.5 18L6.5 18.5L8.5 19.5H11.5L14 18.5L17 16.5L19 13.5L19.5 10.5L19 7L16.5 3L12.5 0.5H8.5L5 2L2 5L1 8L0.5 11L1.5 13L2 15Z" fill="white"/>
            <path d="M17.0711 2.92891C15.1823 1.0402 12.6711 0 10 0C7.32891 0 4.8177 1.0402 2.92891 2.92891C1.0402 4.8177 0 7.32891 0 10C0 11.7619 0.462344 13.4856 1.3393 15.0016L0 20L4.9984 18.6607C6.51441 19.5377 8.23809 20 10 20C12.6711 20 15.1823 18.9598 17.0711 17.0711C18.9598 15.1823 20 12.6711 20 10C20 7.32891 18.9598 4.8177 17.0711 2.92891ZM10 18.8281C8.36895 18.8281 6.77551 18.3797 5.39199 17.5312L5.1773 17.3996L1.65727 18.3428L2.60047 14.8227L2.46883 14.608C1.62031 13.2245 1.17188 11.6311 1.17188 10C1.17188 5.13215 5.13215 1.17188 10 1.17188C14.8679 1.17188 18.8281 5.13215 18.8281 10C18.8281 14.8679 14.8679 18.8281 10 18.8281Z" fill="currentColor"/>
            </svg>
            Обсуждение
          a(href="#").chat__link.is-active.
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M17.0711 2.92891C15.1823 1.0402 12.6711 0 10 0C7.32891 0 4.8177 1.0402 2.92891 2.92891C1.0402 4.8177 0 7.32891 0 10C0 11.7619 0.462344 13.4856 1.3393 15.0016L0 20L4.9984 18.6607C6.51441 19.5377 8.23809 20 10 20C12.6711 20 15.1823 18.9598 17.0711 17.0711C18.9598 15.1823 20 12.6711 20 10C20 7.32891 18.9598 4.8177 17.0711 2.92891ZM10 18.8281C8.36895 18.8281 6.77551 18.3797 5.39199 17.5312L5.1773 17.3996L1.65727 18.3428L2.60047 14.8227L2.46883 14.608C1.62031 13.2245 1.17188 11.6311 1.17188 10C1.17188 5.13215 5.13215 1.17188 10 1.17188C14.8679 1.17188 18.8281 5.13215 18.8281 10C18.8281 14.8679 14.8679 18.8281 10 18.8281Z" fill="currentColor"/>
            <path d="M10.5859 13.8086H9.41406V14.9805H10.5859V13.8086Z" fill="currentColor"/>
            <path d="M10 5.01953C8.38457 5.01953 7.07031 6.33379 7.07031 7.94922H8.24219C8.24219 6.97996 9.03074 6.19141 10 6.19141C10.9693 6.19141 11.7578 6.97996 11.7578 7.94922C11.7578 8.38207 11.5988 8.79812 11.3099 9.1209L9.41406 11.2411V12.6367H10.5859V11.6886L12.1833 9.9023C12.6646 9.36445 12.9297 8.6709 12.9297 7.94922C12.9297 6.33379 11.6154 5.01953 10 5.01953Z" fill="currentColor"/>
            </svg>
            Вопрос спикеру
        .chat__body
          .chat__content
            .chat__scroll.js-chat-scroll
              +msg({
                img: 'default-user.svg',
                name: 'Александр Пак',
                text: 'Когда начало?',
                modal: true,
                time: '09:38'
              }).msg--letters-yellow
              +msg({
                img: 'msg-user.png',
                name: 'Дмитрий Иванов',
                modal: true,
                text: 'В 10:00',
                time: '09:39'
              }).msg--letters-red
              +msg({
                img: 'default-user.svg',
                name: 'Александр Пак',
                modal: true,
                text: 'Когда начало?',
                time: '09:38'
              }).msg--letters-blue
              +msg({
                img: 'msg-user.png',
                name: 'Дмитрий Иванов',
                modal: true,
                text: 'В 10:00',
                time: '09:39'
              }).msg--letters-gray
              +msg({
                img: 'default-user.svg',
                name: 'Александр Пак',
                modal: true,
                text: 'Когда начало?',
                time: '09:38'
              }).msg--letters-black
              +msg({
                img: 'msg-user.png',
                name: 'Дмитрий Иванов',
                modal: true,
                text: 'В 10:00',
                time: '09:39'
              })
              +msg({
                img: 'default-user.svg',
                name: 'Александр Пак',
                modal: true,
                text: 'Когда начало?',
                time: '09:38'
              })
              +msg({
                img: 'msg-user.png',
                name: 'Дмитрий Иванов',
                modal: true,
                text: 'В 10:00',
                time: '09:39'
              })
              +msg({
                img: 'default-user.svg',
                name: 'Александр Пак',
                modal: true,
                text: 'Когда начало?',
                time: '09:38'
              })
              +msg({
                img: 'msg-user.png',
                name: 'Дмитрий Иванов',
                modal: true,
                text: 'В 10:00',
                time: '09:39'
              })
            .chat__content-footer
              form(method="GET" action="./").chat__footer
                input.chat__input(name="msg" placeholder="Написать сообщение")
                button(type="submit").chat__send.
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M18.7327 9.56674L1.26596 0.660139C0.772669 0.408608 0.213187 0.862773 0.354823 1.40051L2.43701 9.30721C2.50269 9.55666 2.70987 9.74272 2.96383 9.78039L5.401 10.1421L2.96383 10.5038C2.70987 10.5415 2.50266 10.7276 2.43698 10.977L0.354783 18.8837C0.213088 19.4219 0.773054 19.8754 1.26595 19.6241L18.7327 10.7175C19.2016 10.4782 19.1995 9.80464 18.7327 9.56674ZM1.96261 17.8218L3.57002 11.7181L9.88914 10.7803C10.204 10.7335 10.4373 10.4619 10.4373 10.142C10.4374 9.82215 10.204 9.55052 9.88914 9.50379L3.56999 8.56601L1.96265 2.46229L17.0235 10.1421L1.96261 17.8218Z" fill="currentColor"/>
                  </svg>
          .chat__content.is-active
            //.chat__content-text
              p.mb-0 Вопросов пока нет. 
                a.text-gray.text-underline.d-block.d-sm-inline(href="#question", data-fancybox) Задайте первый.
            .chat__scroll.js-chat-scroll
              +question({
                from: 'Александр Ларьяновский',
                to: 'Константин Салтыков-Щедрин',
                content: 'Сколько стоит обучение в вашей школе?',
                time: '11:15',
                likes: '1'
              })
              +question({
                from: 'Александр Ларьяновский',
                to: 'Игорь Катамаранов',
                content: 'Подскажите, сколько максимум детей может быть в одной группе?',
                time: '11:27',
                likes: '3',
                modifier: 'liked',
                answer: true
              })
              +question({
                from: 'Елена Бунина',
                to: 'Константин Салтыков-Щедрин',
                content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?',
                time: '11:27',
                likes: '0'
              })
              +question({
                from: 'Александр Ларьяновский',
                to: 'Константин Салтыков-Щедрин',
                content: 'Сколько стоит обучение в вашей школе?',
                time: '11:15',
                likes: '1'
              })
              +question({
                from: 'Александр Ларьяновский',
                to: 'Игорь Катамаранов',
                content: 'Подскажите, сколько максимум детей может быть в одной группе?',
                time: '11:27',
                likes: '3',
                modifier: 'answer'
              })
              +question({
                from: 'Елена Бунина',
                to: 'Константин Салтыков-Щедрин',
                content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?',
                time: '11:27',
                likes: '0'
              })
            .chat__content-footer
              a.btn.btn-primary.chat__question-btn.w-100(href="#question", data-fancybox) Задать вопрос
              +modal({
                modifier: 'question'
              })#question
