.chat {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #f9f9f9;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .12);

  @include media-breakpoint-down(md) {
    height: 514px;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__content {
    position: relative;
    display: none;
    flex-grow: 1;

    &.is-active {
      display: flex;
    }
  }

  &__content-footer {
    margin-top: auto;
    width: 100%;
  }

  &__header {
    display: flex;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .14);

    &--search {
      position: relative;
      border-right: 1px solid rgba(0, 0, 0, .14);

      @include media-breakpoint-down(sm) {
        border-right: 0;
      }

      &:after {
        position: absolute;
        top: 50%;
        right: 26px;
        display: block;
        width: 17px;
        height: 17px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.31579 13.6316C10.8039 13.6316 13.6316 10.8039 13.6316 7.31579C13.6316 3.82767 10.8039 1 7.31579 1C3.82767 1 1 3.82767 1 7.31579C1 10.8039 3.82767 13.6316 7.31579 13.6316Z' stroke='%23737F89' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.9968 16.0007L11.7734 11.7773' stroke='%23737F89' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E");
        transform: translateY(-50%);
      }
    }

    &--title {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: $primary;
    }
  }

  &__link {
    display: flex;
    width: 50%;
    height: 46px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: $gray;

    &:first-child {
      border-right: 1px solid rgba(0, 0, 0, .14);
    }

    svg {
      margin-right: 8px;
    }

    &:hover {
      color: $primary;
    }

    &.is-active {
      color: $primary;
    }
  }

  &__footer {
    display: flex;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, .14);
  }

  &__input {
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 46px);
    height: 46px;
    font-size: 14px;
    background-color: #fff;
    border: none;

    @include placeholder(#b2b2b2);

    &--search {
      padding-right: 55px;
      width: 100%;
      height: 100%;
    }
  }

  &__send {
    padding-left: 2px;
    display: flex;
    height: 46px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: $primary;
    background-color: transparent;
    border-left: 1px solid rgba(0, 0, 0, .14);
  }

  &__scroll {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 46px);

    .ps__rail-y {
      opacity: 1 !important;
    }
  }

  &__scroll-wrapper {
    position: relative;

    &:after {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 46px;
      content: '';
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    }
  }

  &__col {
    display: flex;
    height: 580px;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &--left {
      width: 348px;
      flex-shrink: 0;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    &--right {
      display: none;
      flex-grow: 1;

      &.is-show {

        @include media-breakpoint-down(sm) {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          display: flex;
          width: 100%;
          height: 100%;
          background: #f9f9f9;
        }
      }

      .chat__header--title {

        @include media-breakpoint-down(sm) {
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .chat__title {

        @include media-breakpoint-down(sm) {
          overflow: hidden;
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: $body-color;
        }
      }
    }
  }

  &__back {
    margin-right: 10px;
  }

  &__head-photo {
    margin-left: 10px;
  }

  &__blocked {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    padding: 11px 30px 11px 18px;
    width: calc(100% - 20px);
    background: #fbdf5d;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
  }

  &__blocked-close {
    position: absolute;
    top: 6px;
    right: 6px;
    display: block;
    width: 18px;
    height: 17px;
    background: url(../img/close-dark.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__question-btn {
    padding: 0 18px;
    font-size: 16px;
  }

  &__content-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100% - 46px);
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &--full {
    flex-direction: row;
    flex-wrap: nowrap;

    @include media-breakpoint-down(md) {
      position: relative;
      height: auto;
    }

    .chat__header {
      height: 46px;
    }

    .chat__scroll {
      height: 100%;
    }

    .chat__col--left {

      .chat__scroll {
        background: $white;
      }
    }

    .msg {
      transition: $transition-base;

      @include media-breakpoint-down(md) {
        padding-right: 15px;
        padding-left: 10px;
      }

      &.is-selected,
      &:hover {
        background: #f9f9f9;
      }
    }

    .msg__photo {
      width: 50px;
      height: 50px;
    }
  }
}
