.colors-select {
  display: flex;
  align-items: center;

  &__title {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 26px;
    color: rgba($gray, .6);
  }

  &__item {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    input[type='radio'] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:checked ~ .colors-select__color {
        border-color: #54afff;
      }
    }
  }

  &__color {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 100%;
    transition: $transition-base;

    &:after {
      display: block;
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #ebebeb;
      border-radius: 100%;
    }

    &.is-red {

      &:after {
        background: #ea4840;
      }
    }

    &.is-yellow {

      &:after {
        background: #f9df77;
      }
    }

    &.is-black {

      &:after {
        background: #3b3b3b;
      }
    }

    &.is-gray {

      &:after {
        background: #f0f4f9;
      }
    }

    &.is-blue {

      &:after {
        background: #6badf8;
      }
    }
  }
}
