mixin colors-select(data)
  .colors-select&attributes(attributes)
    label.colors-select__item
      input(type="radio" name="badge-color")
      span.colors-select__color.is-red
    label.colors-select__item
      input(type="radio" name="badge-color" checked)
      span.colors-select__color.is-yellow
    label.colors-select__item
      input(type="radio" name="badge-color")
      span.colors-select__color.is-black
    label.colors-select__item
      input(type="radio" name="badge-color")
      span.colors-select__color.is-gray
    label.colors-select__item
      input(type="radio" name="badge-color")
      span.colors-select__color.is-blue
