mixin privilege(data)
  .privilege&attributes(attributes)
    .privilege__img-wrap
      img(src=`./img/${data.img}` alt)
    .privilege__content
      h3.privilege__title !{data.title}
      p !{data.text}
