.privilege {
  margin-bottom: 54px;
  display: flex;

  @include make-col(7);

  @include media-breakpoint-down(lg) {

    @include make-col(9);
  }

  @include media-breakpoint-down(md) {

    @include make-col(12);
  }

  @include media-breakpoint-down(sm) {
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 20px 20px 0;
    display: block;
    width: 276px;
    max-width: 276px;
    background: #ffffff;
    box-shadow: 0 12px 24px rgba(84, 175, 255, .25);
  }

  &__img-wrap {
    padding-top: 40px;
    padding-right: 17px;
    display: flex;
    width: 264px;
    justify-content: flex-end;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-top: -54px;
      margin-bottom: 10px;
      padding-top: 0;
      padding-right: 40px;
      height: 200px;
      justify-content: center;
    }
  }

  &__content {
    padding-top: 30px;
    padding-left: 15px;

    @include media-breakpoint-down(sm) {
      margin-top: -30px;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 20px;
    }

    p {

      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__title {
    margin-bottom: 15px;

    @include media-breakpoint-down(sm) {
      padding-right: 30px;
    }
  }

  &--odd {
    margin-left: auto;

    .privilege__content {

      @include media-breakpoint-only(md) {
        padding-right: 15px;
        padding-left: 0;
        order: -1;
      }
    }
  }
}
