.project {
  width: 408px;

  @include media-breakpoint-down(sm) {
    width: 276px;
  }

  &__picture {
    position: relative;
    margin-bottom: 20px;
    padding-top: 57.35%;
    display: block;
    width: 100%;

    @include transition;

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .4);
    }

    &:after {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      display: block;
      width: 90px;
      height: 90px;
      content: '';
      background: url(../img/info-play.svg) no-repeat center;
      background-size: contain;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        width: 60px;
        height: 60px;
      }
    }

    &:hover {
      opacity: .8;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  &__content {

    h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: normal;
      color: $dark;
    }

    p {
      padding: 0;
      font-size: 18px;
      line-height: 26px;
      font-weight: normal;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 36px;
    font-weight: normal;
    color: $primary;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

    &:hover {

      path {
        fill: $secondary;
      }
    }

    svg {
      margin-left: 8px;
    }

    path {
      transition: $transition-base;
    }
  }
}
