mixin project(data)
  .project&attributes(attributes)
    a.project__picture(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox)
      img.project__picture-img(src="./img/" + data.poster, alt)
    .project__content
      h3.sm.mb-10= data.title
      p.text-dark.mb-40= data.dscr
      a.project__link(href="#") 
        | Изучить подробнее на GitLab
        <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.59375 15.5859C2.78906 14.2266 3.65625 13.3125 5.32031 11.5781L9 7.82812L5.32031 4.05469C3.65625 2.34375 2.8125 1.40625 1.61719 0L0.0234375 1.42969C1.26562 2.60156 2.08594 3.46875 3.84375 5.25L6.44531 7.89844L3.84375 10.5703C2.10938 12.3516 1.26562 13.0781 0 14.2734L1.59375 15.5859Z" fill="#54AFFF"/>
        </svg>
