mixin btn(data)
  a(href="#").btn&attributes(attributes) <span>!{data.text}</span>
    case data.type
      when 'toggle'
        <svg width="12" height="7" viewBox="0 0 12 7" fill="none">
        <path d="M12 1.29756L10.6 -6.11959e-08L6 4.26341L1.4 -4.63341e-07L-5.67181e-08 1.29756L6 6.85854L12 1.29756Z" fill="currentColor"/>
        </svg>
      when 'link'
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none">
        <path d="M1.29756 0L0 1.4L4.26341 6L0 10.6L1.29756 12L6.85854 6L1.29756 0Z" fill="currentColor"/>
        </svg>
      default
        <svg width="9" height="16" viewBox="0 0 9 16" fill="none">
        <path d="M1.59375 15.5859C2.78906 14.2266 3.65625 13.3125 5.32031 11.5781L9 7.82812L5.32031 4.05469C3.65625 2.34375 2.8125 1.40625 1.61719 0L0.0234375 1.42969C1.26562 2.60156 2.08594 3.46875 3.84375 5.25L6.44531 7.89844L3.84375 10.5703C2.10938 12.3516 1.26562 13.0781 0 14.2734L1.59375 15.5859Z" fill="currentColor"/>
        </svg>
