section.section.mb-100: .container
  h2.section__title.mb-20.mb-md-60 Вопросы и ответы
  ul#faq.ul-reboot.mb-30.mb-md-60
    li
      h5.btn.btn-collapse(data-toggle="collapse" data-target="#faq1") Нужно ли платить за участие в конференции?
      .collapse#faq1(data-parent="#faq")
        .collapse__content
          p.collapse__text.
            Смотреть доклады можно и без регистрации, но чтобы задавать вопросы докладчикам и общаться с другими участниками конференции, надо представиться и получить <a href="#">виртуальный бейдж</a>.
    li
      h5.btn.btn-collapse(data-toggle="collapse" data-target="#faq2") Нужно ли регистрироваться?
      .collapse#faq2(data-parent="#faq")
        .collapse__content
          p.collapse__text.
            Смотреть доклады можно и без регистрации, но чтобы задавать вопросы докладчикам и общаться с другими участниками конференции, надо представиться и получить <a href="#">виртуальный бейдж</a>.
    li
      h5.btn.btn-collapse(data-toggle="collapse" data-target="#faq3") Можно ли будет посмотреть конференцию в записи?
      .collapse#faq3(data-parent="#faq")
        .collapse__content
          p.collapse__text.
            Смотреть доклады можно и без регистрации, но чтобы задавать вопросы докладчикам и общаться с другими участниками конференции, надо представиться и получить <a href="#">виртуальный бейдж</a>.
    li
      h5.btn.btn-collapse(data-toggle="collapse" data-target="#faq4") Как задавать вопросы докладчикам?
      .collapse#faq4(data-parent="#faq")
        .collapse__content
          p.collapse__text.
            Смотреть доклады можно и без регистрации, но чтобы задавать вопросы докладчикам и общаться с другими участниками конференции, надо представиться и получить <a href="#">виртуальный бейдж</a>.
    li
      h5.btn.btn-collapse(data-toggle="collapse" data-target="#faq5") Где пройдёт конференция?
      .collapse#faq5(data-parent="#faq")
        .collapse__content
          p.collapse__text.
            Смотреть доклады можно и без регистрации, но чтобы задавать вопросы докладчикам и общаться с другими участниками конференции, надо представиться и получить <a href="#">виртуальный бейдж</a>.
  .p.p--xl Если у вас остались вопросы о конференции, <a href="#">задайте их в чате</a> — мы поможем.
