section.section.section--reg: .container: .row
  .col-xl-6.section__left
    h2.section__title.mb-40.mb-md-80 Регистрируйтесь и общайтесь
    p.mb-30.mb-md-50.pr-lg-100.
      Как на обычной конференции, предлагаем сначала получить бейдж — так спикеры и другие гости будут знать, с кем общаются. Смотреть трансляции можно и без регистрации, 
      а с бейджем вы сможете:
    ul.ul-default.text-dark
      li Общаться с другими участниками
      li Задавать вопросы спикерам
      li Составить себе личное расписание докладов
      li Получать напоминания о начале докладов
      li Получать рекомендации на основе ваших интересов
  .col-xl-6.d-flex.justify-content-lg-end
    +badge-form
