section.section.section--privilege
  .container
    h2.section__title.mb-40.mb-lg-85 ОБРАЗОВАНИЕ <br>СО ВЗГЛЯДОМ <br>В БУДУЩЕЕ
    .section__parallax.d-none.d-lg-flex.justify-content-end
      img(src="./img/main-picture.png", alt)
    .col-lg-7.px-0.mb-15.mb-md-60.pr-lg-30: p.
      Yet another Conference on Education — конференция Яндекса о людях и
      технологиях,
      а ещё о том, как они переплетаются и взаимодействуют в образовании.
      Весной это стало реальностью для всех — и сегодня
      мы вместе с вами пытаемся осмыслить неожиданный опыт этого года,
      обсуждаем новости и строим смелые планы.
  +privilege-scroll
