section.section.section--video: .container
  .row
    .col-lg-8.pb-25
      +video-place
    .col-lg-4.d-flex.order-1.order-lg-0.pb-25
      +chat
    .col-lg-8
      h3.display-3.mb-10 Технологии в образовании: страхи и возможности
      table.p.text-dark.mb-10.mb-md-20
        td.align-top.pr-20.section__video-time 15:30
        td.align-top Кирилл Медведев / «Новая школа»
      .collapse.d-lg-block#cl1
        p.
          Новые технологии помогают решить многие вопросы в образовании. Например, можно ли учителю не проверять тетради и контрольные работы или как на занятиях превратить гаджеты в помощников. На встрече поговорим о том, в чем основная роль учителя в образовании и как технологии помогают концентрироваться на главном. Разберем, почему мы боимся доверить технологиям нашу работу, узнаем, как страх трансформировать в задачу и открыть для себя новые возможности.
      +btn({text: 'О докладе',type:'toggle'})(class="btn-link mb-20 d-lg-none" data-toggle="collapse" data-target="#cl1" aria-expanded="")
    .col-lg-4.text-center.order-1.order-lg-0
      p.text-dark.text-left.text-sm-center.  
        <a href="#announcement" data-fancybox>Получите бейдж</a>, чтобы общаться с гостями и спикерами конференции
