mixin section(data)
  case data.type
    when 'video'
      section.section.section--video&attributes(attributes): .container
        .row
          .col-lg-8.pb-25
            +video-place
          .col-lg-4.d-flex.order-1.order-lg-0.pb-25
            +chat
          if block
            block
          .col-lg-4.text-center.order-1.order-lg-0
            p.text-dark.text-left.text-sm-center.  
              <a href="#announcement" data-fancybox>Получите бейдж</a>, чтобы общаться с гостями
              и спикерами конференции
    default
      section.section&attributes(attributes): .container
        if block
          block
