.section {

  &__video-time {

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      color: #737f89;
    }
  }

  &--privilege {
    position: relative;
    padding-top: 138px;
    padding-bottom: 85px;

    @include media-breakpoint-down(md) {
      padding-top: 60px;
      padding-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }
  }

  &--reg {
    padding-bottom: 126px;
    overflow: hidden;
    width: 100%;

    @include media-breakpoint-down(sm) {
      padding-bottom: 60px;
    }

    .section__left {
      padding-top: 135px;

      @include media-breakpoint-down(sm) {
        padding-top: 50px;
      }
    }
  }

  &__parallax {
    position: absolute;
    top: 9rem;
    right: 0;
    width: 45%;
    max-width: 45rem;
  }

  &--last {
    margin-top: -500px;
    padding-top: 337px;
    padding-bottom: 140px;
    background-color: $yellow;
    background-image: url(../img/rect-bottom2.svg);
    background-repeat: no-repeat;
    background-position: left top -153px;

    @include media-breakpoint-down(md) {
      margin-top: -300px;
      padding-top: 300px;
      background-position: left top 20px;
      background-size: 60%;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 158px;
      padding-bottom: 60px;
      background-position: -66px -156px;
      background-size: 85%;
    }

    @include media-breakpoint-down(xs) {
      background-position: -66px -10vw;
    }
  }

  &--myprogram {

    @include media-breakpoint-down(xs) {
      position: relative;
      padding-bottom: 25px;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: -200px;
      display: none;
      width: 235px;
      height: 160px;
      content: '';
      background: transparent url(../img/rect-bottom3.svg) bottom right no-repeat;

      @include media-breakpoint-down(xs) {
        display: block;
      }
    }

    .btn {

      @include media-breakpoint-down(xs) {
        min-width: 0;
      }
    }
  }
}
