.article {
  background: url(../img/article-letters.svg) no-repeat top 873px right -72px;

  @include media-breakpoint-down(sm) {
    background: transparent;
  }

  &__content {

    h3 {
      margin-bottom: 40px;
      max-width: 600px;

      @include media-breakpoint-down(sm) {
        font-size: 28px;
        line-height: 35px;
      }
    }

    h4 {
      margin-bottom: 25px;
      font-family: $font-secondary;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 400;
      color: $dark;

      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 1.4;
      }
    }

    p {
      margin-bottom: 40px;
      padding-right: 40px;
      font-size: 20px;
      line-height: 28px;
      color: $dark;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
        padding-right: 0;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
