.login {
  position: relative;
  margin-top: -58px;
  margin-bottom: -150px;
  padding-top: 120px;
  overflow: hidden;
  width: 100%;

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &:before {
    position: absolute;
    z-index: -1;
    //top: 0;
    bottom: 20px;
    left: 45%;
    display: block;
    width: 1424px;
    height: 689px;
    content: '';
    background: #fff;
    transform: rotate(15deg) translateX(-50%);
    transform-origin: center center;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__container {
    padding-top: 36px;
    min-height: 883px;
    background-image: url("data:image/svg+xml,%3Csvg width='211' height='536' viewBox='0 0 211 536' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' d='M170.993 336.152C168.344 333.909 167.863 331.666 169.548 326.932C178.217 304.007 210 220.78 210 201.343C210 192.871 205.425 188.137 194.831 186.891C128.615 178.917 53.9723 156.989 53.9723 87.965C53.9723 50.8367 76.3652 22.4298 114.65 22.4298C141.377 22.4298 156.546 36.6332 156.546 50.8367C156.546 64.5418 136.561 71.7681 136.561 93.447C136.561 110.641 150.286 125.093 169.548 125.093C192.664 125.093 209.278 105.657 209.278 75.2566C209.278 32.8955 168.344 1 116.576 1C49.3975 1 4.37097 51.5842 4.37097 113.88C4.37097 150.51 16.8917 178.668 38.803 198.602C42.174 201.593 43.6187 203.586 40.97 210.563C31.5795 235.482 1 315.469 1 334.657C1 343.129 5.57488 347.863 16.1694 349.109C82.3848 357.083 157.028 379.011 157.028 448.035C157.028 485.163 134.635 513.57 96.3502 513.57C69.6233 513.57 54.4539 499.367 54.4539 485.163C54.4539 471.458 74.4389 464.232 74.4389 442.553C74.4389 425.359 60.7143 410.907 41.4516 410.907C18.3364 410.907 1.72235 430.343 1.72235 460.743C1.72235 503.105 42.6555 535 94.424 535C161.362 535 206.629 484.416 206.629 422.12C206.629 384.742 193.386 356.585 170.993 336.152ZM146.915 312.479C145.229 316.466 143.303 317.214 140.173 315.719C115.372 304.007 85.2742 297.03 51.5645 294.787C42.174 294.04 38.3214 292.295 40.97 284.072C47.2304 264.885 59.2696 236.229 64.326 223.272C65.7707 219.285 67.697 218.786 71.5495 220.531C96.3502 231.993 126.207 238.97 159.676 241.213C169.067 241.96 172.919 243.705 170.271 251.928C164.01 270.866 152.212 299.273 146.915 312.479Z' stroke='%2354AFFF' stroke-opacity='0.5' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 20px calc(100% - 186px);

    @include media-breakpoint-down(md) {
      padding-top: 0;
      min-height: inherit;
      background-image: none;
    }
  }

  &__panel {
    margin: 0 auto;
    width: 518px;
    filter: drop-shadow(0 15px 88px rgba(84, 175, 255, .25));

    @include media-breakpoint-down(md) {
      filter: none;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__back {
    font-size: 18px;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__ready-header {
    font-size: 24px;
    line-height: 30px;
  }

  &__error {
  }

  &__error-header {
    margin-bottom: 35px;
    font-family: $font-heavy;
    font-size: 100px;
    line-height: 1;
    font-weight: 900;
    color: $secondary;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      font-size: 64px;
    }
  }

  &__error-subheader {
    margin-bottom: 45px;
    font-size: 24px;
    line-height: 1.33;

    @include media-breakpoint-down(sm) {
      margin-bottom: 135px;
    }
  }

  .nav-tabs {
    border-bottom: 0 none;

    .nav-item {
      margin-bottom: 0;
      width: 50%;

      &:first-of-type {

        .nav-link {
          border-radius: 4px 0 0;
        }
      }

      &:last-of-type {

        .nav-link {
          border-radius: 0 4px 0 0;
        }
      }
    }

    .nav-link {
      padding: 0;
      display: flex;
      width: 100%;
      height: 64px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: rgba($dark, .4);
      background: $light;
      border: 0 none;
      border-radius: 0;

      &:hover {
        color: $dark;
      }

      &.active {
        color: $dark;
        background-color: $white;
      }
    }
  }

  .tab-content {
    padding: 55px;
    padding-top: 47px;
    background: #ffffff;
    border-radius: 0 0 4px 4px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding: 20px;
      padding-bottom: 50px;
    }
  }

  .form-control {
    padding: 4px;
    height: auto;
    font-family: $font-family-base;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $dark;
    border: 0 none;
    border-bottom: 1px solid $border-color;
    border-radius: 0;

    &::placeholder {
      opacity: 1;
      font-size: 18px;
      text-align: center;
      color: rgba(#737f89, .6);
    }
  }

  .btn-soc {
    width: 40px;
  }

  &--recovery {

    .login__panel .tab-content {
      padding: 30px 55px 55px;

      @include media-breakpoint-down(sm) {
        padding: 20px 20px 80px;
      }
    }

    .login__back {
      margin-left: -25px;
      color: #737f89;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  &--msg {

    .login__container {
      padding-top: 20px;

      @include media-breakpoint-down(md) {
        padding-top: 0;
      }
    }

    .login__panel .tab-content {
      padding: 90px 55px;

      @include media-breakpoint-down(sm) {
        padding: 120px 20px;
      }
    }
  }

  &--password {

    .login__container {
      padding-top: 0;

      @include media-breakpoint-down(md) {
        padding-top: 0;
      }
    }

    .login__panel .tab-content {
      padding: 80px 55px;

      @include media-breakpoint-down(sm) {
        padding: 100px 20px;
      }
    }
  }

  &--ready {

    .login__panel .tab-content {
      padding: 100px 55px;

      @include media-breakpoint-down(sm) {
        padding: 120px 20px;
      }
    }
  }

  &--error {

    @include media-breakpoint-down(md) {
      overflow: visible;
    }

    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }

    &:before {

      @include media-breakpoint-down(md) {
        bottom: -200px;
        display: block;
        transform: rotate(10deg) translateX(-50%);
      }

      @include media-breakpoint-down(sm) {
        bottom: 45px;
        display: block;
        transform: rotate(10deg) translateX(-50%);
      }
    }

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    .login__container {
      padding-top: 145px;
      background-position: 20px calc(100% - 250px);

      @include media-breakpoint-down(md) {
        padding-top: 20px;
      }
    }

    .btn-primary {

      @include media-breakpoint-down(md) {
        min-width: 0;
      }
    }
  }
}
