mixin login(data={type:'default'})
  case data.type
    when 'ready'
      .login&attributes(attributes): .container.login__container
        .login__panel
          .tab-content.text-center
            .
              <svg class="d-inline-block" width="40" height="29" viewBox="0 0 40 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 13.2L14.5217 26L38 2" stroke="#54AFFF" stroke-width="4"/></svg>
            .login__ready-header.pt-20 Ваш пароль успешно изменен
    when 'password'
      .login&attributes(attributes): .container.login__container
        .login__panel: .tab-content
          h4.text-center Создайте новый пароль
          form(method="POST" action="#" autocomplete="off").mt-35.mt-md-25
            .form-group.mb-35
              input.form-control.form-control--default.text-center(name="psw" type="password" placeholder="Пароль" required)
            .form-group.mb-60.mb-md-50
              input.form-control.form-control--default.text-center(name="psw-r" type="password" placeholder="Повторите пароль" required)
            button(type="submit").btn.btn-primary.w-100 Сохранить
    when 'msg'
      .login&attributes(attributes): .container.login__container
        .login__panel: .tab-content.text-center
          h4.mb-20 Проверьте почту
          p.login__msg.
            Сообщение для сброса пароля было отправлено на ваш адрес <b>example@gmail.com</b>
            Следуйте инструкциям в сообщении, чтобы сбросить пароль.
    when 'enter-email'
      .login&attributes(attributes): .container.login__container
        .login__panel: .tab-content
          a(href="#").login__back
            .
              <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.40625 15.5859C6.21094 14.2266 5.34375 13.3125 3.67969 11.5781L0 7.82812L3.67969 4.05469C5.34375 2.34375 6.1875 1.40625 7.38281 0L8.97656 1.42969C7.73438 2.60156 6.91406 3.46875 5.15625 5.25L2.55469 7.89844L5.15625 10.5703C6.89062 12.3516 7.73438 13.0781 9 14.2734L7.40625 15.5859Z" fill="#54AFFF"/></svg>
            | Назад
          h4.text-center.pt-35.pt-md-25 Восстановление пароля
          form(method="POST" action="#" autocomplete="off")
            .form-group.mt-75.mt-md-25.mb-60.mb-md-50
              input.form-control.form-control--default.text-center(name="email" type="email" placeholder="Почта" required)
            button(type="submit").btn.btn-primary.w-100 Восстановить
    when 'error'
      .login&attributes(attributes)
        .container.login__container
          .row
            .col-lg-8.offset-lg-4
              .login__error
                .login__error-header 404
                .login__error-subheader Вы ищете страницу, которой не существует
                a.btn.btn-primary.py-5.px-50(href="#") На главную
    default
      .login&attributes(attributes): .container.login__container
        .login__panel
          ul.nav.nav-tabs
            li.nav-item: a.nav-link.active(href="#tab-registration" data-toggle="tab") Регистрация
            li.nav-item: a.nav-link(href="#tab-login" data-toggle="tab") Вход в кабинет
          .tab-content
            #tab-registration.tab-pane.fade.active.show: form(method="POST" action="#" autocomplete="off")
              .form-group.mt-50.mt-md-60.mb-95.mb-md-80
                input.form-control.form-control--default.text-center(name="email" type="email" placeholder="Почта" required)
              button(type="submit").btn.btn-primary.w-100.mb-35 Зарегистрироваться
              .text-center.login__soc
                p.mb-10 Или войти с помощью
                a(href="#").btn.btn-soc.mr-25: img(src="./img/vk.svg" alt="")
                a(href="#").btn.btn-soc.mr-25: img(src="./img/fb.svg" alt="")
                a(href="#").btn.btn-soc: img(src="./img/ya.svg" alt="")
            #tab-login.tab-pane.fade: form(method="POST" action="#" autocomplete="off")
              .form-group.mb-40
                input.form-control.form-control--default.text-center(name="email" type="email" placeholder="Почта" required)
              .form-group.mb-40
                input.form-control.form-control--default.text-center(name="psw" type="password" placeholder="Пароль" required)
                .text-center.pt-10: a(href="#") Не помню пароль
              button(type="submit").btn.btn-primary.w-100.mb-35 Войти
              .text-center.login__soc
                p.mb-10 Или войти с помощью
                a(href="#").btn.btn-soc.mr-25: img(src="./img/vk.svg" alt="")
                a(href="#").btn.btn-soc.mr-25: img(src="./img/fb.svg" alt="")
                a(href="#").btn.btn-soc: img(src="./img/ya.svg" alt="")
