mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item(href="#")
      img(src="./img/vk-blue.svg", alt)
    a.socials__item(href="#")
      img(src="./img/fb-blue.svg", alt)
    a.socials__item(href="#")
      img(src="./img/tw-blue.svg", alt)
    a.socials__item(href="#")
      img(src="./img/tg-blue.svg", alt)
