.story {

  &:hover {

    .story__title {
      color: $secondary;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 0 !important;
    margin-bottom: 40px;
    padding-left: 0 !important;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    border-top: 1px solid #cad4df;
  }

  &__picture {
    max-width: 470px;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
      max-width: 80%;
    }
  }

  &__content {

    @include media-breakpoint-down(lg) {
      margin-top: 0 !important;
      margin-left: 0 !important;
      padding-left: 0 !important;
      max-width: 90%;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-size: 36px;
    line-height: 1.22;
    color: $dark;

    @include transition;

    @include media-breakpoint-down(lg) {
      font-size: 26px;
    }
  }

  &--left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    .story__picture {
      margin-right: 20px;

      @include media-breakpoint-down(lg) {
        shape-image-threshold: 0;
      }
    }
  }

  &--right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    .story__content {
      text-align: right;

      @include media-breakpoint-down(lg) {
        text-align: left;
      }
    }
  }

  &--1 {
    padding-left: 43px;

    @include media-breakpoint-down(sm) {
      border-top: 0;
    }

    .story__picture {
      margin-right: 65px;
    }

    .story__content {
      margin-top: 30px;
    }
  }

  &--2 {
    margin-top: 190px;

    .story__picture {
      margin-bottom: -40px;
      margin-left: -60px;
    }
  }

  &--3 {
    margin-top: 18px;
    margin-left: 15px;

    .story__picture {
      margin-bottom: -40px;
    }

    .story__content {
      padding-left: 25px;
    }
  }

  &--4 {
    margin-top: 50px;
  }

  &--5 {
    margin-top: 50px;

    .story__picture {
      margin-bottom: -20px;
      margin-left: -20px;
    }
  }

  &--6 {
    margin-top: 190px;

    .story__picture {
      margin-bottom: -25px;
      margin-left: -70px;
    }

    .story__content {
      margin-left: -70px;
    }
  }

  &--7 {
    margin-top: 110px;

    .story__picture {
      margin-left: 40px;
    }

    .story__content {
      margin-top: -15px;
    }
  }

  &--8 {
    margin-top: 200px;

    .story__picture {
      margin-bottom: -20px;
      margin-left: -10px;
    }
  }

  &--9 {
    margin-top: -10px;
    margin-left: 20px;

    .story__picture {
      margin-bottom: -20px;
    }

    .story__content {
      margin-right: -20px;
      padding-left: 30px;
    }
  }

  &--10 {

    .story__picture {
      margin-right: -20px;
    }

    .story__content {
      margin-top: 35px;
    }
  }
}
