mixin story(data)
  a.story(href="#")&attributes(attributes)    
    .story__picture
      img(src="./img/" + data.picture, alt)
    .story__content
      .story__title= data.title
      p.mb-0= data.dscr
