mixin card-speaker(data)
  .card-speaker&attributes(attributes)
    a(href="#").card-speaker__photo: img(src=`./img/${data.img}` alt)
    .card-speaker__desc
      a(href="#").h3.card-speaker__name.mb-10 !{data.name}
      .card-speaker__text !{data.text}
