.card-speaker {
  position: relative;
  z-index: 1;
  margin-bottom: 34px;
  padding: 38px 20px;
  display: flex;

  @include media-breakpoint-down(lg) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    padding: 20px;
    display: block;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 10px 24px rgba(84, 175, 255, .25);
  }

  @include media-breakpoint-down(sm) {
    margin-right: 4px;
    width: 276px;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    background: #ffffff;
    box-shadow: 0 12px 42px rgba(84, 175, 255, .26);
    transition: $transition-base;
    transform: rotate(-6.02deg);
    transform-origin: center center;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__photo {
    margin-right: 25px;
    padding-top: 16px;
    display: flex;
    overflow: hidden;
    width: 130px;
    height: 130px;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    background: #eef4fa;
    border-radius: 50%;
    transition: $transition-base;

    @include media-breakpoint-down(lg) {
      margin-right: 15px;
      width: 140px;
      height: 140px;
    }

    @include media-breakpoint-down(md) {
      margin-right: auto;
      margin-left: auto;
    }

    @include media-breakpoint-down(sm) {
      width: 110px;
      height: 110px;
    }

    img {
      max-height: 100%;
    }
  }

  &__desc {
    padding-top: 30px;

    @include media-breakpoint-down(md) {
      padding-top: 10px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 21px;
    color: $gray;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__name {
    display: inline-block;
    color: $dark;

    @include media-breakpoint-down(lg) {
      font-size: 28px;
      line-height: 34px;
    }

    &:hover {
      color: $dark;
    }
  }

  &:hover {

    &:before {
      opacity: 1;
    }

    .card-speaker__photo {
      background: $yellow;
    }
  }
}
