.info {
  margin-bottom: 40px;
  padding: 30px 0;
  border-top: 1px solid #cad4df;
  border-bottom: 1px solid #cad4df;

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
  }

  &__media {
    margin-top: 5px;
    margin-right: 40px;
    max-width: 110px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__video {
    position: relative;
    padding-top: 57.28%;
    display: block;
    width: 100%;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .4);
    }

    &:after {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      display: block;
      width: 80px;
      height: 80px;
      content: '';
      background: url(../img/info-play.svg) no-repeat center;
      background-size: contain;
      transform: translate(-50%, -50%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img {

    &--mobile {
      display: none;

      @include media-breakpoint-down(sm) {
        margin-right: 20px;
        display: block;
        max-width: 60px;
      }
    }
  }

  &__media-poster {
  }

  &__wrapper {
    max-width: calc(100% - 170px);

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &__header {
    margin-bottom: 15px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
  }

  &__content {

    p {
      margin-bottom: 24px;
      padding-right: 0;
      max-width: 620px;
      font-size: 16px;
      line-height: 1.5;
      color: #737f89;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }

  &__links-slider {

    &.is-right {

      .tns-outer {

        &:after {
          display: none;
        }
      }
    }
  }

  .tns-outer {
    position: relative;

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      display: block;
      width: 150px;
      height: 100%;
      content: '';
      background: linear-gradient(270deg, #eef4fa 0%, #eef4fa 1.56%, rgba(238, 244, 250, 0) 100%);

      @include media-breakpoint-down(sm) {
        max-width: 60px;
      }
    }
  }

  &__stats {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      flex-direction: column;
      align-items: flex-start;
    }

    & + & {
      margin-top: 10px;
    }
  }

  &__stats-header {
    margin-right: 12px;
    flex-shrink: 0;
    font-family: $font-heavy;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $secondary;

    &--static {
      width: 107px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
    }
  }

  &__stats-content {
    font-size: 20px;
    line-height: 28px;
    color: $dark;
  }

  &__link {
    padding-right: 20px;
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: $primary;

    &--static {
      margin-top: 20px;
      display: flex;
      align-items: center;

      @include transition;

      &:hover {
        opacity: .8;
        color: $primary;
      }

      &:after {
        margin-top: 3px;
        margin-left: 8px;
        display: block;
        width: 7px;
        height: 12px;
        flex-shrink: 0;
        content: '';
        background: url(../img/link-arrow-right.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__video-header {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .tns-controls button {
    margin-top: -3px;
    width: 12px;
    height: 24px;
    opacity: 1;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .tns-controls button[data-controls='prev'] {
    left: -40px !important;

    @include media-breakpoint-down(sm) {
      left: -15px !important;
    }
  }

  .tns-controls button[data-controls='next'] {
    right: -20px !important;

    @include media-breakpoint-down(sm) {
      right: -10px !important;
    }
  }

  h3 {

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &--card {
    position: relative;
    padding: 70px 76px 66px 71px;
    max-width: 900px;
    border-top: 0;
    border-bottom: 0;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      padding: 37px 0;
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: #fff;
      box-shadow: 0 18px 56px rgba(36, 147, 244, .16);
      transform: rotate(3.38deg);

      @include media-breakpoint-down(sm) {
        margin-left: -50px;
        width: calc(100% + 100px);
        transform: rotate(6deg);
      }
    }

    .info__header {

      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
    }

    .info__stats {
      margin: 0;
      padding: 17px 0;
      align-items: baseline;
      border-bottom: 1px solid #cad4df;

      @include media-breakpoint-down(sm) {
        padding-top: 11px;
      }

      &:last-of-type {
        border-bottom: 0;
      }
    }

    .info__stats-header {
      margin-right: 40px;
      width: 248px;
      flex-shrink: 0;
    }

    .info__stats-content {

      @include media-breakpoint-down(sm) {
        font-size: 15px;
        line-height: 23px;
      }
    }

    .info__link {
      margin-top: 28px;

      @include media-breakpoint-down(sm) {
        margin-top: 15px;
      }
    }
  }

  &--video {

    .info__container {

      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
      }
    }

    .info__media {
      margin-right: 30px;
      width: 302px;
      max-width: 100%;
      flex-shrink: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
        display: block;
        width: 100%;
      }
    }

    .info__header {

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &--mob-vertical {

    .info__header {

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .info__img--mobile {

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
        max-width: 214px;
      }
    }
  }
}
