mixin info(data)
  .info&attributes(attributes)
    .info__container
      .info__media
        if data && data.img
          img.info__img.info__img--desktop(src="./img/" + data.img, alt)
        if data && data.poster
          h3.sm.info__video-header.mb-20= data.title
          a.info__video(href="https://www.youtube.com/watch?v=6tmbeLTHC_0&t=50s", data-fancybox)
            img.info__media-poster(src="./img/" + data.poster, alt)
      .info__wrapper
        .info__header
          if data && data.img_mob
            img.info__img.info__img--mobile(src="./img/" + data.img_mob, alt)
          else
            img.info__img.info__img--mobile(src="./img/" + data.img, alt)
          h3.sm.mb-0= data.title
        .info__content
          if block
            block
