.privilege-scroll {
  overflow: auto;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-top: 25px;
  }

  @include media-breakpoint-down(xs) {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__container {

    @include media-breakpoint-down(xs) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
    }

    &:after {

      @include media-breakpoint-down(sm) {
        display: block;
        min-width: 1px;
        content: '';
      }
    }
  }
}
