mixin privilege-scroll(data)
  .privilege-scroll&attributes(attributes): .container.privilege-scroll__container
    .privilege-scroll__row
      +privilege({
        img: 'privilege-1.svg',
        title: 'Слушайте доклады',
        text: 'Кроме сцены, где идёт основная программа, вас ждёт восемь виртуальных залов — туда можно заглянуть во время перерыва на сцене. У каждого зала своя тематика: <a href="#">выберите</a>, какая вам ближе, и заходите.'
      })
      +privilege({
        img: 'privilege-2.svg',
        title: 'Общайтесь с экспертами',
        text: 'К нам пришли почти три десятка <a href="#">экспертов</a>, которые придумывают новые инструменты для обучения, эксперимент ируют с форматами и по-новому смотрят на контент. <a href="#">Зарегистрируйтесь</a> — и сможете задавать им вопросы, обсуждать доклады в чате и переписываться с другими гостями конференции.'
      }).privilege--odd
      +privilege({
        img: 'privilege-3.svg',
        title: 'Читайте истории из жизни',
        text: 'Слушать и говорить о людях и технологиях можно бесконечно. Но рассуждения приятно подкреплять примерами: мы записали <a href="#">истории</a> людей, которым образовательные технологии Яндекса действительно помогли в учебе, преподавании и самореализации.'
      })
