mixin badge-user(data)
  .badge-user&attributes(attributes)
    .badge-user__photo КС
      img(src="./img/slider-5.jpg" alt="")
    .badge-user__card
      .badge-user__card-top
        if data.name
          .badge-user__name= data.name
        if data.company
          .badge-user__type= data.company
      if data.role
        .badge-user__role= data.role
    .badge-user__logo
    if block
      block
