mixin footer(data)
  .container.mt-auto: footer.footer&attributes(attributes): .row
    .col-md-3.col-lg-auto.mr-auto.mb-30.mb-md-0
      .mb-10 Поделитесь:
      a(href="#").btn.btn-soc.mr-25.mr-sm-10: img(src="./img/vk@2x.png" alt="")
      a(href="#").btn.btn-soc.mr-25.mr-sm-10: img(src="./img/fb@2x.png" alt="")
      a(href="#").btn.btn-soc.mr-25.mr-sm-10: img(src="./img/tw@2x.png" alt="")
      a(href="#").btn.btn-soc: img(src="./img/telegram@2x.png" alt="")
    .col-md-4.col-xl-3.pb-30
      .p.p--xs.
        Yet another Conference on Education — это проект Образовательной инициативы Яндекса.
        <br>
        Подробнее: <a href="#">initiative.yandex.ru</a>
    .col-md-4.col-xl-3.pl-lg-35.pb-30
      .p.p--xs.
        Все материалы доступны по лицензии <span class="text-nowrap">CC BY-NC 3.0</span> с обязательным указанием 
        <span class="text-nowrap">© ООО «Яндекс»</span>
    .col-md-1.text-right.d-none.d-md-block
      a(href="#").btn.btn-gotop
        <svg width="11" height="7" viewBox="0 0 11 7" fill="none">
        <path d="M1 6L5.5 1.5L10 6" stroke="currentColor" stroke-width="2"/>
        </svg>
        
        
