.footer {
  padding-top: 19px;
  padding-bottom: 29px;
  border-top: 1px solid #737f89;

  @include media-breakpoint-down(sm) {
    padding-top: 49px;
    padding-bottom: 0;
    text-align: center;
  }

  .btn-soc {

    @include media-breakpoint-down(sm) {
      width: 46px;
    }
  }

  &--text-black {
    border-top: 1px solid rgba(0, 0, 0, .2);

    p,
    .p {
      color: $dark;
    }
  }
}
