mixin speaker-row(data)
  .speaker-row&attributes(attributes): .speaker-row__line.row.flex-nowrap.flex-md-wrap
    .col-auto.col-md-6.d-flex: +card-speaker({
      img: 'sp-1.png',
      name: 'Елена Бунина',
      text: 'Генеральный директор Яндекса откроет конференцию традиционным секретным докладом'
    })
    .col-auto.col-md-6.d-flex: +card-speaker({
      img: 'sp-2.png',
      name: 'Оливье Крузе',
      text: 'Директор по педагогике École 42 поделится опытом перевода на дистанционное обучение целой школы, в которой большую роль играет живое общение и взаимное обучение.'
    })
    .col-auto.col-md-6.d-flex: +card-speaker({
      img: 'sp-3.png',
      name: 'Александр Ларьяновский',
      text: 'Управляющий партнёр Skyeng пригласит экспертов, с которыми поговорит…'
    })
    .col-auto.col-md-6.d-flex: +card-speaker({
      img: 'sp-4.png',
      name: 'Кирилл Медведев',
      text: 'Директор «Новой школы» расскажет о том, зачем учителю дружить с технологиями, как они помогают справиться со скучной рутиной и освобождают время для более эффективной работы с детьми.'
    })
    .col-auto.col-md-6.d-flex: +card-speaker({
      img: 'sp-5.png',
      name: 'Наргиз Асадова',
      text: 'Заместитель директора «Европейской гимназии» поговорит с Александром Асмоловым (РАНХиГС) и Дмитрием Волошиным (OTUS) от том, из чего складывается образовательный опыт и как технологии помогают его гуманизировать.'
    })
    .col-auto.col-md-6.d-flex: +card-speaker({
      img: 'sp-1.png',
      name: 'Елена Бунина',
      text: 'Генеральный директор Яндекса откроет конференцию традиционным секретным докладом'
    })
