.speaker-row {

  @include media-breakpoint-down(sm) {
    position: relative;
    margin-right: calc((100vw - 530px) / -2);
    margin-left: calc((100vw - 530px) / -2);
    padding-top: 20px;
    padding-right: calc((100vw - 530px) / 2);
    padding-left: calc((100vw - 530px) / 2);
    padding-bottom: 20px;
    overflow: auto;
    flex-wrap: nowrap;
  }

  @include media-breakpoint-down(xs) {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__line {
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      margin-bottom: -6px;
    }

    &:after {

      @include media-breakpoint-down(sm) {
        display: block;
        min-width: 8px;
        content: '';
      }
    }
  }
}
