mixin speaker(data)
  a(href="#speaker", data-fancybox).speaker&attributes(attributes)
    .speaker__photo: img(src=`./img/${data.img}` alt="")
    .speaker__text
      .speaker__name !{data.name}
      .speaker__role !{data.role}
      if data.info
        .speaker__info !{data.info}
