.speaker {
  display: flex;

  @include transition;

  @include media-breakpoint-down(md) {
    align-items: center;
  }

  &:hover {
    opacity: .8;
  }

  &__photo {
    margin-right: 16px;
    overflow: hidden;
    width: 90px;
    min-width: 90px;
    height: 90px;
    min-height: 90px;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      margin-right: 12px;
      width: 60px;
      min-width: 60px;
      height: 60px;
      min-height: 60px;
    }

    @include media-breakpoint-down(xs) {
      align-self: flex-start;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-family: $font-heavy;
    font-size: 12px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $secondary;

    @include media-breakpoint-down(md) {
      margin-bottom: 3px;
      font-size: 13px;
      line-height: 19px;
    }
  }

  &__role {
    max-width: 286px;
    font-size: 14px;
    line-height: 20px;
    color: $gray;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__info {
    padding-top: 4px;
    font-size: 14px;
    line-height: 20px;
    color: $gray;

    @include media-breakpoint-down(xs) {
      font-size: inherit;
      line-height: inherit;
      font-weight: 400;
    }
  }
}

.speaker--card {
  width: 100%;
  flex-direction: column;
  transition: $transition-base;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 40px;
    align-items: center;
    border-bottom: 1px solid #cad4df;
  }

  .speaker__photo {
    position: relative;
    z-index: 2;
    margin-bottom: -43px;
    margin-left: 27px;

    @include media-breakpoint-down(md) {
      margin-bottom: -57px;
      width: 90px;
      height: 90px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      width: 160px;
      height: 160px;
    }
  }

  .speaker__name {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 26px;
    }

    br {

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  .speaker__role {
    color: $body-color;

    @include media-breakpoint-down(xs) {
      font-size: inherit;
      line-height: inherit;
      font-weight: 400;
    }
  }

  .speaker__text {
    position: relative;
    z-index: 1;
    padding: 60px 27px 27px;
    width: 100%;
    max-width: 276px;
    min-height: 257px;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      max-width: 320px;
      min-height: 200px;
    }

    @include media-breakpoint-down(xs) {
      padding: 16px 12px 40px;
      max-width: none;
      min-height: 0;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      content: '';
      background: #ffffff;
      border: 1px solid #e4edf5;
      transition: $transition-base;
      transform: rotate(-6deg);
      transform-origin: center center;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  &:hover {
    transform: translateY(-10px);

    @include media-breakpoint-down(md) {
      transform: none;
    }

    .speaker__text:before {
      box-shadow: 0 12px 42px rgba(84, 175, 255, .26);
    }
  }
}
