.hall-row {

  @include media-breakpoint-down(md) {
    margin: 0;
    margin-right: calc((100vw - 730px) / -2) !important;
    margin-left: calc((100vw - 730px) / -2) !important;
    padding-top: 65px;
    padding-left: calc((100vw - 740px) / 2) !important;
    overflow: auto;
    flex-wrap: nowrap;
  }

  @include media-breakpoint-down(sm) {
    margin-right: calc((100vw - 530px) / -2) !important;
    margin-left: calc((100vw - 530px) / -2) !important;
    padding-left: calc((100vw - 540px) / 2) !important;
  }

  @include media-breakpoint-down(xs) {
    margin-right: -20px !important;
    margin-left: -20px !important;
    padding-left: 20px !important;
  }
}
