mixin hall-row(data)
  .hall-row.row.mx-n8&attributes(attributes)
    .col-auto.col-lg-4.px-8.pb-15.d-flex: +hall({
      img: 'hall-1',
      title: 'Учительская',
      role: 'Школьным учителям'
    })
    .col-auto.col-lg-4.px-8.pb-15.d-flex: +hall({
      img: 'hall-2',
      title: 'Кабинет директора',
      role: 'Администрациям школ'
    })
    .col-auto.col-lg-4.px-8.pb-15.d-flex: +hall({
      img: 'hall-3',
      title: 'Коворкинг',
      role: 'Разработчикам образовательного опыта'
    })
    .col-auto.col-lg-4.px-8.pb-15.d-flex: +hall({
      img: 'hall-4',
      title: 'Клуб программирования',
      role: 'Преподавателям'
    })
    .col-auto.col-lg-4.px-8.pb-15.d-flex: +hall({
      img: 'hall-5',
      title: 'Кафедра',
      role: 'Университетам и бизнесам'
    })
    .col-auto.col-lg-4.px-8.pb-15.d-flex: +hall({
      img: 'hall-6',
      title: 'Лаборатория образования',
      role: 'Искателям и дизайнерам образовательного опыта'
    })
    .col-auto.col-lg-4.px-8.pb-15.d-flex: +hall({
      img: 'hall-7',
      title: 'Студия',
      role: 'Общение со спикерами'
    })
