.card {
  position: relative;
  margin-right: 12px;
  margin-bottom: 10px;
  padding: 28px 18px 14px;
  display: flex;
  min-width: 270px;
  max-width: 270px;
  min-height: 248px;
  flex-direction: column;
  background-color: #fff;
  transition: $transition-base;

  &:before {

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      display: block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      content: attr(data-section);
      color: $dark;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-right: 0;
    //    min-width: 223px;
    //    max-width: 223px;
    min-width: 0;
    max-width: none;
    min-height: 0;
    background: transparent;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 24px;
    color: $dark;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      display: block;
    }

    &:hover {
      color: $dark;
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    left: 18px;
    visibility: hidden;
    width: 16px;
    height: 20px;
    opacity: 0;
    transition: $transition-base;

    @include media-breakpoint-down(md) {
      visibility: visible;
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__author {
    margin-top: auto;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
  }

  &:hover {
    box-shadow: 0 12px 42px rgba(84, 175, 255, .26);

    .card__mark {
      visibility: visible;
      opacity: 1;
    }
  }

  &--big {
    margin-bottom: 0;
    height: 100%;

    @include media-breakpoint-down(sm) {
      height: auto;
    }

    & ~ .card--big {
      display: none;

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }
  }
}
