mixin card(data)
  .card(data-section=data.section)&attributes(attributes)
    a(href="#" class=data.check ? 'is-check':'').btn.btn-mark.card__mark
    a.card__title(href="#") !{data.title}
    if data.author
      .card__author !{data.author}
