mixin podcast(data)
  .podcast&attributes(attributes)
    .podcast__picture
      img.podcast__picture-img(src="./img/podcast.png", alt)
    .podcast__content
      .podcast__text Первый подкаст Академии Яндекса о молодых специалистах в IT. Здесь сотрудники Яндекса с необычным бэкграундом рассказывают о том, как стали разработчиками, датасаентистами, менеджерами или дизайнерами.
      a.podcast__link(href="#") Слушать подкаст
