.podcast {
  background: #fff;

  &__picture {
    padding: 6px;
  }

  &__picture-img {
    max-width: 100%;
  }

  &__content {
    padding: 24px 20px 26px;
  }

  &__text {
    margin-bottom: 20px;
    padding-right: 0;
    font-size: 16px;
    line-height: 22px;
    color: #737f89;
  }

  &__link {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #54afff;
  }
}
