extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Школы, <br>из которых выходят сотрудники Яндекса',
        dscr: 'Десятки школ, стажировок и образовательных программ Яндекса: история, рассказанная их создателем',
        picture: 'cover-1.png',
        size: 'big'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1
              p «Впервые мы провели Школу менеджеров Яндекса в 2011 году. Идея состояла в том, что нам не хватало специалистов и мы решили их „растить”. Но мы не ограничивали студентов в том, где им потом работать. Мы считаем, что важнее решать высокоуровневую задачу — усиливать большую экосистему, возвращая в неё выпускников с приобретённым глубоким пониманием».
              p Марина Максимова занимается в Яндексе стажировками и проводит Школы. По её словам, направления каждый раз зависят от потребностей бизнеса — в зависимости от того, какие специалисты нужны Яндексу, открываются наборы в Школу менеджеров, Школу разработки интерфейсов, Школу бэкенд-разработки и так далее.
              p «Школы помогают нам восполнить пробел между образованием и производством, подготовить ребят на тот уровень, который необходим для прохождения стажировки или даже уровнем выше. У нас преподают люди, которые непосредственно делают Яндекс и знают, какие навыки и требования необходимы для дальнейшей работы. Программа состоит из двух частей: сначала лекции и практические занятия, потом — командная работа над проектом. Такой формат помогает нам охватить не только теорию, но и затронуть реальные задачи бизнеса. Сейчас многие компании пробуют подобный формат и это доказывает, что он действительно работает».
            .col-lg-3
              +author({
                photo: 'author-4.png',
                firstName: 'Марина',
                lastName: 'Максимова',
                dscr: 'Руководитель службы студенческих программ Яндекса'
              })
          .row
            .col-lg-9
              +quote({
                text: 'Мы привозим студентов со всей России, потому что активная учёба и совместное проживание с единомышленниками создаёт очень интенсивный режим — тем самым вырывая их из домашнего контекста. Это как летний лагерь, студенческое общежитие или популярный нынче формат коливинга. Некоторые участники из Москвы даже завидуют и просят подселиться к сокурсникам в хостел'
              })
          .row
            .col-lg-7.offset-lg-1
              p Обучение в школах бесплатное, но набор проходит на конкурсной основе, то есть на входе человек уже должен обладать определенным навыками, хотеть их развивать. Как и в вакансиях и стажировках Яндекса, здесь нет ограничений по возрасту. Важны только навыки, желание и способность учиться.
              p «Раньше в большинстве наших Школ были только лекции с домашними заданиями и защитой выпускного проекта. Причём лекции широкие, рассчитанные на базовый уровень знаний. Постепенно мы поняли, что в этом не так много смысла. Вся информация и так доступна в онлайне, важнее мотивировать студентов самим найти нужную информацию, задать им правильный вектор и в целом привить желание обучаться. Поэтому сейчас в Школах мы все больше концентрируемся на публичном разборе домашних заданий. Совместный разбор самых распространённых проблем в каждой из тем после каждой лекции хорошо помогает на практике закреплять материал».
        .container.mr-0.mr-sm-auto.pr-0.pr-sm-20.ml-0.ml-sm-auto.pl-0.pl-sm-20
          .row
            .col-lg-12
              .solo-slider
                .solo-slider__content
                  .solo-slider__item
                    +quote({
                      text: 'В школе ответили на множество интересующих меня вопросов, ответы на которые сложно было бы даже понять самостоятельно. Мы получили не только новые технические знания, но и понимание социального аспекта работы. Ведь программист, особенно в такой большой компании — часть команды, и он должен уметь взаимодействовать с коллегами для достижения общей цели. Поэтому мне очень понравился второй этап, где мы делились на команды и решали одну общую задачу под чутким наблюдением кураторов. Это показало мне изнутри, как должна работать большая команда.',
                      modifier: 'author'
                    })
                  .solo-slider__item
                    +quote({
                      text: 'В школе ответили на множество интересующих меня вопросов, ответы на которые сложно было бы даже понять самостоятельно. Мы получили не только новые технические знания, но и понимание социального аспекта работы.',
                      modifier: 'author'
                    })
                  .solo-slider__item
                    +quote({
                      text: 'В школе ответили на множество интересующих меня вопросов, ответы на которые сложно было бы даже понять самостоятельно. Мы получили не только новые технические знания, но и понимание социального аспекта работы. Ведь программист, особенно в такой большой компании — часть команды, и он должен уметь взаимодействовать с коллегами для достижения общей цели. Поэтому мне очень понравился второй этап, где мы делились на команды и решали одну общую задачу под чутким наблюдением кураторов. Это показало мне изнутри, как должна работать большая команда.В школе ответили на множество интересующих меня вопросов, ответы на которые сложно было бы даже понять самостоятельно. Мы получили не только новые технические знания, но и понимание социального аспекта работы. Ведь программист, особенно в такой большой компании — часть команды, и он должен уметь взаимодействовать с коллегами для достижения общей цели. Поэтому мне очень понравился второй этап, где мы делились на команды и решали одну общую задачу под чутким наблюдением кураторов. Это показало мне изнутри, как должна работать большая команда.',
                      modifier: 'author'
                    })
                  .solo-slider__item
                    +quote({
                      text: 'В школе ответили на множество интересующих меня вопросов, ответы на которые сложно было бы даже понять самостоятельно. Мы получили не только новые технические знания, но и понимание социального аспекта работы. Ведь программист, особенно в такой большой компании — часть команды, и он должен уметь взаимодействовать с коллегами для достижения общей цели. Поэтому мне очень понравился второй этап, где мы делились на команды и решали одну общую задачу под чутким наблюдением кураторов. Это показало мне изнутри, как должна работать большая команда.',
                      modifier: 'author'
                    })
                  .solo-slider__item
                    +quote({
                      text: 'В школе ответили на множество интересующих меня вопросов, ответы на которые сложно было бы даже понять самостоятельно. Мы получили не только новые технические знания, но и понимание социального аспекта работы. Ведь программист, особенно в такой большой компании — часть команды, и он должен уметь взаимодействовать с коллегами для достижения общей цели. Поэтому мне очень понравился второй этап, где мы делились на команды и решали одну общую задачу под чутким наблюдением кураторов. Это показало мне изнутри, как должна работать большая команда.',
                      modifier: 'author'
                    })
                .solo-slider__counter 1 / 5
        .container  
          .row
            .col-lg-7.offset-lg-1
              p В организации и проведении Школы обычно задействованы около сотни человек, разработчиков и менеджеров из Яндекса, рассказывает Марина. Кто-то помогает составлять программу, кто-то проводит лекции или курирует хакатоны. Так как организаторов много, это не мешает текущим рабочим задачам сотрудников. Более того, они учатся обучать других, менторить и в целом делать более сложные проекты. Но конечно, самую серьёзную пользу получают студенты. 
              p «Когда мы придумали формат хакатонов, это повысило градус обучения. До того студенты готовили выпускные проекты дома в одиночку. Мы подумали, что было бы эффективнее прокачивать командную работу. Этот навык как раз очень сложно получить начинающим специалистам, работающим в небольших компаниях, и тем более фрилансерам. На хакатонах в каждой команде есть менторы из Яндекса — опытные разработчики и менеджеры, они помогают студентам наладить взаимоотношения и построить рабочий процесс».
              p Если ваших знаний и опыта достаточно для выполнения тестового задания, есть смысл идти учиться в одну из Школ. С каждого потока последних лет Яндекс берёт на стажировки и вакансии от 50% до 70% выпускников. По словам Марины, карьерный трек выпускников Школ выглядит примерно так: сначала они становятся младшими специалистами, затем специалистами и со временем руководителями групп.
          .row
            .col-lg-9
              +quote({
                text: 'За годы проведения Школ мы заметили, что студенты, которые приходят работать в Яндекс из Школ, показывают отличные результаты на внутреннем ревью. Мы связываем это с тем, что у наших „школьников” правильный образ мышления и архетип ученика. Они смотрят на мир с открытыми глазами, не стесняются спрашивать, если что-то непонятно. Умеют работать самостоятельно и легко объединяются с другими'
              })
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-10.png',
                title: 'За всё время в Школах Яндекса:'
              })
                .info__stats
                  .info__stats-header Более 1500
                  .info__stats-content студентов обучили
                .info__stats
                  .info__stats-header 687
                  .info__stats-content стали сотрудниками Яндекс
                .info__stats
                  .info__stats-header 402
                  .info__stats-content работают в Яндексе до сих пор
                a.info__link.info__link--static(href="#") Подать заявку на стажировку
      .container.details__container.pt-20.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Стажировки Яндекса: старт в профессии',
          img: 'details-bg5.svg',
          textWidth: 'xs'
        }).details--dark
      .container  
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
