extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Как дарить беспилотникам глаза, а Netflix — технологии',
        dscr: 'История выпускницы Школы анализа данных Яндекса, которая успела поработать в лучших западных компаниях, а потом вернулась в Россию и создала библиотеку, которая пригодится им всем',
        picture: 'cover-2.png',
        size: 'md'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1
              p «В западных компаниях на низких должностях ты просто выполняешь поставленные задачи, не особо задумываясь, принесёт ли пользу твоя работа, нужна ли она кому-нибудь. В Яндексе и других российских компаниях есть возможность действительно изменить мир к лучшему. Здесь, если ты хорошо работаешь, то растешь очень быстро», — рассказывает Анна Вероника Дорогуш. И её путь прямо подтверждает каждое слово. Проработав на серьёзных, но достаточно рядовых должностях в крупных западных компаниях, и придя в Яндекс на позицию разработчика, она очень быстро стала руководить важной для компании группой, занимающейся машинным обучением. 
              p Один из самых громких проектов группы Ани — открытая программная библиотека CatBoost для машинного обучения. 
              p Яндекс использует её, чтобы улучшить результаты поисковой выдачи, в персональной ленте рекомендаций Яндекс.Дзена, для расчёта прогноза погоды и в множестве других сервисов. А после того, как в 2017 году компания выложила библиотеку с алгоритмом CatBoost в открытый доступ, её внедрил для работы на Большом адронном коллайдере Европейский центр ядерных исследований (ЦЕРН) и множество компаний со всего мира, среди которых Netflix, Cloudflare и Aviasales.
              .info
                .info__stats
                  .info__stats-header 100 000
                  .info__stats-content раз в неделю скачивают библиотеку 
                    a(href="#") CatBoost 
              p После факультета вычислительной математики и кибернетики МГУ Анна Вероника пришла учиться в Школу анализа данных Яндекса  До сих пор, поработав в ABBYY, в Microsoft и в Google, она считает, что именно ШАД обязана всем в своей жизни.
            .col-lg-3
              +author({
                photo: 'author-3.png',
                firstName: 'Анна Вероника',
                lastName: 'Дорогуш',
                dscr: 'Руководитель группы ML-систем в Яндексе '
              })
          .row
            .col-lg-9
              +quote({
                text: 'Я попала в ШАД параллельно работе в ABBYY и считаю, что мне очень повезло. ШАД — уникальное место в России. Там можно получить знания, которые помогут устроиться на любую работу'
              })
          .row
            .col-lg-7.offset-lg-1
              p «В ШАДе действительно преподают лучшие специалисты в области компьютерных наук, которые к тому же любят то, чем занимаются и способны заразить своей любовью студентов. Если хочется заняться наукой, в ШАДе можно найти научного руководителя. А если хочется найти интересную работу — после учебы в ШАДе это правда можно сделать легко. Скорее всего, тебя самого позовут множество компаний и везде захотят взять. Я могу точно сказать, что поступление в ШАД — одно из главных событий в моей жизни».
              p Сама Анна Вероника после учебы в ШАД переехала в Сиэтл, чтобы работать в Microsoft, где написанная ей внутренняя система машинного обучения использовалась для сортировки выдачи в поисковике Bing. Но после двух лет работы Аня поняла, что ей не хватает масштабности задач, а строить карьеру в Microsoft долго. Кроме того, все близкие остались в России. 
              p «Уже закрытый московский офис Google, куда я устроилась после Microsoft, был маленьким локальным центром разработки. В такие не приходят важные и интересные задачи, поэтому карьерный рост тоже сильно ограничен. Так что, только придя в Яндекс, я оказалась в центре событий».
              p Сейчас группа, которой руководит Аня, разрабатывает инструменты машинного обучения для самых разных сфер. Её команда пишет инструменты и библиотеки для поисковой системы, беспилотных автомобилей, Яндекс.Дзена, голосового помощника Алисы и множества других проектов.
            .col-lg-3
              +podcast
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-7.png',
                title: 'Краудсорсинг'
              })
                p это популярный способ сбора и разметки датасетов для обучения и настройки алгоритмов машинного обучения, с помощью тысяч исполнителей, который предлагает <a href="#">Яндекс.Толока</a>. По сравнению с традиционным подходом к решению таких задач, краудсорсинг позволяет собирать и аннотировать данные быстрее и с меньшими затратами. <br>Более пяти лет команда Яндекс.Толоки занимается краудсорсингом, обучает ему в ШАДе, CSC и НИУ-ВШЭ, и сейчас делится своим опытом и результатами научных исследований на новом <a href="#">курсе по краудсорсингу</a>, у которого нет аналогов в России. 
                a.info__link.info__link--static(href="#") Узнать больше о курсе
          .row
            .col-lg-7.offset-lg-1
              p «Самая важная задача в IT — создавать новое. В Яндексе каждый может разработать новую технологию или создать продукт, в том числе воспользовавшись уже имеющимися наработками. Еще есть формат экспериментов: если у тебя появляется идея, вы с коллегой можете создать прототип, прийти в комитет экспериментов, защитить идею и получить поддержку и финансирование».
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-9.png',
                title: 'Научная премия имени Ильи Сегаловича'
              })
                p Яндекс активно поддерживает науку, сотрудничая со множеством ВУЗов и отдельных факультетов. И премия имени Ильи Сегаловича — один из способов обеспечить поддержкой именно молодых исследователей России, Беларуси и Казахстана. Премию вручают студентам, аспирантам и их научным руководителям за достижения в компьютерных науках. Подать заявку на соискание может любой студент и аспирант.
                a.info__link.info__link--static(href="#") Узнать подробности
      .container.details__container.pt-20.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Школа анализа данных: будет сложно, вам понравится',
          img: 'details-3.svg',
          textWidth: 'sm'
        }).details--bg4
      .container  
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
