extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Наука, в которой больше адреналина, чем в спорте',
        dscr: 'Как превратить соревнования по программированию в школу лучших в мире разработчиков.',
        picture: 'cover-3.png',
        size: 'big'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1
              p «Я много стажировок прошел — штук пять. Но в Яндексе только одну, и она была полный отстой», — смеётся Глеб Евстропов, сейчас работающий в Яндексе руководителем сервиса поисковых подсказок.
              p Сегодня, по его словам, стажировки в Яндексе устроены совсем иначе: есть процесс онбординга, со стажерами ведётся централизованная работа, руководители занимаются их развитием. 
              p Олимпиадами по программированию Глеб заинтересовался ещё в школе, в девятом классе. Когда к его учительнице по информатике пришли старшеклассники, которым не хватало одного человека для участия в командной олимпиаде, та порекомендовала Глеба, как самого сильного.
              p «Я программировал с пятого класса, и мне казалось, что я умею уже очень много. И вот, мы пришли на эту олимпиаду, первую в моей жизни, и за пять часов решили ноль задач.  Как пришли, так и, униженные своей долей, ушли. Конечно, этот опыт меня не очень воодушевил. Хорошо, что после этого меня отправили от школы на окружную олимпиаду по информатике. Там я взял достаточно высокий балл и прошел на следующий этап. И вот тут уже почувствовал вкус к олимпиадам».
              p Сейчас Глеб считает, что слишком гордился собственными успехами в последних классах школы. В десятом классе он дошел до этапа всероссийской олимпиады, но занимался не очень усердно, считая, что ему вполне хватит знаний и собственных способностей. Перелом наступил, когда его позвали на летние сборы, где готовили кандидатов в команду для участия в международной олимпиаде.
              p «На эти сборы зовут двадцать-тридцать человек со всей России. Вообще, поучаствовать в международной олимпиаде — это вершина карьеры олимпиадника в школе. Туда отправляют всего четырех человек от каждой страны. И на этих летних сборах мне быстро стал понятен мой реальный уровень. Я выступил неплохо, но мне самому была видна колоссальная разница между мной и другими ребятами».
            .col-lg-3
              +author({
                photo: 'author-7.png',
                firstName: 'Глеб',
                lastName: 'Евстропов',
                dscr: 'Руководитель сервиса поисковых подсказок в Яндексе'
              })
          .row
            .col-lg-6.offset-lg-1
              h4 Яндекс чутко следит за олимпиадным движением и помогает талантливым программистам. Сегодня среди сотрудников компании множество тех, кто когда-то побеждал на олимпиадах по спортивному программированию и получал медали:
        .container.mr-0.mr-md-auto.pr-0.pr-md-20      
          .row
            .col-lg-10.offset-lg-1
              .slider.slider--person
                .slider__content.js-slider-content-person
                  .slider__item
                    +person({
                      photo: 'person-1.jpg',
                      name: 'Дмитрий Егоров',
                      award: 'Чемпион 2014 года',
                      role: 'Яндекс.Такси'
                    })
                  .slider__item
                    +person({
                      photo: 'person-2.jpg',
                      name: 'Глеб Евстропов',
                      award: 'золотой медалист 2014 и 2015 годов',
                      role: 'Поисковой портал'
                    })
                  .slider__item
                    +person({
                      photo: 'person-3.jpg',
                      name: 'Максим  Бабенко',
                      award: 'бронзовый медалист 2002 и золотой 2003 года',
                      role: 'Яндекс.Облако'
                    })
                  .slider__item
                    +person({
                      photo: 'person-4.jpg',
                      name: 'Иван Смирнов',
                      award: 'золотой медалист 2016 и серебряный 2017 года',
                      role: 'Яндекс.Облако'
                    })
                  .slider__item
                    +person({
                      photo: 'person-1.jpg',
                      name: 'Дмитрий Егоров',
                      award: 'Чемпион 2014 года',
                      role: 'Яндекс.Такси'
                    })
                  .slider__item
                    +person({
                      photo: 'person-2.jpg',
                      name: 'Глеб Евстропов',
                      award: 'золотой медалист 2014 и 2015 годов',
                      role: 'Поисковой портал'
                    })
                  .slider__item
                    +person({
                      photo: 'person-3.jpg',
                      name: 'Максим  Бабенко',
                      award: 'бронзовый медалист 2002 и золотой 2003 года',
                      role: 'Яндекс.Облако'
                    })
                  .slider__item
                    +person({
                      photo: 'person-4.jpg',
                      name: 'Иван Смирнов',
                      award: 'золотой медалист 2016 и серебряный 2017 года',
                      role: 'Яндекс.Облако'
                    })
                  .slider__item
        .container
          .row.pt-40
            .col-lg-7.offset-lg-1
              p «Я понял, что очень мало занимаюсь. Что есть талант от природы, какие-то божественные озарения, а есть просто подготовка. Это довольно очевидная вещь: если ты талантливый футболист, но при этом толстенький и медленно бегаешь, то ты никогда не выйдешь на поле в финале Лиги Чемпионов. И я начал заниматься. Я сидел в этом лагере и ночами решал задачки. К концу смены я вышел с предпоследнего места по количеству сданных задач на второе. И когда начался новый олимпиадный сезон, я собрал свою команду и сказал им: „Значит так, в этом году мы выигрываем всероссийскую олимпиаду”». 
              p В будущем Глеб выиграет всероссийскую олимпиаду, пройдёт на международную, получит серебряную медаль IOI 2010, станет вице-чемпионом мира ACM ICPC-2014, членом жюри и одним из самых активных участников движения по спортивному программированию в России. Именно благодаря олимпиадным сборам Глеб познакомился с иностранными студентами и попал на свою первую стажировку в Facebook. 
              p «Стажировки — самый верный способ нанимать людей. Facebook тогда только провел IPO, и начал расти сумасшедшими темпами. И вот, чтобы привлечь как можно больше талантливых молодых программистов, он стал предлагать стажерам такие условия, о которых те не могли даже мечтать. Тебе помогали с визой, нанимали адвоката, покупали билеты, снимали дом». 
              p Пройдя несколько стажировок в Яндексе, Facebook и Google в разных городах мира, Глеб понял, что ему не очень нравится работать в корпорации и решил попробовать себя в академической карьере — поступил в аспирантуру и начал преподавать на свежесозданном Факультете компьютерных наук в НИУ ВШЭ. Этот опыт показал ему, что он совершенно не пригоден к научной работе.
              .info
                .info__stats
                  .info__stats-header.info__stats-header--static 1500
                  .info__stats-content студентов поступает на партнерские программы Яндекса в НИУ ВШЭ, МФТИ и СПбГУ
                .info__stats
                  .info__stats-header.info__stats-header--static 3500
                  .info__stats-content человек учится в наших академических проектах прямо сейчас
                .info__stats
                  .info__stats-header.info__stats-header--static 6200
                  .info__stats-content выпускников академических проектов на сегодняшний день
              p «Сейчас я понимаю, что Яндекс всегда играл вдолгую. Уже когда я был в одиннадцатом классе, компания приглашала школьников в свой офис, принимала в своих помещениях студенческие тренировки и активно вкладывалась в олимпиадников: с нами занимались сотрудники, Яндекс спонсировал студенческие поездки. На втором курсе я понял, что два раза в неделю стабильно приезжаю в офис на улице Льва Толстого. Позже, учась в аспирантуре, я регулярно приезжал к своему научному руководителю Максиму Бабенко, который тоже работал в Яндексе. Я помогал делать чемпионат по программированию Яндекс.Алгоритм, — был в нём и в качестве участника, и в качестве автора одного из раундов, и в качестве главного координатора».
              p Всё это плавно перебило тот единственный негативный опыт стажировки, что был у Глеба на четвертом курсе. Он постепенно осознал, что в Яндексе работает гигантское количество его знакомых, и что само образовательное движение связано с Яндексом неразрывно. Выйдя в Яндекс сразу на позицию старшего разработчика, за год с небольшим Глеб стал руководителем всего садджеста в поиске. 
          .row
            .col-lg-9
              +quote({
                text: 'Я считаю, не зря на собеседованиях во всех крупных IT-компаниях так любят олимпиадников. Умение решать алгоритмические задачи, просто писать код без ошибок, практическое понимание вычислительной сложности, знание основных алгоритмов работы с данными и графовых алгоритмов динамического программирования — не всё это разработчик использует каждый день. 95% времени тебе не нужны эти знания. Но те 5%, когда они нужны — действительно решающие'
              })
          .row
            .col-lg-7.offset-lg-1
              p Поэтому помимо основной работы Глеб продолжает преподавать на Факультете компьютерных наук в НИУ ВШЭ, активно помогает олимпиадному движению и участвует в стажировках. 
              p «Во-первых, во всём этом есть корыстная цель. Если посмотреть на команду моего бывшего научного руководителя Максима Бабенко, станет ясно, что добрая её половина — это либо его ученики, либо ученики его учеников. Преподавание и участие в стажировках — это отличный способ собрать себе команду, в компетенциях которой ты уверен. 
              p А во-вторых, есть какая-то социальная ответственность. Я считаю, что мне в жизни очень сильно везло. И часто это везение связано с конкретными людьми. Кто-то взял меня в кружок по программированию, кто-то помог со стажировкой. И сейчас мне хочется делать то же самое для других людей». 
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-8.png',
                title: 'Стипендии Яндекса для первокурсников'
              })
                p Чтобы поддержать талантливых молодых студентов, Яндекс учредил стипендии в НИУ ВШЭ, МФТИ и СПбГУ. Они присуждаются студентам определенных бакалаврских программ за успехи в учёбе, олимпиадах и конкурсах, научной и проектной деятельности.
                a.info__link.info__link--static(href="#") Узнать о стипендиях подробнее
      .container.details__container.pt-20.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Академия Яндекса: проекты в университетах',
          img: 'details-5.svg',
          textWidth: 'sm'
        }).details--bg3
      .container
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
