extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Как проверить тысячи задач за секунду',
        dscr: 'История преподавателя, тренера олимпиадных команд-победителей и создателя онлайн-курса, который прошли десятки тысяч человек',
        picture: 'cover-4.png',
        size: 'md'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1
              p «Один из первых образовательных онлайн-проектов, который мы сделали с Яндексом — курс по введению в программирование на С++ в 2015 году. Он был предназначен для людей, которые начинают программировать совсем с нуля. У школьников уже тогда чувствовалась большая потребность в чём-то подобном, при этом для них ещё не было курсов на Coursera, не говоря уже о Яндекс.Лицее или Яндекс.Практикуме. И за пять лет его прошло больше одиннадцати тысяч человек. При том, что, чтобы его закончить, нужно серьезно постараться».
            .col-lg-3
              +author({
                photo: 'author-1.png',
                firstName: 'Михаил',
                lastName: 'Густокашин',
                dscr: 'Директор центра студенческих олимпиад по программированию факультета компьютерных наук НИУ ВШЭ'
              })
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-3.png',
                title: 'Введение в программирование (C++)'
              })
                .info__stats
                  .info__stats-header 229 301
                  .info__stats-content человек поступило на курс
                .info__stats
                  .info__stats-header 11 461
                  .info__stats-content человек закончило
                a.info__link.info__link--static(href="#") Подробнее о курсе 
          .row
            .col-lg-7.offset-lg-1
              p Михаил Густокашин с самого основания работает на факультете компьютерных наук Высшей Школы Экономики, который НИУ ВШЭ создал вместе с Яндексом в 2014 году. Тот, самый первый свой онлайн-курс он задумывал как помощь для поступающих на факультет. При этом и спустя пять лет «Введение в программирование (C++)» остаётся вторым по популярности курсом на платформе stepik.org. 
              p Говоря о том, как факультет компьютерных наук находит талантливых студентов, Михаил, в частности, упоминает «Сириус» — образовательный центр, где дети со всей России готовятся стать учёными. 
              p «Нам „Сириус” наиболее интересен своим направлением „Наука”. Здесь мы в первую очередь помогаем школьникам поступить в вуз. Ведь чтобы сейчас пройти на бюджетное место в хороший IT-университет, у многих есть только один путь, — стать победителем или призером какой-то олимпиады, потому что проходные баллы очень высокие.
          .row.mt-md-40.mb-md-40
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-4.png',
                title: 'Яндекс и «Сириус»'
              }).info--card
                .info__stats
                  .info__stats-header Больше 2000
                  .info__stats-content пообщались со специалистами Яндекса на лекциях
                .info__stats
                  .info__stats-header Больше 1000
                  .info__stats-content школьников и студентов участвовали в отборах на смены
                .info__stats
                  .info__stats-header 118
                  .info__stats-content приняли участие в 3 сменах
                a.info__link.info__link--static(href="#") Подробнее о центре
          .row
            .col-lg-7.offset-lg-1
              p Другая цель нашей работы в «Сириусе» — профориентация. <br>На смене от Яндекса есть алгоритмическая часть, где мы готовим детей к классическим олимпиадам и даём теорию. А есть практическая часть, где мы предлагаем им поработать над реальным проектом: созданием приложения, чем-то из области машинного обучения. С одной стороны, это всегда наукоёмкая задача, но с другой — не слишком сложная, её всегда можно сделать за неделю. Это очень важно, потому что трудясь над проектом руками, школьники лучше понимают, из чего состоит работа современного программиста, какие в ней есть процессы, как устроено взаимодействие в команде».
              p Все свои курсы и занятия Михаил старается сконструировать так, чтобы его студенты больше делали руками, а не просто слушали и смотрели.
              p «Я довольно много занимаюсь разработкой онлайн-курсов для самых разных платформ. И сам в последнее время стал их проходить, когда мне нужно что-то узнать. Но в классических курсах на той же платформе Coursera очень много теории. Человеку кажется, что он так много узнал, так много всего услышал, а в реальности он руками ничего сделать не может».
              p При этом Михаил уверен, что за онлайн-образованием будущее — как для взрослых людей, так и для студентов.
              p «Мне кажется, что очные курсы скоро превратятся просто в найм менеджера, который будет напоминать тебе, чтобы ты что-то сделал онлайн. Само собой, лучше всего онлайн-образование подходит для изучения hard-skills — программирования, дизайна, и тому подобных вещей. Но сегодня благодаря онлайн-образованию развиваются и soft-skills: навыки командной работы, построения процессов, реализации сложных проектов. Мы всё это можем видеть и у наших студентов».
          .row
            .col-lg-9
              +quote({
                text: 'Когда факультет только зарождался, значительной частью его менеджмента занимался Яндекс. <br>И моя история работы на факультете компьютерных наук очень плотно связана с Яндексом. <br>Например,  с Яндекс.Контестом'
              })
          .row
            .col-lg-7.offset-lg-1
              p Сейчас Михаил — директор центра студенческих олимпиад по программированию факультета компьютерных наук. Сам он считает олимпиады по программированию не столько тренировкой, сколько достаточно специфическим профессиональным спортом.
              p «По сути это решение алгоритмических задач на время, которое очищено от всей шелухи реального мира. Участники — школьники, студенты, взрослые люди, — занимаются здесь самой интересной частью разработки, реализацией алгоритма, какой-то хитрой идеи. В настоящей профессиональной жизни программиста это самая меньшая часть работы. При этом мышление олимпиадников действительно затачивается на решение сложных задач, поэтому их активно зовут на стажировки и на работу». 
              p Михаил — своего рода амбассадор Яндекс.Контеста, — тестирующей системы, предназначенной для проверки задач по программированию. По его словам, сейчас в Контесте проводятся не только олимпиады, но и практически все учебные курсы факультета компьютерных наук, так или иначе связанные с программированием и алгоритмами.
              p «В чем заключается идея? Представим себе урок в школе или университете. Студент решил задачу, тянет руку и записываться в очередь, чтобы преподаватель подошел, вбил в его программу какие-то циферки и сверил, правильно ли эта программа выводит результат. 
              p Такое обучение крайне неэффективно. В некотором смысле это даже хуже, чем решить математическую задачу на бумажке и ждать, когда преподаватель её проверит. Большая часть времени студентов уходит на сидение в очереди. А качество проверки при этом довольно низкое. Эффективность программы оценивается на глаз
              p При этом уже существуют промышленные технологии автоматического тестирования. Система Яндекс.Контест — одна из таких. Она сама запускает программу, подсовывает ей заранее заготовленные входные данные и сверяет ответ с правильными значениями. Если мы составили хороший набор тестов и программа участника их прошла, мы ему говорим, что он молодец и написал правильную программу, которая работает на всевозможных входных данных. Студенты при этом получают мгновенный ответ, даже если они сделали и сдали домашнее задание в четыре часа утра». 
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-5.png',
                title: 'Яндекс.Контест'
              })
                p Сервис для обучения, тренировок, проведения соревнований и событий
                a.info__link.info__link--static(href="#") Узнать о Контесте
          .row
            .col-lg-7.offset-lg-1
              p «Наше взаимодействие с Яндекс.Контестом началось с момента образования факультета. Подобных тестирующих систем довольно много. Но большая часть из них требует установки и поддержки собственного сервера, покупки железа, специально обученного человека, который будет его обновлять и настраивать. А Яндекс.Контест предоставляет всё это как сервис. Мы беспокоимся только за содержательную часть.
              p Сейчас и наши олимпиады для школьников, и соревнования для студентов проходит на этой платформе. Кроме того, у НИУ ВШЭ есть внутреннее понимание того, что в современном мире студенты всех специальностей, включая дизайн, журналистику или географию, — должны уметь программировать. Не очень глубоко, не как специалисты, но иметь хотя бы общее представление о том, как это работает. Поэтому с Яндекс.Контестом сегодня знакомятся тысячи студентов, поступающих к нам каждый год. 
              p С уверенностью могу сказать, что этим инструментом начало пользоваться множество других университетов. Я каждый день захожу в Контест и вижу, как меняются порядковые номера созданных на платформе заданий. Если раньше счёт шел на сотни, то теперь на тысячи». 
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-6.png',
                title: 'Предложения для университетов'
              })
                p Яндекс развивает сотрудничество с университетами с 2007 года, с открытия первой кафедры в Московском физико-техническом институте. В 2014 году мы участвовали в создании факультета компьютерных наук НИУ ВШЭ, интегрировав лучшие практики Школы анализа данных. 
                p Сегодня бакалаврские, магистерские и дополнительные образовательные программы Яндекса открыты в восьми университетах: ЕУ, ИТМО, МГУ, МФТИ, НИУ ВШЭ, РЭШ, СПбГУ и УрФУ. В течение года на них поступает больше 1500 студентов, а всего участников уже более 6000.
                p И мы предлагаем материалы от экспертов компании и свои технологии для развития учебного процесса и его организации.
      .container.details__container.pt-20.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Образовательная инициатива Яндекса: академические программы',
          img: 'details-2.svg',
          textWidth: 'md'
        }).details--bg2
      .container  
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
