extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Бесплатный учебник по основным предметам, который не устареет через год',
        dscr: 'Как Яндекс.Учебник решает задачи государства в образовании по всей России',
        picture: 'cover-8.png',
        size: 'big'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1
              p Пётр Семенов много лет работает директором школы в крупном городе на Юге России. И в процесс цифровизации образования погружен очень давно.
          .row
            .col-lg-9
              +quote({
                text: 'Разговор стоит начать ещё с 1990-х, когда в школах появились первые компьютеры, а под „цифровизацией” понимали сканирование учебников. Если мы посмотрим на сегодняшний день из того времени, то увидим, что никто вообще не понимал возможностей цифры. Если о тестах, ЕГЭ и электронных дневниках ещё можно было догадаться, то про анализ успеваемости на основе больших данных, про онлайн-школы, про Учебник, — никто и предположить такого не мог'
              })
          .row.pt-20.pt-md-0
            .col-lg-7.offset-lg-1
              p Петр, как и многие администраторы в образовании, испытывает давление сразу с нескольких сторон. С одной стороны, национальный проект «Образование» подразумевает внедрение новых программ и полномасштабную цифровизацию школ. С другой — ни опыта, ни единого подхода к внедрению цифровых технологий и ресурсов в школы до сих пор нет. 
              +video({
                poster: 'video-2.png',
                title: 'Как Яндекс.Учебник помогает в работе учителя?'
              })
              p В этом смысле подход Яндекс.Учебника, изначально спроектированного исходя из нужд учителя (Учебник самостоятельно организует для преподавателей бесплатные образовательные курсы и курсы повышения цифровой грамотности) и полностью бесплатного сильно облегчили Петру и его школе переход на дистанционное обучение во время карантина. 
              p «Здесь нет какой-то собственной упаковки или философии хранения материала. Какую тему проходишь — такое домашнее задание и выдаёшь. Моим учителям очень удобно, что не нужно искать недостающие материалы в интернете. Они это моментально оценили».
              +video({
                poster: 'video-3.png',
                title: 'Как Яндекс.Учебник помогает анализировать образовательные результаты и влиять на них?'
              })
              p «Есть два главных документа, определяющих наполнение образовательного процесса. Первый — Федеральный государственный образовательный стандарт, отдельно для начального образования и для основного общего. Это очень умный и обширный документ, говорящий о том, какие предметные навыки должен получать ребёнок в школе. Второй — Примерная основная образовательная программа. Это более конкретный документ, с детальным описанием того, что каждый ребенок должен знать по окончании каждого класса, какие темы и подтемы он должен изучить».
              +video({
                poster: 'video-4.png',
                title: 'Почему детям нравится выполнять задания в Яндекс.Учебнике?'
              })
              p «На основании ФГОСов и ПООПов разрабатываются своеобразные образовательные траектории — учебно-методические комплексы. Сложность с ними в том, что согласно одному комплексу какую-то тему должны проходить в пятом классе, а согласно другому — в шестом. Так вот, нас подкупает в Яндекс.Учебнике не только то, что разработчики следят за изменениями во ФГОСах и ПООПах, но и то, что они создают универсальные задания. Неважно, по какому УМК идёт учитель, у него всегда под рукой задачи из любой нужной темы. Это сложно переоценить».
              +video({
                poster: 'video-5.png',
                title: 'В чём методическая особенность заданий в Яндекс.Учебнике?'
              })
              p Одно из важный преимуществ Учебника перед бумажными методическими пособиями — возможность быстро анализировать качество заданий и менять их на лету. На основании миллионов кликов разработчики могут быстро узнать, какое задание слишком трудное или слишком легкое, какое сформулировано недостаточно понятно для школьников. И тут же гибко улучшать и менять эти задания.
              p «Отдельно прекрасно, что новые задания появляются в Учебнике мгновенно. Например, есть всероссийские проверочные работы, которые проводят во всех школах России с четвертого класса. И вот, в стандарт ВПР добавили новый тип заданий. Когда он появится на бумаге? Кто знает. А у нас в Учебнике он уже есть».
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-2.png',
                img_mob: 'info-2-mob.svg',
                title: 'Узнайте, кто создаёт Яндекс.Учебник и как делаются цифровые продукты изнутри'
              }).info--mob-vertical
                a.info__link.info__link--static.mt-25(href="#") Узнать о Яндекс.Учебнике
          .row
            .col-lg-7.offset-lg-1
              p Последние исследования показали, что инструменты Учебника значимо увеличивают образовательные результаты детей в рамках региона. <br>И Пётр считает, что у этого есть очевидные причины.
              p «Я видел задания для пятого класса: там есть квесты для детей, в задачах — примеры с иллюстрациями чатов в WhatsApp. Естественно, дети больше увлекаются учебой, если им нужно не яблоки в огороде считать, а дронов и роботов. Более того, я могу сказать, что и учителя больше увлекаются такими уроками. Мы все привыкли преподавать „мелком и голоском”, но даже сейчас, выходя с удалёнки, и возвращая привычные инструменты — доску, рабочие тетради, методические раздатки, бумажный учебник — они не хотят отказываться от Яндекс.Учебника. В домашних заданиях он уже точно фаворит».
      .container.details__container.pt-20.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Яндекс.Учебник помогает детям и учителям',
          img: 'details-1.svg',
          textWidth: 'sm'
        }).details--bg1
      .container
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее'
                })
