extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Не ученик идёт в школу, а школа — к ученику',
        dscr: 'Почему с Яндекс.Учебником школьники начинают лучше учиться',
        picture: 'cover-9.png',
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1
              p Познакомьтесь с Борисом. Борис учится в шестом классе средней школы в Находке. Он активный и общительный парень, играет в футбол и любит компьютерные игры. При этом уже в пятом классе Борис начал отставать сразу по нескольким предметам, но больше всего — по математике. 
          .row
            .col-lg-7.offset-lg-1
              p «Эти задания просто бесили меня, потому что они изначально бессмысленны. Я не понимаю, как мне в жизни пригодится умение складывать дроби с разными знаменателями, — это просто бесполезно», — говорил он ещё в начале года.
              +test-front({
                title: 'Много ли вы знаете о космосе и космонавтике?',
                dscr: 'Повысить мотивацию детей к учёбе помогают задания с интригующим сюжетом. Например, в Яндекс.Учебнике есть целая подборка заданий по русскому и математике, выполняя которые, дети узнают интересные факты про космос. А много ли вы знаете о покорении космоса? Проверьте себя в нашем тесте!',
                btn: 'Пройти тест'
              }).d-block.d-md-none.mb-40
              p Скука и непонимание того, как школьные знания могут быть применимы в меняющемся мире, превращают для него математику в непонятную и неприятную, но обязательную повинность. Это чувство усугубляется тем, что школьные занятия оторваны от реального мира, в котором живёт Борис. Школа для него — в первую очередь место социализации. Как и у большинства детей его возраста, у Бориса именно сейчас появляется множество собственных проблем и забот: личных переживаний, первых серьёзных социальных столкновений, желания найти свое место в коллективе, первых разочарований. На этом фоне у учёбы нет ценности, а уроки кажутся «ненастоящими», не важными.
              p «В апреле, когда всех посадили по домам, я начал скучать по школе. Мне не хватает этих минут с одноклассниками, когда учитель выходит куда-нибудь на секунду в середине урока. И мне было трудно сосредоточиться на уроках, потому что они у меня в компьютере — я могу просто кликнуть куда-нибудь и всё, я вспоминаю про уроки через час. И я не один такой. У нас есть группа Вконтакте, и мои друзья там даже хвастаются, что успевают делать во время уроков с выключенным звуком, какой завтрак едят прямо на уроке». 
            .col-lg-3.d-none.d-md-block
              +test-front({
                title: 'Много ли вы знаете о космосе и космонавтике?',
                dscr: 'Повысить мотивацию детей к учёбе помогают задания с интригующим сюжетом. Например, в Яндекс.Учебнике есть целая подборка заданий по русскому и математике, выполняя которые, дети узнают интересные факты про космос. А много ли вы знаете о покорении космоса? Проверьте себя в нашем тесте!',
                btn: 'Пройти тест'
              })
        .container.mr-0.mr-md-auto.pr-0.pr-md-20
          .row.pb-40
            .col-lg-10.offset-lg-1
              .slider
                .slider__content.slider__content--images.js-slider-content-default
                  .slider__item
                    a(href="./img/slider-1.jpg", data-fancybox="gallery")
                      img(src="./img/slider-1.jpg", alt)
                  .slider__item
                    a(href="./img/slider-2.jpg", data-fancybox="gallery")
                      img(src="./img/slider-2.jpg", alt)
                  .slider__item
                    a(href="./img/slider-3.jpg", data-fancybox="gallery")
                      img(src="./img/slider-3.jpg", alt)
                  .slider__item
                    a(href="./img/slider-4.jpg", data-fancybox="gallery")
                      img(src="./img/slider-4.jpg", alt)
                  .slider__item
                    a(href="./img/slider-5.jpg", data-fancybox="gallery")
                      img(src="./img/slider-5.jpg", alt)
                  .slider__item
                    a(href="./img/slider-6.jpg", data-fancybox="gallery")
                      img(src="./img/slider-6.jpg", alt)
                  .slider__item
                    a(href="./img/slider-7.jpg", data-fancybox="gallery")
                      img(src="./img/slider-7.jpg", alt)
                  .slider__item
                    a(href="./img/slider-8.jpg", data-fancybox="gallery")
                      img(src="./img/slider-8.jpg", alt)
                  .slider__item
                    a(href="./img/slider-9.jpg", data-fancybox="gallery")
                      img(src="./img/slider-9.jpg", alt)
        .container  
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-0.png',
                title: 'Навыки Алисы для школы'
              })
                p Учиться с Алисой может быть совсем не скучно и дошкольникам и ученикам начальной школы: эти навыки помогут им развить память и речь, складно пересказать историю, повторить математику, русский язык и другие предметы.
                .info__links-slider
                  a.info__link(href="#") Легко сказать
                  a.info__link(href="#") Я люблю математику
                  a.info__link(href="#") Закончи пословицу
                  a.info__link(href="#") Повтори скороговорку
                  a.info__link(href="#") Физика вокруг
                  a.info__link(href="#") Легко сказать
                  a.info__link(href="#") Я люблю математику
                  a.info__link(href="#") Закончи пословицу
                  a.info__link(href="#") Повтори скороговорку
                  a.info__link(href="#") Физика вокруг
          .row
            .col-lg-7.offset-lg-1
              p С уходом на карантин класс Бориса начал тестировать Яндекс.Школу — новый сервис для удаленной учебы. Как в привычной школьной жизни, уроки здесь начинались по расписанию. Но это были видеоуроки от лучших преподавателей Москвы. А его сестра-старшеклассница разбирала задания для ЕГЭ и затем отрабатывала пройденный материал в Яндекс.Репетиторе.
              p «Я понимаю, мне повезло, что мы тогда перешли на Яндекс.Школу. Если бы не это, я бы так и не узнал, что учиться можно совсем по-другому. В онлайн-школе даже домашние задания не такие, как у нас, они интереснее».
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-1.svg',
                title: 'Яндекс.Школа'
              })
                p Совместно с Центром педагогического мастерства Яндекс запустил бесплатную онлайн-школу, чтобы дети могли учиться, не выходя из дома. В первые недели самоизоляции Яндекс.Школа помогла многим семьям сохранить привычный ритм жизни: уроки начинались с 9 утра (во всех часовых поясах страны), как и в обычной жизни. Школьникам были доступны <a href="#">видеоуроки по 15 предметам школьной программы</a> для 5-11 классов и <a href="#">курсы для подготовки к ЕГЭ и ОГЭ</a>. Учителям — сервис для проведения занятий в онлайне и интерактивные задания для младших классов.
          .row
            .col-lg-7.offset-lg-1
              p Сейчас класс Бориса полностью перешел для удаленной учебы на Яндекс.Учебник. И именно математикой он почти сразу начал интересоваться больше. Конечно, ему ещё далеко до того, чтобы догнать остальных учеников. Но комплексовать от незнания математики Борис перестал. Свою роль сыграло и  то, что среда Учебника очень похожа на привычную для него среду компьютерных игр, — здесь не нужно ничего писать от руки, можно перетаскивать ответы мышкой, вводить цифры в поле для ввода, выбирать следующий шаг, получать наводящие подсказки.
          .row
            .col-lg-9
              +quote({
                text: 'Я понимаю, что раньше я боялся оценок, и мог специально не сделать домашнее задание. Теперь мне интереснее просто решить какую-то задачу, пройти весь этот квест до конца'
              })
        .container.mr-0.mr-md-auto.pr-0.pr-md-20      
          .row.pb-40
            .col-lg-10.offset-lg-1
              .slider
                .slider__content.slider__content--images.slider__content--tasks.js-slider-content-default
                  .slider__item
                    a(href="./img/slider-10.png", data-fancybox="tasks")
                      img(src="./img/slider-10.png", alt)
                  .slider__item
                    a(href="./img/slider-11.png", data-fancybox="tasks")
                      img(src="./img/slider-11.png", alt)
                  .slider__item
                    a(href="./img/slider-12.png", data-fancybox="tasks")
                      img(src="./img/slider-12.png", alt)
                  .slider__item
                    a(href="./img/slider-10.png", data-fancybox="tasks")
                      img(src="./img/slider-10.png", alt)
                  .slider__item
                    a(href="./img/slider-11.png", data-fancybox="tasks")
                      img(src="./img/slider-11.png", alt)
                  .slider__item
                    a(href="./img/slider-12.png", data-fancybox="tasks")
                      img(src="./img/slider-12.png", alt)
                .slider__caption Так в Яндекс.Учебнике выглядят карточки заданий по русскому языку, математике и окружающему миру 
        .container  
          .row
            .col-lg-7.offset-lg-1
              p В случае Бориса,очень важным оказалось пробудить интерес к обучению, помочь осознать, что узнавая новое о мире, он может узнать много нового и о себе. Интерактивные задачи Учебника помогли ему не только заинтересоваться математикой и вовлечься в процесс, но и сняли чувство тревожности от того, что раньше он был в математике не очень успешен. Конечно, для этого ему потребовался индивидуальный подход со стороны учителя: и в выборе интересного материала, и в возможности получать от него персональные задания, в том числе и для дополнительной работы.
              +test-front({
                title: 'По математике',
                dscr: 'Действительно интересный для школьников тест — с рыцарями, секретными шифрами, головоломками и поиском Нового года',
                btn: 'Пройти тест'
              }).d-block.d-md-none.mb-40
              p За пару весенних и пару осенних месяцев (и, конечно, позанимавшись летом) Борис значительно повысил свой уровень знаний. Сам он говорит, что учеба для него перестала быть связанной со зданием школы. Он понял, что это отдельный процесс, и учиться можно где угодно, в том числе и в интернете, где он привык только играть и общаться.
              p Кроме того, заниматься стало интереснее. Если раньше математика казалась ему просто жестокой причудой взрослых, зачем-то заставляющих считать землекопов и «умножать буквы на другие буквы», сегодня он принял её как часть своей картины мира. Он решает задачу, а потом идёт на на Youtube проверить, правильно ли он её решил. 
            .col-lg-3.d-none.d-md-block.mb-30
              +test-front({
                title: 'По математике',
                dscr: 'Действительно интересный для школьников тест — с рыцарями, секретными шифрами, головоломками и поиском Нового года',
                btn: 'Пройти тест'
              })
          .row
            .col-lg-7.offset-lg-1
              +video({
                poster: 'video-1.png',
                title: 'Дети говорят: о школе, технологиях и занятиях в Яндекс.Учебнике'
              })
              +test-front({
                title: 'По русскому языку',
                dscr: 'Никаких абстрактных «тся/ться» — в этом тесте только живые примеры с чатами в мессенджерах, интерактивными рецептами и неожиданными языковыми открытиями',
                btn: 'Пройти тест'
              }).d-block.d-md-none.mb-40
              p Мы уже упоминали, что Борис любит компьютерные игры. <br>Новая онлайн-школа позволила ему понять, как плотно весь мир игр, социальных сетей и вообще компьютеров связан с сегодняшними уроками по математике. Сейчас он говорит, что в будущем собирается не только играть в игры, но и делать свои. И у него уже есть несколько идей.
            .col-lg-3.d-none.d-md-block
              +test-front({
                title: 'По русскому языку',
                dscr: 'Никаких абстрактных «тся/ться» — в этом тесте только живые примеры с чатами в мессенджерах, интерактивными рецептами и неожиданными языковыми открытиями',
                btn: 'Пройти тест'
              })
      .container.details__container.pt-20.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Яндекс.Учебник помогает детям и учителям',
          img: 'details-1.svg',
          textWidth: 'sm'
        }).details--bg1
      .container
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
