extends ../templates/template.pug
block header
  +header({
    login: true,
    announcement: true
  }).header--border
block content
  +modal({
    modifier: 'message'
  }).modal--close-out.modal--transparent.modal--message#message
  +modal({
    modifier: 'speaker'
  })#speaker.modal--close-out
  main
    +cabinet
    .d-none
      .popup-edit#edit-profile
        form(method="POST" action="#").popup-edit__content.pt-20: .row
          .col-md-6
            .form-group.mb-40
              input.form-control.form-control--default(name="email2" id="email2" type="email" required placeholder="" value="ivan@example.ru")
              label(for="email2") Почта *
          .col-md-6
            .form-group.mb-40
              input.form-control.form-control--default(name="psw" id="psw" type="password" required placeholder="" value="afafafafa")
              label(for="psw") Пароль *
              button(type="button" onclick="pswToggleVisible(this)").form-group__psw-toggle.
                <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.6">
                <path d="M0.212904 4.57195C0.420498 4.38501 5.34884 0 10.0001 0C14.6511 0 19.5795 4.38501 19.7873 4.57195C19.9228 4.69371 20 4.86758 20 5.04957C20 5.23148 19.9228 5.40527 19.7873 5.52703C19.5795 5.71405 14.6512 10.0984 10.0002 10.0984C5.34884 10.0984 0.420498 5.71405 0.212944 5.52703C0.0772972 5.40527 0 5.23148 0 5.04957C-4.00543e-05 4.86758 0.0772572 4.69371 0.212904 4.57195ZM10.0002 8.68395C12.0038 8.68395 13.6345 7.05374 13.6345 5.04957C13.6345 3.04524 12.0038 1.41503 10.0002 1.41503C7.99641 1.41503 6.36558 3.04524 6.36558 5.04957C6.36554 7.05374 7.99637 8.68395 10.0002 8.68395ZM14.1145 2.36002C14.6217 3.13377 14.9197 4.05676 14.9197 5.04957C14.9197 6.04087 14.6229 6.9628 14.1159 7.73651C15.9557 6.87056 17.5451 5.69718 18.3552 5.04896C17.5452 4.40008 15.9557 3.2254 14.1145 2.36002ZM5.8855 7.73834C5.37852 6.96468 5.08032 6.04169 5.08032 5.04957C5.08032 4.0581 5.37779 3.13561 5.88424 2.36186C4.045 3.22789 2.45553 4.40127 1.64492 5.04957C2.455 5.69845 4.04426 6.8724 5.8855 7.73834Z" fill="#737F89"/>
                <circle cx="10" cy="5" r="2" fill="#737F89"/>
                </g>
                </svg>
          .col-12
            .title-gray.mb-20 Выберите, что вам интересно:
            +checkbox-tags({
              labels: ['бизнесы', 'вузы', 'ученики', 'государство', 'ректорат', 'смена профессии', 'студенты', 'дополнительное образование', 'кружки', 'преподаватели', 'обучение учителей', 'школа', 'онлайн-образование', 'регионы', 'дистанционное обучение', 'управление', 'учителя']
            })
          .col-12.pt-40
            .popup-edit__bottom
              button(type="submit").btn.btn-primary.popup-edit__save Сохранить
      .popup-edit#edit-badge
        form(method="POST" action="#").popup-edit__content: .row.align-items-center
          .col-md-6.pb-20.pb-md-0.text-center.text-md-left
            +photo({img: 'user-123.png'}).photo--lg
          .col-md-6.order-1.order-md-0
            .title-gray.colors-select__title Цвет бейджа
            +colors-select
          .col-md-6.pt-md-45
            .form-group.mb-40.mb-md-45
              input.form-control.form-control--default(name="name" id="name" type="text" required placeholder="" value="Иван")
              label(for="name") Имя *
            .form-group.mb-40.mb-md-0
              input.form-control.form-control--default(name="last_name" id="last_name" type="text" required placeholder="" value="Васильев")
              label(for="last_name") Фамилия *
          .col-md-6.pt-md-45
            .form-group.mb-40.mb-md-45
              input.form-control.form-control--default(name="work" id="work" type="text" placeholder="" value="Старший преподаватель")
              label(for="work") Место работы или учёбы
            .form-group.mb-20.mb-md-0
              input.form-control.form-control--default(name="role" id="role" type="text" placeholder="" value="НИУ ВШЭ")
              label(for="role") Должность или статус
          .col-12.order-2.order-md-0.pt-40
            .popup-edit__bottom
              button(type="submit").btn.btn-primary.popup-edit__save Сохранить
    section.section.section--myprogram.pt-60.pt-md-125
      .container
        h2.section-list__title.mb-30.mb-md-20 Моя программа
        p.mb-40.text-body.
          Здесь собраны доклады, которые вас заинтересовали.
          <br>
          За пять минут до начала мы будем присылать напоминания.
        .mb-20.mb-md-40
          +lesson({
            type: 'my',
            time: '11:30',
            place: 'Главная сцена',
            title: 'Как перевести офлайн-проект на дистанционную работу',
            check: true,
            speaker: {
              img: 'speaker-11.png',
              name: 'Оливье Крузе',
              role: 'École 42'
            }
          }).lesson--my.lesson--check
          +lesson({
            type: 'my',
            time: '11:30',
            place: 'Кафедра',
            title: 'Магистратура как продукт',
            check: true,
            speaker: {
              img: 'speaker-1.png',
              name: 'Мария Шинкина',
              role: 'Академия Яндекса'
            }
          }).lesson--my.lesson--check
          +lesson({
            type: 'my',
            time: '11:30',
            place: 'Клуб программирования',
            title: 'Автоматическая проверка задач по промышленному программированию',
            check: true,
            speaker: {
              img: 'speaker-12.png',
              name: 'Артём Рудаковский',
              role: 'Яндекс.Лицей'
            }
          }).lesson--my.lesson--check
          +lesson({
            type: 'my',
            time: '11:30',
            place: 'Главная сцена',
            title: 'Формирование образовательного опыта в эпоху новых технологий',
            check: true,
            speaker: {
              img: 'speaker-13.png',
              name: 'Наргиз Асадова',
              role: 'Европейская гимназия'
            }
          }).lesson--my.lesson--check
        .text-center: +btn({text: 'Посмотреть программу'}).btn-primary.px-40 
    
    section.section-list.section-list--bg-top-none
      .section-list__bg.section-list__bg--my-chat
        .container
          h2.section-list__title.mb-30.mb-md-20 Мои беседы
          p.col-lg-6.px-0.mb-20.mb-md-60.
            Здесь можно продолжить общение с людьми, с которыми вы уже начали переписку.
          .custom-control.custom-checkbox.custom-checkbox--lg.mb-40
            input.custom-control-input#check-chat(type="checkbox" checked)
            label.custom-control-label.custom-control-label--lg(for="check-chat").
              Я хочу, чтобы другие участники конференции могли отправлять мне личные сообщения
          +chat({type:'full'}).chat--full      
    section.section.section--last: .container
      h2.section-list__title.mb-30.mb-md-20#whatToSee Что посмотреть
      p.text-body.col-lg-6.px-0.mb-40.mb-md-40.
        Доклады и дискуссии, которые могут вас заинтересовать. <br>
        Собраны на основе ваших интересов.
      .mb-40.mb-md-100
        +lesson({
          type: 'my',
          time: '11:30',
          place: 'Кафедра',
          title: 'Магистратура как продукт',
          check: true,
          speaker: {
            img: 'speaker-1.png',
            name: 'Мария Шинкина',
            role: 'Академия Яндекса'
          }
        }).lesson--my.lesson--orange
        +lesson({
          type: 'my',
          time: '11:30',
          place: 'Клуб программирования',
          title: 'Автоматическая проверка задач по промышленному программированию',
          check: true,
          speaker: {
            img: 'speaker-12.png',
            name: 'Артём Рудаковский',
            role: 'Яндекс.Лицей'
          }
        }).lesson--my.lesson--orange
        +lesson({
          type: 'my',
          time: '11:30',
          place: 'Главная сцена',
          title: 'Формирование образовательного опыта в эпоху новых технологий',
          check: true,
          speaker: {
            img: 'speaker-13.png',
            name: 'Наргиз Асадова',
            role: 'Европейская гимназия'
          }
        }).lesson--my.lesson--orange
      
      h2.section-list__title.mb-30.mb-md-20 Что почитать
      p.text-body.col-lg-6.px-0.mb-40.mb-md-80.
        Истории реальных людей, которые могут вас вдохновить.
        Собраны на основе ваших интересов.
      .position-relative
        .slider-story.slider-story--default.slider-story--yellow
          .slider-story__content.js-slider-story
            .slider-story__item
              +link-story({
                picture: 'cover-10.png',
                title: 'Новое онлайн-образование, которое развяжет руки учителю'
              })
            .slider-story__item
              +link-story({
                picture: 'cover-8.png',
                title: 'Бесплатный учебник по основным предметам, который не устареет через год'
              })
            .slider-story__item
              +link-story({
                picture: 'cover-6.png',
                title: 'Не ученик идёт в школу, а школа — к ученику'
              })
            .slider-story__item
              +link-story({
                picture: 'cover-10.png',
                title: 'Новое онлайн-образование, которое развяжет руки учителю'
              })
            .slider-story__item
              +link-story({
                picture: 'cover-6.png',
                title: 'Бесплатный учебник по основным предметам, который не устареет через год'
              })
            .slider-story__item
              +link-story({
                picture: 'cover-5.png',
                title: 'Не ученик идёт в школу, а школа — к ученику'
              })
block footer
  .bg-yellow: +footer.footer--text-black
  
