extends ../templates/template.pug
block header
block content
  .ad
    img.ad__text(src="./img/ad-text.svg", alt)
    +badge-user({
      name: 'Константин Салтыков-Щедрин',
      company: 'Яндекс.Учебник',
      role: 'Учитель русского языка и литературы, методист по русскому языку'
    }).badge-user--yellow.badge-user--letters-yellow.ad__badge
  .my-20
  .ad
    img.ad__text(src="./img/ad-text.svg", alt)
    +badge-user({
      name: 'Константин Салтыков-Щедрин',
      company: 'Яндекс.Учебник',
      role: 'Учитель русского языка и литературы, методист по русскому языку'
    }).badge-user--black.badge-user--letters-black.ad__badge
  .my-20
  .ad
    img.ad__text(src="./img/ad-text.svg", alt)
    +badge-user({
      name: 'Константин Салтыков-Щедрин',
      company: 'Яндекс.Учебник',
      role: 'Учитель русского языка и литературы, методист по русскому языку'
    }).badge-user--blue.badge-user--letters-blue.ad__badge
  .my-20
  .ad
    img.ad__text(src="./img/ad-text.svg", alt)
    +badge-user({
      name: 'Константин Салтыков-Щедрин',
      company: 'Яндекс.Учебник',
      role: 'Учитель русского языка и литературы, методист по русскому языку'
    }).badge-user--red.badge-user--letters-red.ad__badge
  .my-20
  .ad
    img.ad__text(src="./img/ad-text.svg", alt)
    +badge-user({
      name: 'Константин Салтыков-Щедрин',
      company: 'Яндекс.Учебник',
      role: 'Учитель русского языка и литературы, методист по русскому языку'
    }).badge-user--gray.badge-user--letters-gray.ad__badge
block footer
