extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее',
        dscr: '«Флоу» — курсы английского языка на базе Яндекс.Практикума. Включают самостоятельное изучение лексики и грамматики через интерактивные истории и онлайн-занятия один на один с преподавателем. Истории личного преподавателя из Алжира и студента, выводящего свой бизнес на международный рынок.',
        picture: 'cover-5.png',
        size: 'big'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1.order-2.order-md-1
              h3 Личный преподаватель во «Флоу»
          .row
            .col-lg-7.offset-lg-1.order-2.order-md-1
              p «Задача ведь не в том, чтобы студент успешно выполнил какое-то упражнение. Если тренироваться на упражнениях, через какое-то время ты будешь делать их блестяще. Но это не значит, что научишься хорошо говорить. А наша главная цель в том, чтобы выпускник „Флоу” успешно заговорил на английском и начал использовать его в реальных жизненных ситуациях», — рассказывает личный преподаватель «Флоу» Диляра Мухаметьянова.
              p Преподавать английский Диляра начала в Алжире, куда переехала после кризиса 2014 года. Получив высшее педагогическое образование преподавателя английского и немецкого, она поняла, что не стремится работать в школе. В результате Мухаметьянова ушла строить совсем другую карьеру, получила второе высшее и много лет руководила закупками стали для автомобилестроительной компании. Именно падение рубля дало ей возможность вернуться к преподаванию.
              p «Когда моя зарплата превратилась в тыкву, а мужу предложили работу в Алжире, мы, конечно переехали. По счастливой случайности я начала преподавать английский язык в школе при посольстве России. И поняла, что именно этим хочу заниматься всегда».
              p С «Флоу» помог новый кризис. До этого Диляра никогда не работала онлайн, и когда весной в её школе ввели карантин, ей пришлось за несколько дней освоить все онлайн-платформы, перестроить программы и даже обучить коллег, как проводить уроки в Zoom.
            .col-lg-3.order-1.order-md-2
              +author({
                photo: 'author-9.png',
                firstName: 'Диляра',
                lastName: 'Мухаметьянова',
                dscr: 'Преподаватель Флоу'
              })
          .row
            .col-lg-9
              +quote({
                text: 'Оказалось, что первый барьер для онлайн- преподавания был не так уж и высок. И я подумала — если я в Алжире могу своим ученикам преподавать онлайн, я ведь могу преподавать кому угодно!'
              })
          .row
            .col-lg-7.offset-lg-1
              p Но второй барьер был намного выше. По мнению Диляры, большинство сегодняшних сервисов обучения английскому сильно дискредитируют и профессию преподавателя, и само онлайн-образование. 
              p «Получить образование преподавателя и оставаться на должном уровне — очень время- и ресурсозатратно. Например, я получала сертификат Celta, дающий право преподавать английский во всем мире. В неделю у меня уходит минимум пять часов на то, чтобы просматривать вебинары и читать профессиональную литературу. Сейчас я параллельно работе прохожу IHCAM — курс продвинутой методологии. Преподаватели всё время вкладывают в себя и время, и деньги, и усилия. Очень странно при этом работать за 200 рублей в час». 
              p Увидев объявление о том, что Яндекс ищет преподавателей английского, она даже не сомневаясь подала своё резюме. И сейчас считает, что с точки зрения жизни в современном глобальном мире, и идея и методика преподавания английского во «Флоу» — самые эффективные из возможных. 
              p «Грамматика и лексика у нас встроены в интерактивные истории — своеобразные тренажеры. Некоторые ситуации с одними и теми же героями развиваются на протяжении нескольких историй, — студенты часто говорят, что читать их — как смотреть интересный сериал, им уже просто любопытно узнать „что будет дальше”. А параллельно они изучают новые слова, идиомы, конструкции». 
              p Другой инструмент «Флоу» — пятнадцатиминутные разговорные практики с преподавателями со всего мира. После прохождения истории, студент может созвониться со случайным преподавателем и пообщаться с ним на заданную тему. 
              p «Это очень продуманная штука. Часто можно встретить ситуацию, когда человек несколько лет занимается с хорошим репетитором и вроде бы хорошо умеет говорить. Но сталкиваясь в реальном мир с носителем яызыка, у которого просто другая манера общения, скорость речи или акцент — он теряется».
          .row
            .col-lg-9
              +quote({
                text: 'Наши разговорные практики эмулируют ситуации из реального мира. Ведь в жизни ты общаешься на английском не с одним и тем же человеком. Ты сталкиваешься с кем-то в отеле, просишь показать дорогу в аэропорту, разговариваешь сразу со множеством людей на крупной конференции, по телефону или онлайн'
              })
          .row
            .col-lg-7.offset-lg-1
              p За неделю студенты проходят четыре истории и четыре разговорных практики. Личный преподаватель встречается со студентом раз в неделю, оценивает прогресс и даёт обратную связь.
              p «Я строю урок таким образом, чтобы понять, что студент усвоил, какие новые слова и грамматические конструкции он стал использовать. Бывает, что человек отлично запомнил лексику, но грамматику ему нужно пройти несколько раз. А бывает, что студент отлично во всём разобрался, выучил новые слова, но почему-то не чувствует себя уверенно. И тогда я либо даю ему задание пройти упражнения на эту тему, либо трачу пять минут на практику прямо на уроке».
              p Что касается поддержки, кроме технической (она помогает, если студент не знает, на какую кнопку нажать, не проходит платеж, он не может назначить личному преподавателю встречу в календаре), во «Флоу» есть и языковая. Фактически это круглосуточный учитель на удалёнке.
              p «Удобство этой поддержки сложно переоценить, ведь наш студент может решить пройти задание, скажем, в четыре утра по московскому времени. И если у него возникли вопросы — например, он понимает все слова в предложении, но не понимает, что значит само предложение, — здорово иметь возможность получить на этот вопрос ответ прям в четыре утра».
              p «Что немаловажно, точно так же гибок Флоу и в отношении преподавателей. Я сама назначаю временные отрезки, когда мне удобно работать, студенты видят их и могут записаться ко мне. Это уважение ко времени всех участников процесса».
              p Диляра понимает, что будущее послевузовского образования — за онлайном. Преподавать и учить язык так, как люди делали это раньше, с каждым днём всё сложнее. Ритм жизни очень ускорился и если ещё десять лет назад человек был уверен в том, что придёт на встречу с репетитором во вторник в 20:00, то сегодня он часто не знает, в какой стране будет находиться на следующей неделе. 
              p «Подход „Флоу” позволяет собрать самых крутых профессионалов со всего мира. И среди методистов, и среди личных преподавателей есть удивительные люди — с двадцатилетним опытом преподавания английского, преподающие в Оксфорде, или изучающие нейробиологию, лингвистику». 
          .row.mt-20.mt-md-40
            .col-lg-7.offset-lg-1
              h3 Студент во «Флоу»
          .row
            .col-lg-7.offset-lg-1
              p Роман Сергеев тем или иным образом учил английский с детского сада. Но понял, что за язык нужно браться всерьёз, будучи уже взрослым, состоявшимся предпринимателем, на конференции Youtube в Лондоне. Именно там он вдруг осознал, что управляя успешным креативным бизнесом, просто не может на должном уровне поддержать об этом бизнесе беседу.
              p «Это был безумно сильный барьер. Нужно общаться с людьми, а ты их даже не понимаешь. Нужно улавливать нить беседы  а ты постоянно выпадаешь из контекста. Хочешь выразить свою мысль, и сам понимаешь, что говоришь очень топорно». 
              p Продакшн-компания Романа создаёт образовательные анимационные ролики,  раскрывающие основные идеи бестселлеров мировой бизнес-литературы. У его канала на Youtube сотни тысяч подписчиков. Заключены долгосрочные контракты и с издательствами, и с авторами. Ведётся множество корпоративных проектов. Но на сегодняшний день всё это — на русском языке. 
            .col-lg-3
              +author({
                photo: 'author-10.png',
                firstName: 'Роман Сергеев',
                dscr: 'Студент Флоу'
              })
          .row
            .col-lg-9
              +quote({
                text: 'Мысль о том, чтобы развивать наш бизнес за пределами России крутилась в голове много лет. Это самое очевидное направление роста: российский рынок сам по себе очень маленький; корпоративных клиентов, у которых есть деньги на анимационное видео, — не так много. И мой менеджер по развитию из лондонской команды Youtube нам постоянно говорил, что мы очень крутые, но почему же, почему не на английском?!'
              })
          .row
            .col-lg-7.offset-lg-1
              p При этом Роман понимал — для того, чтобы развивать бизнес глобально, недостаточно просто нанять англоязычных копирайтеров. Нужно самому владеть языком на должном уровне: проводить презентации, общаться с потенциальными клиентами, глубоко понимать контекст, писать на английском и понимать написанное. 
              p Попробовав несколько онлайн-платформ по изучению английского языка, он очень быстро разочаровался: на одной нельзя было заменить преподавателя, который не понравился, на другой сами преподаватели были очень низко мотивированы, а чаще всего сами онлайн-инструменты раздражали его гигантским количеством недоработанных мелочей.  
              p «Обратиться в техподдержку везде — огромная проблема. Мне отвечали неделями и отвечали не на то. Казалось, что это какое-то безумие: я спрашиваю про одно, а мне отвечают про другое». 
              p «Флоу» Роман решил попробовать, как он говорит сам, только потому, что это продукт Яндекса, чьему бренду он очень доверяет. И уже всю первую, бесплатную неделю, был в диком восторге.
          .row
            .col-lg-9
              +quote({
                text: 'Мне казалось, что этот курс создан специально для меня — там были все нужные мне в работе выражения, вся лексика, описаны все ситуации, в которые я в реальности попадаю, общаясь с западными коллегами'
              })
          .row
            .col-lg-7.offset-lg-1
              p Сергеев утверждает, что сразу проникся каждым инструментом «Флоу». В интерактивных историях ему нравится, что фокус на повествовательной составляющей, а не на том, правильно или неправильно он ответил на вопрос.
              p «Очень здорово, что сложные темы растянуты на несколько историй. Ты каждый раз ждёшь продолжения, инвестируешь в сюжет, как будто включаешься в игру. И ты в этот момент не думаешь о своих ошибках, тебе просто интересно практиковаться».
              p В разговорной практике его подкупил жесткий пятнадцатиминутный формат и возможность говорить с разными людьми.
              p «Круто, что преподаватели из разных стран и с разным бэкграундом. Русских всегда проще понять, даже когда общаешься на английском: у вас есть общий менталитет и какая-то общая логика. С иностранцами сложнее, и это сразу чувствуешь. Например, для британцев я слишком резкий. Их манера — это: „Извините пожалуйста, не было бы вам удобно, может быть, но если вам очень сложно…”».
              p Встреча с личным преподавателем раз в неделю позволила Роману четко видеть прогресс, корректировать направление и прямо говорить о своих ожиданиях. В отдельном восторге он был от круглосуточной языковой поддержки: «Я не знаю, откуда эти люди и как их обучают, но это что-то невероятное. Они решают любые вопросы, да и просто общаться с ними — отдельный вид удовольствия». 
              p «Отдельно прекрасная история, что ты можешь проходить всё это в собственном темпе, не привязываясь к расписанию уроков. Я предприниматель, у меня безумный режим, картина дня постоянно меняется. Вот, у меня созвон отменился, появились свободные полчаса, и я могу тут же потратить их на занятие. Кроме того, я могу назначить созвон на то время, когда мне удобно: и ночью и ранним утром».
              p Начав заниматься с «Флоу» в мае, к середине сентября Роман полностью прошел уровень B1, и сейчас очень ждёт уровня B2. За это время он начал проводить презентации на английском, сильнее проникся процессом изучения языка и выстроил план дальнейших действий. Если раньше язык был для него неизведанной территорией, то сейчас появилась карта и понимание возможных направлений. Теперь Сергеев хочет довести свой английский до максимально свободного уровня: понимать любой входящий контент и без усилий выражать мысли ясно и четко.
              p «Основным инструментом, конечно, был Флоу. Но параллельно я очень много занимался английским: читал учебник Мерфи, у меня были занятия с носителем языка, я находил людей для практики, смотрел фильмы без перевода. 
              p Наивно считать, что ты можешь просто переложить ответственность за изучение языка на какой-то один инструмент, пусть даже он от Яндекса. Любое образование — это твоя личная заинтересованность и огромное количество времени и сил». 
      .container.details__container.pt-60.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Флоу: изучение английского в интерактивной форме',
          img: 'details-bg8.svg',
          textWidth: 'md'
        }).details--bg8
      .container  
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
