extends ../templates/template.pug
block header
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0(style="list-style:none;font-size:20px;")
          li
            a.d-block.my-10(href="main.html") Главная
            a.d-block.my-10(href="login.html") Регистрация вход
            a.d-block.my-10(href="registration.html") Регистрация стойка
            a.d-block.my-10(href="parallel.html") Учительская
            a.d-block.my-10(href="cabinet.html") Кабинет
            a.d-block.my-10(href="speakers.html") Спикеры
            a.d-block.my-10(href="recovery-1.html") Восстановление пароля 1
            a.d-block.my-10(href="recovery-2.html") Восстановление пароля 2
            a.d-block.my-10(href="recovery-3.html") Восстановление пароля 3
            a.d-block.my-10(href="recovery-4.html") Восстановление пароля 4
            a.d-block.my-10(href="404.html") 404
            a.d-block.my-10(href="program.html") Program
            a.d-block.my-10(href="apprentice.html") Apprentice
            a.d-block.my-10(href="admin.html") Admin
            a.d-block.my-10(href="academ1.html") Academ1
            a.d-block.my-10(href="academ2.html") Academ2
            a.d-block.my-10(href="academ3.html") Academ3
            a.d-block.my-10(href="academ4.html") Academ4
            a.d-block.my-10(href="lyceum.html") Lyceum
            a.d-block.my-10(href="workshop.html") Workshop
            a.d-block.my-10(href="flow.html") Flow
            a.d-block.my-10(href="stories.html") Stories
            a.d-block.my-10(href="teacher.html") Teacher
            a.d-block.my-10(href="facebook-ad.html") Facebook Ad
block footer
  
