extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Когда интереснее делать игры, чем в них играть',
        dscr: 'Яндекс.Лицей — бесплатный двухгодичный образовательный проект для школьников. Они изучают Python и основы промышленного программирования. Истории преподавателя Яндекс.Лицея и одного из выпускников проекта, который за два года с нуля освоил Python.',
        picture: 'cover-7.png',
        size: 'big'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1.order-2.order-md-1
              h3 Преподаватель в Яндекс.Лицее
              p «Я сидела с подружкой на даче, мы купались в Волге, загорали и классно проводили время. И тут мне позвонили: <br>—Хотите работать преподавателем в Лицее? <br>— А что это вообще такое? — спрашиваю я. <br>— А мы не знаем. — сказали мне в Саратове. <br>Так всё и началось».
              p Екатерина Филина — один из первых преподавателей Яндекс.Лицея в Саратове, она пришла в проект ещё пять лет назад. Отбор, по её словам, был очень серьёзным. Уровень задач по программированию, которые давали учителям в виде тестовых, она называет олимпиадным. Кроме того, учителя проходили собеседование с методистом и разговаривали с психологом. 
            .col-lg-3.order-1.order-md-2
              +author({
                photo: 'author-5.png',
                firstName: 'Екатерина',
                lastName: 'филина',
                dscr: 'Преподаватель и Методист Яндекс.Лицея'
              })
          .row
            .col-lg-9
              +quote({
                text: 'Яндекс понимал, что в тот момент было нереально найти преподавателей информатики, которые знают Python. Поэтому они искали просто адекватных преподавателей. Например, в качестве одной из задач для отбора нужно было составить схему урока и защитить её. Я знала, что предстоит обучать школьников 8-9 класса, и придумала урок по игре „Майнкрафт”'
              })
          .row
            .col-lg-7.offset-lg-1
              p «Герою там нужно избегать пауков, собирать материалы и выполнять много разных заданий. Это всем показалось интересным, в результате я прошла отбор и вместе с другими преподавателями отправилась в Москву — слушать лекции по Python».
              p Сейчас, по словам Екатерины, отбор стал ещё строже. Учитель должен полностью пройти программу первого года обучения в Лицее и подтвердить, что он ее освоил. После каждого крупного блока он сдаёт промежуточные тесты, а по итогу — финальный тест на знание всей программы. Начав работать, учителя параллельно проходят курс повышения квалификации по освоению программы второго года. По итогам курса они выполняют проектную работу, аналогичную той, которую будут разрабатывать их ученики на втором году обучения. Но и это ещё не всё. Через три года учителям нужно будет заново пройти тестирование по программам первого и второго годов обучения, чтобы подтвердить уровень своей квалификации. 
              p Двухгодичная программа Лицея устроена так: на первом году обучения ребята изучают азы языка Python, уделяя много времени решению задач различной сложности. Они знакомятся с основами функционального и объектно-ориентированного программирования и библиотеками Python. На втором году переходят к проектной деятельности. Материалы меняются, дополняются и постоянно перерабатываются. Задания первого курса четырехлетней давности очень отличаются от тех, что Екатерина даёт ученикам первого курса сейчас. 
              .stats.mb-40.d-block.d-md-none
                .stats__item
                  .stats__header 2
                  .stats__content страны — Россия и Казахстан
                .stats__item
                  .stats__header 71
                  .stats__content из 85 регионов России
                .stats__item
                  .stats__header 169
                  .stats__content городов и населенных пунктов
                .stats__item
                  .stats__header 372
                  .stats__content площадки
                .stats__item
                  .stats__header 524
                  .stats__content преподавателя
                .stats__item
                  .stats__header 10 000 +
                  .stats__content учеников
              p «Всё до сих пор немного новое. И я до сих пор сама очень медленно решаю задачки, считаю это особенностью организма. Но мне кажется, как раз это даёт мне возможность хорошо понимать детей. Когда ученик смотрит на задачу и тупит, я туплю вместе с ним. И мы вместе доходим до решения. Мои ученики очень ценят, что я не выдаю готовые ответы, а каждый раз мучаюсь вместе с ними».
              p Как говорит сама Екатерина, её рождение как преподавателя Яндекс.Лицея произошло постепенно. К этому моменту стаж преподавания информатики в школе у неё уже составлял восемь или девять лет. И она привыкла, что над каждой задачей нужно работать так: «Сперва построить алгоритм, продумать его, написать на листочке, еще раз продумать, а потом уже писать программу». 
            .col-lg-3.d-none.d-md-block
              .stats
                .stats__item
                  .stats__header 2
                  .stats__content страны — Россия и Казахстан
                .stats__item
                  .stats__header 71
                  .stats__content из 85 регионов России
                .stats__item
                  .stats__header 169
                  .stats__content городов и населенных пунктов
                .stats__item
                  .stats__header 372
                  .stats__content площадки
                .stats__item
                  .stats__header 524
                  .stats__content преподавателя
                .stats__item
                  .stats__header 10 000 +
                  .stats__content учеников
          .row
            .col-lg-9
              +quote({
                text: 'Сейчас я начинаю писать код сразу, вместе с детьми. Говорю им „А давайте, запустим? Что получится?” Если мы проходим алгоритм поиска максимума, не нужно в начале урока ставить ему памятник. Уже в процессе работы к ним естественным образом приходит понимание того, что такое этот алгоритм поиска максимума'
              })
          .row
            .col-lg-7.offset-lg-1
              p «Я поняла, что глупо отдавать часть урока на то, чтобы стоять у доски как звезда, и что-то им рассказывать. Учебник настолько хорошо написан, что детей можно сразу сажать за компьютеры. В первый месяц занятий я вывожу лекцию на электронную доску, пока мы решаем задачи. А дальше они уже ориентируются в лекциях и понимают, что надо открыть. Я просто говорю: „Давайте прочитаем вот это... А найдите мне в лекции то-то... А давайте посмотрим, что этот термин означает, что выведет эта программа”. Мы разбираем не весь материал, а только ту часть, которая нужна для решения задачи. Решили задачу? Разбираем следующую часть материала». 
              p По словам Екатерины, так дети приучаются к самостоятельной работе с учебником, понимают, на что стоит обращать внимание, а не просто записывают лекцию со слов преподавателя. И потом сами легко могут вернуться к этим материалам. 
              p В Лицее действует система поддержки начинающих преподавателей более опытными. И сегодня Екатерина не только учит детей, но и в качестве методиста делится всем наработанным опытом с новыми преподавателями, только начинающими путь в проекте.
              p «Мне есть, чем гордиться, у меня классные ребята. Если говоритьо результатах, можно рассказать такую историю. Я как-то встретила своего выпускника и спросила, готов ли он к ЕГЭ по информатике через месяц. „Да не, ещё не смотрел”.
              p Конечно, он сдал ЕГЭ хуже всех моих учеников — на восемьдесят шесть баллов. Но только представьте себе всех остальных детей, которые с десятого класса сутками сидят с репетиторами, нервничают и воспринимают ЕГЭ как очень важный жизненный этап».
          .row
            .col-lg-9
              +quote({
                text: 'Выпускники Лицея настолько погружены в информационные технологии, что ЕГЭ их не очень волнует. Для них это просто ещё один способ проверить свои знания'
              })
          .row
            .col-lg-7.offset-lg-1
              p «Этому товарищу уже после школы предложили работу тимлидом в нормальной фирме, которая занимается производством программных продуктов. Даже не стажером. И он отказался, отправился получать образование дальше. Потому что нашим ребятам уже интереснее не просто заработать денег, им хочется чего-то большего — развиваться и расти в профессии». 
          .row.mt-20.mt-md-40
            .col-lg-7.offset-lg-1
              h3 Выпускник Яндекс.Лицея
          .row
            .col-lg-7.offset-lg-1
              p Илья Виноградов решил пойти учиться в Лицей, потому, что туда поступили двое его одноклассников, которые весь год рассказывали, как там здорово и интересно. 
            .col-lg-3
              +author({
                photo: 'author-6.png',
                firstName: 'Илья',
                lastName: 'Виноградов',
                dscr: 'Выпускник Яндекс.Лицея'
              })
          .row
            .col-lg-9
              +quote({
                text: 'До этого я вообще не интересовался программированием, хотя теперь уверен, что в нём моё будущее», — говорит Илья, — «Я понял, что, наверное, всегда хотел стать программистом. Просто не знал этого, потому что никогда не начинал программировать, а здесь начал.'
              })
          .row
            .col-lg-7.offset-lg-1
              p Илья учится в Лицее при Ульяновском государственном техническом университете, где находится одна из площадок Яндекс.Лицея. Чтобы попасть в проект, нужно было решить десять несложных логических задач и пройти короткое собеседование. 
              p «На протяжении первого года нам объясняли, как вообще писать код, давали поработать с  некоторыми библиотеками. Ещё тогда меня заинтересовало, что с помощью этих библиотек можно делать игры». 
              p Уроки в Лицее устроены так, что параллельно с теорией ученикам объясняют базовые задачи, а потом дают самим решить похожие на ту же тему. Все задания разделены на классные, домашние и дополнительные, слегка отличающиеся по сложности. Илья говорит, что брал все, но дополнительные были самыми интересными. 
              p «Некоторые задачи, которые сейчас кажутся очень простыми, тогда просто переворачивали весь мир. Например, нам нужно было сделать декодировщик азбуки морзе. Это вообще не сложно. Но в тот момент меня восхитила и сама задача, и то, что я смог её решить».
              p Второй год в Яндекс.Лицее посвящен глубокому погружению в отдельные темы: интерфейсы, создание сайтов и игр. 
              p «Этот год состоял из мини-проектов. Каждый учебный проект делился для меня на несколько задач, а каждая задача требовала где-то часа на решение и написание. В итоге из этого складывался более-менее конечный продукт. 
              p Я начал делать и самостоятельные проекты. Например, написал алгоритм реалистичного рендеринга и трассировки лучей. <br>Я не уверен, что в будущем хочу двигаться именно в этом направлении, но сейчас мне очень нравится. Во-первых, это объемная и сложная тема. Во-вторых, в результате получаются красивые изображения». 
              p Соединив интерес к рендерингу и играм, Илья и придумал собственный проект — кубик Рубика, который можно вращать онлайн.
          .row
            .col-lg-10.offset-lg-1
              +info({
                poster: 'info-video-1.png',
                title: 'Кубик Рубика'
              }).info--video
                p Программа Ильи Виноградова автоматизирует работу по сбору кубика Рубика различного размера. Изучить её подробнее можно на <a href="#">GitHub</a>
          .row
            .col-lg-7.offset-lg-1
              p «Как-то я увидел в сети видеоролик, где человек показывал алгоритм, который собирает кубик Рубика. И когда у нас закончился первый курс, я решил попробовать написать такой же. Изучил тему, нашел нужную библиотеку… И теперь у меня есть онлайн-кубик Рубика, с которым можно играться, проводить всякие манипуляции. Можно менять цвет, вращать его, выбирать грань, с которой начать… Сложно объяснить, с какой целью я его сделал. Просто это правда очень интересно».
              p Пока у Ильи нет четкого видения будущего и планов на карьеру. И разработкой он занимается не потому, что видит в этом выгодные перспективы трудоустройства. Просто ему это интересно.
          .row.d-none.d-md-block
            .col-lg-9
              +quote({
                text: 'Может быть, это звучит пафосно, но Яндекс.Лицей открыл мне мир программирования. Оказалось, то это делается просто и интересно, а не заумно, как я до этого думал. У меня сложилось понимание работы компьютеров, почти религия», — смеётся он. — «Компьютер может сделать всё. Главное — правильно сказать ему, что тебе нужно'
              })
          .row
            .col-lg-7.offset-lg-1
              h3 Примеры проектов учеников Яндекс.Лицея
        .container.mr-0.mr-md-auto.pr-0.pr-md-20
          .row
            .col-lg-10.offset-lg-1
              .slider.slider--project
                .slider__content.js-slider-content-project
                  .slider__item
                    +project({
                      poster: 'project-1.jpg',
                      title: 'MINEcraft',
                      dscr: 'Программа Дениса Белозерова представляет собой двумерную версию «Майнкрафта»'
                    })
                  .slider__item
                    +project({
                      poster: 'project-2.jpg',
                      title: 'Матбои',
                      dscr: 'Система Дарьи Калашниковой для автоматизации проведения математических боев'
                    })
                  .slider__item
                    +project({
                      poster: 'project-3.jpg',
                      title: 'PacMan',
                      dscr: 'Веселый клон классической аркадной игры из 1980-х от Милены Сербиновой'
                    })
                  .slider__item
                    +project({
                      poster: 'project-1.jpg',
                      title: 'MINEcraft',
                      dscr: 'Программа Дениса Белозерова представляет собой двумерную версию «Майнкрафта»'
                    })
                  .slider__item
                    +project({
                      poster: 'project-2.jpg',
                      title: 'Матбои',
                      dscr: 'Система Дарьи Калашниковой для автоматизации проведения математических боев'
                    })
                  .slider__item
                    +project({
                      poster: 'project-3.jpg',
                      title: 'PacMan',
                      dscr: 'Веселый клон классической аркадной игры из 1980-х от Милены Сербиновой'
                    })
      .container.details__container.pt-60.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Яндекс.Лицей: программирование для школьников',
          img: 'details-bg6.svg',
          textWidth: 'md'
        }).details--bg5
      .container  
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
