extends ../templates/template.pug
block header
  +header.header--home
block content
  +front.front--logged-in
  +section({
    type: 'video'
  })
    .col-lg-8
      h3.display-3.mb-10 Технологии в образовании: страхи и возможности
      table.p.text-dark.mb-10.mb-md-20
        tr
          td.align-top.section__video-time.pr-20 15:30
          td.align-top Кирилл Медведев / Новая школа
      .collapse.d-lg-block#cl1
        p.
          Новые технологии помогают решить многие вопросы в образовании. Например, можно ли учителю не проверять тетради и контрольные работы или как на занятиях превратить гаджеты в помощников. На встрече поговорим о том, в чем основная роль учителя в образовании и как технологии помогают концентрироваться на главном. Разберем, почему мы боимся доверить технологиям нашу работу, узнаем, как страх трансформировать в задачу и открыть для себя новые возможности.
      +btn({
        text: 'О докладе',
        type: 'toggle'
      })(class="btn-link mb-20 d-lg-none" data-toggle="collapse" data-target="#cl1" aria-expanded="false")
  include ../blocks/section/_section-privilege
  section.section
    .container
      h2.section__title.mb-40.mb-md-80 ПРОГРАММА <br>КОНФЕРЕНЦИИ
    .container.container--max-content.overflow-hidden: .container
      +timetable
      .text-center: +btn({text:'Вся программа'}).btn-primary.px-md-60
  section.section-list
    .section-list__bg
      .container
        h2.section-list__title.mb-20.mb-md-95 Кто сегодня<br>выступает
        +speaker-row
        .text-center: +btn({text: 'И другие эксперты'}).btn-primary.px-40
        .section-list__bottom
          h2.mb-30.mb-md-40 Кто ведёт<br>конференцию
          .row.align-items-center
            .col-md-6.order-1.order-md-0
              h3.mb-10.mb-md-20 Андрей Себрант 
                span.d-block.d-md-inline-block и Ирина Хованская
              p.
                Директор по стратегическому маркетингу Яндекса и преподаватель математики НИУ ВШЭ объединяют опыт человека из сферы технологий и человека из образовательной среды, чтобы поговорить со спикерами и задать им правильные вопросы. Они проведут вас через этот день и помогут провести его максимально продуктивно.
            .col-md-6
              .section-list__photo
                img.d-none.d-sm-block(src="./img/speakers.png" alt)
                img.d-sm-none(src="./img/speakers--mob.png" alt)
    .section-list__footer: .container: .row
      .col-12.d-md-none
        h2.mb-10 ИСТОРИИ <br>ИЗ ЖИЗНИ
      .col-md-6.order-1.order-md-0
        h2.mb-25.mb-md-80.d-none.d-md-block ИСТОРИИ <br>ИЗ ЖИЗНИ
        p.mb-20.mb-md-40.text-dark.
          Почитайте истории реальных людей разных возрастов
          и профессий и узнайте, как технологии помогли им в работе
          и учёбе — и даже изменили их жизнь.
        +btn({text: 'Читать истории'}).btn-primary.px-40
      .col-md-6.section-list__story-img
        img(src="./img/story.png" alt)
  include ../blocks/section/_section-reg
  include ../blocks/section/_section-faq
  +modal({
    modifier: 'announcement'
  }).modal--close-out.modal--announcement#announcement
  +modal({
    modifier: 'message'
  }).modal--close-out.modal--transparent.modal--message#message
