extends ../templates/template.pug
block content
  +modal({
    modifier: 'speaker'
  })#speaker.modal--close-out
  +modal({
    modifier: 'message'
  }).modal--close-out.modal--transparent.modal--message#message
  main
    .container.pt-40
      .row
        .col-xl-9: h1.mb-35.mb-md-30 Учительская
      .row
        .col-lg-6.order-1.order-lg-0
          p.mb-40.mb-md-60.
            Для школьных учителей, которые стремятся сделать свои уроки ещё интереснее и при этом меньше уставать, не боятся экспериментировать
            и использовать новые подходы в преподавании. Программу этого зала подготовили команды Яндекс.Учебника и Я Учителя.
        .col-lg-4.offset-lg-2
          +brands({
            items: ['logo-brand-1.svg', 'logo-brand-2.svg', ]
          })
    +section({
      type: 'video'
    })
      .col-lg-8
        h3.display-3.mb-10 Как организовать дискуссию на уроке
        table.p.text-dark.mb-10.mb-md-20
          tr
            td.align-top.pr-20 11:30
            td.align-top Анна Булгакова / Яндекс.Учебник
        .collapse.d-lg-block#cl1
          p.
            Как научить школьников вести дискуссию? На какие темы им интересно разговаривать?
            В каком формате организовать работу? Кроме того, из выступления вы узнаете:
            <br>
            — почему возникают трудности при дискуссии на уроке;
            <br>
            — какие способы управления дискуссией предлагает современная педагогика;
            <br>
            — как пользоваться карточками с заданиями Яндекс.Учебника для организации дискуссии.
        +btn({
          text: 'О докладе',
          type: 'toggle'
        })(class="btn-link mb-20 d-lg-none" data-toggle="collapse" data-target="#cl1" aria-expanded="false")
    section.section-list.section-list--bg-top-none.mb-50.mb-md-130
      .section-list__bg.section-list__bg--parallel
        .container
          h2.section-list__title.mb-40.mb-md-60 ПРОГРАММА
          .mb-60
            .p.p--md.text-body.mb-20 Главная сцена
            +lesson({
              time: '09:30',
              title: 'Открытие',
              bordered: true
            })
            +lesson({
              time: '10:00',
              title: 'Секретный доклад',
              bordered: true
            })
            +lesson({
              time: '10:30',
              title: 'Как перевести офлайн-проект на дистанционную работу',
              bordered: true
            })
            +lesson({
              time: '11:00',
              title: 'Еще один доклад',
              check: true,
              bordered: true
            })
          .mb-60
            .p.p--md.text-body.mb-20 Учительская
            +lesson({
              type: 'more',
              time: '11:30',
              title: 'Как организовать дискуссию на уроке',
              text: 'Как научить школьников вести дискуссию? На какие темы им интересно разговаривать? В каком формате организовать работу?<br> <br> Кроме того, из выступления вы узнаете: <br> — почему возникают трудности при дискуссии на уроке; <br>— какие способы управления дискуссией предлагает современная педагогика; <br>— как пользоваться карточками с заданиями Яндекс.Учебника для организации дискуссии.',
              speaker: {
                img: 'speaker-1.png',
                name: 'Анна Булгакова',
                role: 'Главный методист по русскому языку в Яндекс.Учебнике'
              }
            })
            +lesson({
              type: 'more',
              time: '12:00',
              title: 'Разные дети: как учить и как помогать',
              check: true,
              text: 'Каждый учитель сталкивался с детьми с выраженными особенностями характера или поведения: тревожными, гиперактивными, медлительными, немотивированными, замкнутыми или конфликтными.<br><br>Из доклада спикера вы узнаете:<br>— о принципах работы с «трудными» учениками;<br>— об условных типах характеров;<br>— о том, как эффективно организовать взаимодействие и обучение',
              speaker: {
                img: 'speaker-2.png',
                name: 'КСЕНИЯ Вотякова',
                role: 'Специалист по сопровождению обучения в Яндекс.Учебнике'
              }
            })
              
          .mb-60
            .p.p--md.text-body.mb-20 Главная сцена
            +lesson({
              time: '12:30',
              title: 'Чему мы научились при глобальном lockdown/карантин',
              check: true,
              bordered: true
            })
            +lesson({
              time: '13:00',
              title: 'Как технологии on the edge (VR, геймификация) трансформируют образовательный опыт',
              bordered: true
            })
            +lesson({
              time: '13:30',
              title: 'Человек хорошо погружен в тему технологий и образования, может дать широкий outlook на пересечении двух тем',
              bordered: true
            })
          .mb-60
            .p.p--md.text-body.mb-20 Учительская
            +lesson({
              type: 'list',
              time: '14:00',
              title: 'Современные технологии на службе учителя',
              text: 'Серия коротких докладов учителей о применении разных технологий и инструментов на школьных уроках.',
              items: [
                {
                  title: 'Инструменты сбора обратной связи: Kahoot!, Mentimeter, Яндекс.Формы на уроках',
                  speaker: {
                    img: 'speaker-3.png',
                    name: 'Татьяна Громова',
                    role: 'Учитель русского языка и литературы, методист по русскому языку в Яндекс.Учебнике'
                  }
                },
                {
                  title: 'Среда для экспериментирования. Desmos на уроках математики',
                  speaker: {
                    img: 'speaker-4.png',
                    name: 'Екатерина Богданович',
                    role: 'Учитель математики «Филипповской школы»'
                  }
                },
                {
                  title: 'Онлайн-диктанты',
                  speaker: {
                    img: 'speaker-5.png',
                    name: 'Екатерина Горбатова',
                    role: 'Учитель русского языка и литературы, методист по русскому языку в Яндекс.Учебнике'
                  }
                },
                {
                  title: 'Учебная аналитика в Яндекс.Учебнике как инструмент дифференцированного обучения и построения индивидуальной образовательной траектории',
                  speaker: {
                    img: 'speaker-6.png',
                    name: 'Марина Рогатова',
                    role: 'Ведущий методист по математике в Яндекс.Учебнике'
                  }
                },
                {
                  title: 'Использование Яндекс.Диска для вовлечения в работу каждого. Визуализация в Jamboard. Структурирование материала в Padlet на уроках словесности',
                  speaker: {
                    img: 'speaker-7.png',
                    name: 'Инна Торботряс',
                    role: 'Преподаватель русского языка и литературы, старший методист по словесности «Хорошколы»'
                  }
                },
                {
                  title: 'Как ещё можно использовать карты в эпоху цифровизации',
                  speaker: {
                    img: 'speaker-8.png',
                    name: 'Мария Монахова',
                    role: 'Методист по географии в Яндекс.Учебнике'
                  }
                },
                {
                  title: 'Карточки Яндекс.Учебника на уроках литературы в начальной школе',
                  speaker: {
                    img: 'speaker-9.png',
                    name: 'Ольга Гвинджилия',
                    role: 'Учитель русского языка и литературы школы № 2123 им. М. Эрнандеса (Москва)'
                  }
                },
                {
                  title: 'Уроки музыки, литературное чтение, культурный марафон с Яндекс.Музыкой',
                  speaker: {
                    img: 'speaker-10.png',
                    name: 'Анастасия Тмур',
                    role: 'Учитель начальных классов школы № 1576 (Москва)'
                  }
                }
              ]
            })
          .mb-60
            .p.p--md.text-body.mb-20 Главная сцена
            +lesson({
              time: '15:30',
              title: 'Технологии в образовании: страхи и возможности',
              bordered: true
            })
            +lesson({
              time: '16:00',
              title: 'Формирование образовательного опыта в эпоху новых технологий',
              bordered: true
            })
            +lesson({
              time: '16:30',
              title: 'Как люди учатся',
              bordered: true
            })
          .text-center: +btn({text: 'Вся программа'}).btn-primary.px-40 
      .section-list__footer
        .container
          h2.section__title.mb-sm-40 Истории в учительской
          .row.mb-40.mb-lg-80.d-none.d-sm-block
            .col-lg-4
              p.text-dark.semi-transparent Почитайте, как технологии помогают в работе вашим коллегам и другим людям.
          .slider-story.slider-story--default.slider-story--yellow
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-6.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
    section.section: .container
      h2.section__title.mb-45.mb-md-80 ДРУГИЕ ЗАлы
      +hall-row.pb-60.pb-md-90
