extends ../templates/template.pug
block content
  main
    .container.container--max-content.overflow-hidden
      .container.pt-40
        .row
          .col-12
            h1.mb-35.mb-md-80 ПРОГРАММА
            +timetable({
              modifier: 'big'
            })
