extends ../templates/template.pug
block content
  main: .registration
    .container: .registration__content
      h1.mb-40.mb-md-70 СТОЙКА РЕГИСТРАЦИИ
      p.mb-55.
        Как на обычной конференции, сначала лучше получить бейдж. Смотреть трансляции можно и без него, но лучше представиться: так вы сможете задавать вопросы спикерам, пока слушаете доклад, обсуждать трансляцию в чате и общаться с другими гостями конференции. А мы сможем советовать, что вам послушать и почитать.
      h3.mb-40.mb-md-35 Расскажите о себе
      .row.mb-60.mb-md-20
        .col-md-3.order-1.order-md-0.text-center.text-md-left
          +photo
          +modal({
            modifier: 'photo'
          })#photo.modal--close-out.modal--photo
        .col-md-9
          .row
            .col-sm-6: .form-group.mb-40
              input.form-control.form-control--default(name="name" id="name" type="text" value="Иван" required placeholder="")
              label(for="name") Имя *
            .col-sm-6: .form-group.mb-40
              input.form-control.form-control--default(name="last_name" id="last_name" type="text" required placeholder="")
              label(for="last_name") Фамилия *
            .col-sm-6: .form-group.mb-40
              input.form-control.form-control--default(name="work" id="work" type="text" placeholder="")
              label(for="work") Место работы или учёбы
            .col-sm-6: .form-group.mb-40
              input.form-control.form-control--default(name="role" id="role" type="text" placeholder="")
              label(for="role") Должность или статус
            .col-sm-6: .form-group.mb-40
              input.form-control.form-control--default(name="email" id="email" type="email" required placeholder="")
              label(for="email") Почта *
          .row
            .col-sm-6: .form-group.mb-40
              input.form-control.form-control--default(name="psw" id="psw" type="password" required placeholder="")
              label(for="psw") Пароль *
            .col-sm-6: .form-group.mb-40
              input.form-control.form-control--default(name="psw_repeat" id="psw_repeat" type="password" required placeholder="")
              label(for="psw_repeat") Повторите пароль *
      h3.mb-40.mb-md-25 Выберите, что вам интересно:
      +checkbox-tags({
        labels: ['технологии в образовании','развитие школы','преподавание в школе','обучение взрослых','работа с детьми','гуманизация образования','учить программироанию','университеты','разговоры обо всём','новая профессия','дистант','обучение учителей','создание новых продуктов']
      }).pb-60.pb-md-55
      h3.mb-30 Выберите цвет бейджа:
      .registration__color
        label.registration__color-item.registration__color-item--yellow
          input(type="radio", name="badge-color")
          .registration__color-item-content
        label.registration__color-item.registration__color-item--red
          input(type="radio", name="badge-color")
          .registration__color-item-content
        label.registration__color-item.registration__color-item--black
          input(type="radio", name="badge-color")
          .registration__color-item-content
        label.registration__color-item.registration__color-item--gray
          input(type="radio", name="badge-color")
          .registration__color-item-content
        label.registration__color-item.registration__color-item--blue
          input(type="radio", name="badge-color")
          .registration__color-item-content
      .registration__check.pb-40.pb-md-55
        .custom-control.custom-checkbox.mb-15.mb-md-20
          input.custom-control-input#check1(type="checkbox")
          label.custom-control-label(for="check1") Я хочу, чтобы другие участники конференции могли отправлять мне личные сообщения.
        .custom-control.custom-checkbox.mb-15.mb-md-20
          input.custom-control-input#check3(type="checkbox")
          label.custom-control-label(for="check3") Я хочу получить сертификат об участии в конференции.
        .custom-control.custom-checkbox.mb-15.mb-md-20
          input.custom-control-input#check4(type="checkbox")
          label.custom-control-label(for="check4") Я даю свое согласие на использование моего имени и изображения, отображенного на загруженной фотографии, для их публичного показа в ходе трансляции мероприятия.
        .custom-control.custom-checkbox
          input.custom-control-input#check2(type="checkbox" required)
          label.custom-control-label(for="check2").
            Я даю свое согласие ООО «ЯНДЕКС» (ОГРН: 1027700229193) на обработку предоставленных мною данныхна условиях, определённых в <a href="https://yandex.ru/legal/confidential/">политике конфиденциальности</a>, в целях участия в организуемом мероприятии и осуществления обратной связи, а также на передачу указанных данных партнёру, предоставляющему техническую платформу для проведения мероприятия. *
      .registration__bottom
        button(type="submit" disabled).btn.btn-primary Получить бейдж
