extends ../templates/template.pug
block header
  +header({
    login: true,
    menu: {
      active: 2
    }
  }).header--border
block content
  main
    section.section.pt-40.pt-md-60: .container
      h1.mb-40.mb-md-80 СПИКЕРЫ
      +modal({
        modifier: 'speaker'
      })#speaker.modal--close-out
      .row.pb-sm-100
        .col-xl-3.pb-sm-40
          +menu-aside
        .col-xl-9: .row
          .col-sm-6.col-lg-4.pb-sm-60.d-flex: +speaker({
            img: 'speaker-1.png',
            name: 'ЕЛЕНА <br>БУНИНА',
            role: 'HR директор, генеральный директор',
            info: 'Яндекс'
          }).speaker--card
          .col-sm-6.col-lg-4.pb-sm-60.d-flex: +speaker({
            img: 'speaker-2.png',
            name: 'Оливье <br>Крузе',
            role: 'CEO',
            info: 'École 42'
          }).speaker--card
          .col-sm-6.col-lg-4.pb-sm-60.d-flex: +speaker({
            img: 'speaker-3.png',
            name: 'НАРГИЗ <br>АСАДОВА',
            role: 'Заместитель директора',
            info: 'Европейская гимназия'
          }).speaker--card
          .col-sm-6.col-lg-4.pb-sm-60.d-flex: +speaker({
            img: 'speaker-4.png',
            name: 'КИРИЛЛ <br>МЕДВЕДЕВ',
            role: 'Генеральный директор',
            info: 'Новая Школа'
          }).speaker--card
          .col-sm-6.col-lg-4.pb-sm-60.d-flex: +speaker({
            img: 'speaker-5.png',
            name: 'АЛЕКСАНДР <br>ЛАРЬЯНОВСКИЙ',
            role: 'Управляющий партнёр',
            info: 'Skyeng'
          }).speaker--card
          .col-sm-6.col-lg-4.pb-sm-60.d-flex: +speaker({
            img: 'speaker-6.png',
            name: 'АЛЕКСАНДР <br>ЛАРЬЯНОВСКИЙ',
            role: 'Заместитель директора по научно-организационному развитию, заведующий лабораторией консультативной психологии и психотерапии',
            info: 'Психологический институт РАО'
          }).speaker--card
