extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    section.section.pt-40.pt-md-55
      .container
        h1.mb-40.mb-md-70 ИСТОРИИ
        .row
          .col-md-6.col-xl-11
            +story({
              picture: 'story-1.png',
              title: 'Новое онлайн-образование, которое развяжет руки учителю',
              dscr: 'Как Яндекс.Учебник помогает школьному учителю и почему «цифра» никогда не заменит человека'
            }).story--left.story--1
          .col-md-6.col-xl-4.offset-xl-1
            +story({
              picture: 'story-2.png',
              title: 'Не ученик идёт в школу, а школа — к ученику',
              dscr: 'Почему с Яндекс.Учебником школьники начинают лучше учиться'
            }).story--2
          .col-md-6.col-xl-6.offset-xl-1
            +story({
              picture: 'story-3.png',
              title: 'Бесплатный учебник по основным предметам, который не устареет через год',
              dscr: 'Как Яндекс.Учебник решает задачи государства и Департаментов образования по всей России'
            }).story--3
          .col-md-6.col-xl-10.offset-xl-1
            +story({
              picture: 'story-4.png',
              title: 'От кругосветных путешествий к веб-разработке',
              dscr: 'Как Яндекс.Практикум помогает получить навыки для работы и жизни: истории выпускника и наставника'
            }).story--right.story--4
          .col-md-6.col-xl-5.offset-xl-1
            +story({
              picture: 'story-5.png',
              title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее',
              dscr: 'Истории личного преподавателя из Алжира и студента, выводящего свой бизнес на международный рынок.'
            }).story--5
          .col-md-6.col-xl-4.offset-xl-1
            +story({
              picture: 'story-6.png',
              title: 'Как проверить тысячи задач за секунду',
              dscr: 'История преподавателя, тренера олимпиадных команд-победителей и создателя онлайн-курса, который прошли десятки тысяч человек'
            }).story--6
          .col-md-6.col-xl-11
            +story({
              picture: 'story-7.png',
              title: 'Как подарить беспилотникам глаза, а Netflix — технологии',
              dscr: 'История выпускницы Школы анализа данных Яндекса, которая успела поработать в лучших западных компаниях, а потом вернулась в Россию и создала библиотеку, которая пригодится им всем'
            }).story--left.story--7
          .col-md-6.col-xl-4.offset-xl-1
            +story({
              picture: 'story-8.png',
              title: 'Школы, из которых выходят сотрудники Яндекса',
              dscr: 'Десятки школ, стажировок и образовательных программ Яндекса: история, рассказанная их создателем'
            }).story--8
          .col-md-6.col-xl-4.offset-xl-1
            +story({
              picture: 'story-9.png',
              title: 'Наука, в которой больше адреналина, чем в спорте',
              dscr: 'Как превратить соревнования по программированию в школ лучших в мире разработчиков'
            }).story--9
          .col-md-6.col-xl-10.offset-xl-1
            +story({
              picture: 'story-10.png',
              title: 'Когда интереснее делать игры, чем в них играть',
              dscr: 'Истории преподавателя Яндекс.Лицея и одного из выпускников проекта, который за два года с нуля освоил Python'
            }).story--right.story--10

