extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'Новое <span style="white-space: nowrap;">онлайн-образование</span>, которое развяжет руки учителю',
        dscr: 'Как Яндекс.Учебник помогает школьному учителю и почему «цифра» никогда не заменит человека',
        picture: 'cover-10.png',
        size: 'md'
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1
              p «Мы сейчас, как в „Алисе в Зазеркалье”, — должны очень быстро бежать, просто чтобы остаться на месте», — говорит о своей работе Мария Зайцева. Уже десять лет она преподаёт математику начальным классам в школе Ульяновска. И со смехом вспоминает, как сильно в первый год работы переживала, что дети не любили её предмет, старалась сделать уроки интереснее, придумать увлекательные задания.
          .row
            .col-lg-7.offset-lg-1
              +video({
                poster: 'video-10.jpg',
                title: 'Я инженер, ученый, психолог, спортсмен. Я тот, кому вы доверяете своих детей. <br>Я — учитель!'
              })
          .row
            .col-lg-7.offset-lg-1
              p «По сравнению с сегодняшними проблемами это всё, конечно, смешно. Если раньше казалось, что основные сложности в работе — с родителями, которые могут хотеть очень странных вещей, с обязательной сдачей учебного плана каждый год, заполнением журналов, то сейчас ясно, что всё это мелочи».
              p По словам Зайцевой, карантин заставил всех учителей, а особенно пожилых, сильно пересмотреть приоритеты. Из-за удалёнки весь учебный год «полетел коту под хвост».
              p «В начале учебного года всегда небольшой хаос. Какие-то дети переходят из группы в группу, какие-то группы объединяются, уроки добавляются и убираются. Это нормальная ситуация, но на удалёнке она превратилась в бюрократический ад».
              p К гигантскому количеству рутинной работы и бюрократической нагрузке прибавились огромные проблемы с платформами для работы на удалёнке. Во-первых, их оказалось очень мало. А во-вторых, никто не знал, как с ними работать, — ни времени на обучение, ни централизованных усилий со стороны государства в этом направлении учителя не увидели.
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-11.png',
                title: 'Урок цифры'
              })
                p Это набор особенных уроков по информатике, разработанных ведущими российскими IT-компаниями при поддержке Министерства просвещения Российской Федерации. Благодаря «Уроку цифры» ученики не только узнают много интересного о мире информационных технологий, но и станут лучше ориентироваться в перспективных профессиях будущего.
                a.info__link.info__link--static(href="#") Узнать больше
          .row
            .col-lg-7.offset-lg-1
              p «Когда наша школа внедрила Яндекс.Учебник во время карантина, это оказалось настоящим спасением, я не преувеличиваю. С переходом на удалёнку основная обучающая нагрузка сильно перераспределилась в сторону домашнего задания. Это сейчас основное в моей работе. Сами задания стали значительно больше, а времени на составление и проверку каждого из них в отдельности больше, как вы понимаете, не стало».
          .row
            .col-lg-9
              +quote({
                text: 'В Учебнике я могу зайти в библиотеку и по своей учебной программе выбрать из неё нужные задачки  — и для повторения трудных тем на уроке, и для домашних заданий. Конечно, молодым учителям проще сориентироваться, потому что выглядит это всё как интернет-магазин: „Женское — верхняя одежда — пальто”. Только в нашем случае „Математика — столбчатые диаграммы — подготовительные задания”. Моим старшим коллегам было труднее перестроиться, но и они с нашей помощью разобрались, что и где искать.'
              })
          .row
            .col-lg-7.offset-lg-1
              p «Более того, у каждого задания есть по нескольку вариантов. В одном мы считаем зайчиков, в другом — деревья. В одном нужно сравнить количество собак и кошек на крыльце, в другом — лисичек и белых грибов на лугу. В классе у меня три ряда парт. При очной работе я обычно придумывала три варианта задач, и у каждого ряда была своя домашняя работа. Здесь же, перемешивая задачи, я могу предложить даже не шесть вариантов домашней работы, а многие множества на одну тему».
              +test-front({
                title: 'Какой вы учитель?',
                dscr: 'Доктор Хаус, магистр Йода или профессор Дамблдор?  Проходите тест, отвечайте на вопросы и узнайте, кем из культовых персонажей-учителей вы могли бы быть',
                btn: 'Пройти тест и получить приз'
              }).d-md-none.mb-40
              p Мария признаёт, что помимо простого удобства для учителей, инструменты учебника ещё и освобождают массу времени.
              p «Мои коллеги из-за Урала сейчас стали знаменитостями в соцсетях. Их опыт регулярного закрытия школ зимой оказался просто бесценен на карантине», — смеётся Мария, — «Именно они подсказали, что я могу заранее запланировать в Учебнике домашние задания на неделю или две, и больше о них не думать. Ученикам они будут приходить в их аккаунт сами, в заданное время».
            .col-lg-3.d-none.d-md-block
              +test-front({
                title: 'Какой вы учитель?',
                dscr: 'Доктор Хаус, магистр Йода или профессор Дамблдор?  Проходите тест, отвечайте на вопросы и узнайте, кем из культовых персонажей-учителей вы могли бы быть',
                btn: 'Пройти тест и получить приз'
              })
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-12.png',
                title: 'Культурный марафон'
              })
                p Культурный марафон — это не просто тест с вопросами и ответами, это маленькие истории и загадки о культурах народов, населяющих нашу страну. Хотите узнать о них больше? Присоединяйтесь!
                a.info__link.info__link--static(href="#") Узнать больше
          .row
            .col-lg-7.offset-lg-1
              p Такой подход дал Марии возможность уделить больше времени индивидуальной работе с учениками.
              p «Одна из главных проблем дистанционного обучения — это проблема с контролем знаний. Вы удивитесь, как ловко современные школьники умеют пользоваться интернетом. Так вот, в Яндекс.Учебнике можно выдать задание и ограничить время на ответ, чтобы дети не списывали, не искали решения где-то ещё, а думали самостоятельно.
              +test-front({
                title: 'Что такое функциональная грамотность',
                dscr: 'Функциональная грамотность — тема, которая сейчас на слуху почти у каждого учителя. Хорошо ли вы в ней разбираетесь? Пройдите короткий тест, чтобы проверить свои знания',
                btn: 'Пройти тест и получить приз'
              }).d-md-none.mb-40
              p Кроме того, если при проверке тетрадей в классе я могла увидеть только, решил ли ребёнок задачу правильно, то здесь я точно знаю, сколько попыток он потратил на то или иное задание, сколько времени — до секунды — у него ушло. И, само собой, мне сразу становится понятно, по какой теме этому ребёнку нужно дать ещё задачек, что он хорошо понял, а в чём пока не смог разобраться».
            .col-lg-3.d-none.d-md-block
              +test-front({
                title: 'Что такое функциональная грамотность',
                dscr: 'Функциональная грамотность — тема, которая сейчас на слуху почти у каждого учителя. Хорошо ли вы в ней разбираетесь? Пройдите короткий тест, чтобы проверить свои знания',
                btn: 'Пройти тест и получить приз'
              })
          .row
            .col-lg-10.offset-lg-1
              +info({
                img: 'info-13.svg',
                title: 'Яндекс.Формы для учителей'
              })
                p Один из самых удобных инструментов для составления тестов, викторин и опросов. С Формами не нужно вручную высчитывать баллы учеников или просить каждого из них ответить на вопросы. Просто поделитесь ссылкой и получайте ответы в комфортном для работы формате.
                a.info__link.info__link--static(href="#") Перейти
          .row
            .col-lg-7.offset-lg-1
              p Это ещё одна новая возможность для Марии — прицельно работать с отстающими и, наоборот, опережающими учениками. Поскольку Яндекс.Учебник позволяет давать задания не только всему классу сразу, а и отдельно каждому ребёнку, с ним легко можно выстраивать для разных детей индивидуальные образовательные траектории.
          .row
            .col-lg-7.offset-lg-1
              +video({
                poster: 'video-11.jpg',
                title: 'Современные педагоги — о том, что вдохновляет их в работе. Эксперты из самых разных областей образования рассказывают о важных компетенциях учителя и о том, какие возможности открывает для обучения будущее.'
              })
              p «Сейчас я не боюсь за свою работу. Мне нравится та скорость, с которой я карабкаюсь вверх, а поработав с Учебником, я поняла, что компьютер не заменит учителя никогда. Я не могу сказать, что у меня с ним стало меньше работы. Да, рутинной работы стало меньше, но теперь я много и трудно работаю над по-настоящему интересными вещами: я могу следить за прогрессом отдельных учеников, у меня есть время на курсы повышения квалификации и работы с онлайн-инструментами. Вот, сейчас я прохожу курс по функциональной грамотности — и это не просто название, взятое из методичек, а правда полезные инструменты для моей работы. Ну, как компьютер может сам работать со сложным ребёнком с ОВЗ в обычном классе? Помочь в по-настоящему непростых случаях, мотивировать тех, кто не хочет учиться, справиться с трудным поведением — это как раз то, для чего и нужен учитель».
              +video({
                poster: 'video-12.jpg',
                title: 'Необыкновенная история о главном бухгалтере из Хакасии, которая решила кардинально сменить профессию, став учителем математики в начальных классах'
              })
      .container.details__container.pt-20.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Яндекс.Учебник — <br>цифровой помощник учителя',
          img: 'details-1.svg',
          textWidth: 'sm'
        }).details--bg1
      .container
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-2.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-2.png',
                  title: 'Не ученик идёт в школу, а школа — к ученику'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее'
                })
