extends ../templates/template.pug
block header
  +header.header--transparent-real
block content
  main
    .article
      +cover({
        title: 'От кругосветных путешествий к веб-разработке',
        dscr: 'Как Яндекс.Практикум помогает получить навыки для работы и жизни: истории выпускника и наставника',
        picture: 'cover-6.png',
      })
      .article__content
        .container
          .row
            .col-lg-7.offset-lg-1.order-2.order-md-1
              h3 Наставник веб-факультета Яндекс.Практикума
          .row
            .col-lg-7.offset-lg-1.order-2.order-md-1
              p Георгий Клюковкин понимает проблемы своих студентов как никто другой.  Заинтересовавшись разработкой всерьёз только на последнем курсе института, он резко поменял направление учёбы и столкнулся с огромным количеством новых предметов, которые его однокурсники к этому времени уже прошли и забыли. Гигантское количество лабораторных работ по программированию, базам данных, языкам — всё это ему предстояло выучить и сдать за очень ограниченное время. А получив высшее образование, Георгий, как и многие программисты на своих первых работах, делал сразу всё: писал и фронтэнд, и бэкэнд, занимался базами данных и вообще любым кодом, который нужно было создать с нуля или отредактировать. 
              p «Наставником на веб-факультете Яндекс.Практикума я стал почти случайно. Сейчас отбор стал гораздо строже, но тогда я просто увидел в одном из профильных telegram-чатов объявление, пройдя скрининг, поступил в Школу наставников, после которой сдал довольно серьёзный тест».
              p Сейчас Георгий попеременно с другими наставниками читает вебинары для всего потока веб-факультета и ведёт одну из групп студентов. Обучение делится на двухнедельные спринты. В первой половине каждого спринта студенты изучают новую теорию и упражняются на тренажере. Потом проходит вебинар, где эта же теоретическая тема освещается чуть более ярко. А в конце спринта они выполняют практическое задание.
            .col-lg-3.order-1.order-md-2
              +author({
                photo: 'author-8.png',
                firstName: 'Георгий',
                lastName: 'Клюковкин',
                dscr: 'Наставник веб-факультета Яндекс.Практикума'
              })
          .row
            .col-lg-9
              +quote({
                text: 'Наставник в Яндекс.Практикуме не просто помогает с чем-то, что понятно в теории, но не получается на практике. Он чаще выступает как профессионал, уже работающий в индустрии и как окно в эту индустрию: может дать совет о том, как строить работу в команде, как планировать своё время, самостоятельно найти ответ на вопрос'
              })
          .row
            .col-lg-7.offset-lg-1
              p Вебинар в этой цепочке есть для того, чтобы студент мог прояснить непонятный для него момент и задать вопросы, — их ведь не задашь тренажеру. Но роль наставника для Георгия не сводится к тому, чтобы объяснять материал и отвечать на вопросы во время онлайн-лекции. Само собой, студенты группы могут задавать вопросы не только во время вебинара, но и в чате с наставником. Он здесь — проводник в профессию, который делится опытом и мотивирует на протяжении всего курса.
              p «Поначалу мало кто из студентов серьёзно воспринимает фразу „один из основных навыков разработчика — умение использовать поисковик”. И когда в чате задают вопрос, а наставник указывает, что ответ довольно тривиально находится в интернете, — студенты часто обижаются. Зачем вообще нужен наставник, если  всё можно найти в сети? В общем-то, он нужен именно для того, чтобы научить отличать задачи, к которым самостоятельно не подступиться, от тех, которые легко можно решить при помощи поисковика. Конечно, каждому разработчику при столкновении со сложной задачей хочется быстренько получить решение и идти дальше. Но навык искать ответ самостоятельно — очень важен. В первую очередь потому, что это сложно эмоционально — заставить себя, сделать усилие.  В реальной компании разработчики, при столкновении с любой проблемой идущие по легкому пути — задать вопрос и сразу получить ответ более опытных коллег — во-первых, не развиваются и чаще всего остаются на довольно невысоком уровне. Во-вторых, тратят ценный ресурс команды». 
              p У Практикума несколько направлений — тестирование, фронтэнд и бэкэнд-разработка, дизайн интерфейсов, анализ данных. Задача курсов — чтобы любой из выпускников мог спокойно устроиться на работу по той специальности, которую выбрал. 
              p «Студенту часто нужен совет, когда он просто не понимает „А зачем вот это это нужно вообще?” И, увы, это не тот случай, когда ты в школе встаёшь на уроке алгебры и говоришь „Зачем нам эти логарифмы, мы же их никогда в жизни нигде применять не будем”. Всё, что есть в курсах Яндекс.Практикума — полезно и применимо в реальной работе. Могу сказать, что мы готовим не теоретиков, а специалистов для рынка».
              p Поэтому обучение в Яндекс.Практикуме довольно сильно приближено к реальности работы программиста. Пройдя задания на тренажерах и сделав проектную работу, студент отправляет задание на команде код-ревьюеров. Та, проверив, отправляет её обратно на доработку, с замечаниями и комментариями. Постановка задач, спринты, код-ревью — всё здесь устроено совершенно аналогично процессам разработки в серьёзных компаниях. 
          .row
            .col-lg-9
              +quote({
                text: 'Когда программированию учился я, таких курсов не было. И, попадая на работу, ты сразу чувствовал огромный разрыв между тем, как тебя учат и тем, как деятельность команды разработки устроена в реальности. Яндекс.Практикум делает этот переход почти бесшовным'
              })
          .row
            .col-lg-7.offset-lg-1
              p Когда процесс обучения так приближен к реальности, это гораздо лучше готовит специалиста к работе. С нашим студентом никогда не случится ситуации, которую часто показывают в кино: «Забудьте всё, чему вас учили на гражданке!»
              p У наставника в Практикуме есть ещё одна очень важная роль. Отвечать на вопросы, не касающиеся hard skills, но регулярно встающие перед разработчиком. Поскольку процесс обучения действительно эмулирует реальную работу, такие вопросы возникают постоянно. 
              p «Например, меня часто спрашивают, как я борюсь с выгоранием. Материала много, и студент часто успешно его проходит, но чем больше он узнаёт, тем больше понимает, как много всего он ещё не знает. И чем дальше, тем больше увеличивается этот объём незнания. Конечно, у многих со временем падает мотивация. Одна из задач наставника — подбадривать, мотивировать, учить заглядывать внутрь своей головы и не сдаваться. 
              p Конечно, я знаю всех своих студентов — это не обезличенные ники в чате. Я в курсе, как кого зовут, кто в чём силён и кому нужно дать дополнительные задания. После выпуска — знаю, кто на какую работу устроился, и очень горжусь успехами каждого из них». 
          .row
            .col-lg-10.offset-lg-1
              .border-top.border-bottom.py-30
                p.md.mb-30 На курсах Яндекс.Практикума учатся разные люди со всей России: кто-то водит трамвай, кто-то — работает в крупной юридической фирме. Одни просто хотят получить новые навыки, полезные для своей профессии, другие хотят больших перемен и полностью меняют жизнь и карьеру:
                .slider.slider--video
                  .slider__content.js-slider-content-default
                    .slider__item
                      +video({
                        poster: 'video-6.png',
                        title: 'Дамир из Казани'
                      })
                    .slider__item
                      +video({
                        poster: 'video-7.png',
                        title: 'Денис из Иннополиса'
                      })
                    .slider__item
                      +video({
                        poster: 'video-9.png',
                        title: 'Дамир из Казани'
                      })
                    .slider__item
                      +video({
                        poster: 'video-6.png',
                        title: 'Дамир из Казани'
                      })
                    .slider__item
                      +video({
                        poster: 'video-7.png',
                        title: 'Денис из Иннополиса'
                      })
                    .slider__item
                      +video({
                        poster: 'video-9.png',
                        title: 'Дамир из Казани'
                      })
          .row.mt-20.mt-md-40
            .col-lg-7.offset-lg-1
              h3 Выпускник веб-факультета Яндекс.Практикума
          .row
            .col-lg-7.offset-lg-1
              p Вячеслав Гуськов пришел на факультет веб-разработки Практикума, потому что, как и многие, столкнулся с выгоранием и захотел поменять профессию. Но в отличие от многих, на путь поиска себя он встал в процессе кругосветного путешествия по морю.
              p Вячеслав — моряк по образованию и долгое время работал на судне, проводя в море по полгода. Его устраивали и путешествия по миру и заработанные деньги, но не хватало развития и чувства стабильности в жизни. Заинтересовавшись программированием, он поискал подходящие курсы в интернете, но долго не мог найти ничего, внушающего доверие. 
              p «В какой-то момент я зашел на стартовую Яндекса, — просто чтобы что-то найти — и увидел баннер Практикума. Тогда там было всего три курса: фронтэнд, бэкэнд и веб-разработчик. Я совсем ничего в этих названиях не понимал и выбрал для себя третий». 
              p До этого момента Вячеслав никогда не учился программированию, слабо представлял себе процесс разработки и даже не очень любил информатику в школе. Кроме того, и с самодисциплиной, необходимой, чтобы полноценно заниматься онлайн, у него были проблемы: работа моряком приучила к жесткому графику и постоянному надзору сверху. 
            .col-lg-3
              +author({
                photo: 'author-6.png',
                firstName: 'Вячеслав Гуськов',
                dscr: 'Выпускник веб-факультета Яндекс.Практикума'
              })
          .row
            .col-lg-9
              +quote({
                text: 'Изначально было очень сложно. На судне 100% твоего рабочего времени подчинено графику — ты всегда знаешь, что и когда будешь делать. А на курсах такого не было. Ты как будто сам по себе: никто насильно не запихивает в тебя информацию и не заставляет учиться. Хочешь — закончишь курсы, не хочешь — не закончишь'
              })
          .row
            .col-lg-7.offset-lg-1
              p Весь курс разделен на несколько больших тем — от HTML до бэкэнда. Каждая из тем — на двухнедельные спринты. В течение первой недели можно изучить теоретические материалы и закрепить знания на тренажере. Вторая неделя спринта отведена под выполнение проектной работы, которую нужно отдать на код-ревью, чтобы получить комментарии и замечания. 
              p Первый месяц, хотя и задания в тренажере, и проектные работы не казались сложными, Вячеслав с трудом перестраивался. Не было четкого графика, как на судне: подъём в 8 утра, до 10 утра — программирование, а дальше — свободное время. Приходилось не только планировать время самому, но и самостоятельно учиться придерживаться плана. Но ко второму месяцу Вячеслав выработал привычку учиться по самостоятельно составленному расписанию. Утром и днём — всегда учёба, иногда — свободный вечер в качестве вознаграждения. 
              p Этот период адаптации очень помог Вячеславу, когда задачи стали значительно, во много раз сложнее сложнее, а сроки — очень сжатыми. 
              p «У первых двух спринтов „мягкие” дедлайны. Если не успел в срок  сдать проектную работу, можно сделать это потом. Но у последних — очень жесткие: не сдал вовремя — берёшь академический отпуск и проходишь этот же курс заново с другой группой».
              p Курсы устроены так, что в любой ситуации и в решении любой задачи ты должен до всего додумываться сам, готового решения никогда и никто не даст. Даже студентам нельзя обмениваться друг с другом скриншотами или вариантами ответов, а наставник в ответ на вопрос скорее всего пришлёт тебе ссылку на статью по теме, которая косвенно тебе поможет. 
          .row
            .col-lg-9
              +quote({
                text: 'Даже тренажер устроен похожим образом. Ты видишь кусок кода и задание — что тебе нужно с этим кодом сделать. Если у тебя не получается, ты всегда можешь воспользоваться подсказкой. Но и она не говорит тебе прямо, что делать. А помогает мягко, по касательной подводя тебя к мыслям в нужном направлении'
              })
          .row
            .col-lg-7.offset-lg-1
              p «После каждого этапа мы отправляли работу на код-ревью. Но и ревьюеры никогда не писали в ответ, правильно или неправильно что-то сделано. Просто указывали место в коде, где в комментариях отмечали, ошибка здесь или просто можно сделать лучше. Часто прикладывали ссылку на какую-нибудь статью, которая действительно помогала сделать лучше»
              p Сейчас Вячеслав очень благодарен курсу Практикума именно за такую организацию процесса обучения. Формально на факультете веб-разработки учат только hard-skills — программировать. Но на деле это полное погружение в реалии и практику разработки со всеми сопутствующими знаниями. Особенно явно Гуськов осознал это, когда устроился на первую работу по специальности веб-разработчика. Она была удаленной и навык строить своё расписание и планировать задачи оказался просто бесценным. 
              p «Кроме того, я никогда не встречал такого дружного коллектива, как студенты этого курса. Мы были только вторым потоком, ещё пилотным. По сути, — „в продакшн выкатили, но ещё тестируем”. На курсе нас было 80 человек — с разными профессиями, из разных уголков России. И мы до сих пор общаемся, поддерживаем друг друга и обмениваемся опытом».
              p Уже в процессе прохождения курсов Вячеслав нашел первую работу, позже со своей командой участвовал в хакатоне «ВКонтакте», а сейчас учится на курсе «Мидл фронтенд-разработчик» в Практикуме и работает в Mail.ru. Продолжать образование он планирует уже за рубежом.
      .container.details__container.pt-60.pt-md-80.pb-md-120.pb-60
        +details({
          title: 'Яндекс.Практикум помогает людям расти — на работе и в жизни',
          img: 'details-bg7.png',
          textWidth: 'sm'
        }).details--bg7
      .container  
        h2.section-list__title.mb-40.mb-md-140 ЧИТАЙТЕ ДРУГИЕ ИСТОРИИ
      .container.mr-0.mr-sm-auto.pr-0.pr-sm-20
        .position-relative.mb-80.mb-md-120
          .slider-story.slider-story--default
            .slider-story__content.js-slider-story
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-10.png',
                  title: 'Новое онлайн-образование, которое развяжет руки учителю'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-8.png',
                  title: 'Бесплатный учебник по основным предметам, который не устареет через год'
                })
              .slider-story__item
                +link-story({
                  picture: 'cover-5.png',
                  title: 'Разрезали репетитора по английскому на части, чтобы учиться было удобнее'
                })
