.link-story {

  @include media-breakpoint-down(sm) {
    max-width: 280px;
  }

  &__img-wrap {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    height: 260px;
    align-items: flex-end;

    @include media-breakpoint-down(sm) {
      height: 240px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__link {
    padding-top: 17px;
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: $dark;

    &:hover {

      svg path {
        fill: #ff3333;
      }
    }

    svg {
      margin-left: 6px;

      path {
        transition: $transition-base;
      }
    }
  }

  &__title {
    font-family: $font-secondary;
    font-size: 26px;
    line-height: 32px;
    color: $dark;

    @include media-breakpoint-down(sm) {
      font-size: 22px;
      line-height: 27px;
    }
  }

  &--apprentice {

    @include media-breakpoint-down(sm) {
      width: 257px;
    }

    .link-story__link {

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
