mixin link-story(data)
  .link-story&attributes(attributes)(class=data && data.type === 'apprentice' ? 'link-story--apprentice': '')
    if data && data.type === 'apprentice'
      a(href="#").link-story__img-wrap
        img(src="./img/link-story2.png" alt="")
      a(href="#").link-story__link Читать историю
        .
          <svg width="9" height="16" viewBox="0 0 9 16" fill="none">
          <path d="M1.59375 15.5859C2.78906 14.2266 3.65625 13.3125 5.32031 11.5781L9 7.82812L5.32031 4.05469C3.65625 2.34375 2.8125 1.40625 1.61719 0L0.0234375 1.42969C1.26562 2.60156 2.08594 3.46875 3.84375 5.25L6.44531 7.89844L3.84375 10.5703C2.10938 12.3516 1.26562 13.0781 0 14.2734L1.59375 15.5859Z" fill="#232323"/>
          </svg>
    else  
      a(href="#").link-story__img-wrap
        if data && data.picture
          img(src="./img/" + data.picture, alt="")
        else
          img(src="./img/link-story.png" alt="")
        if data && data.title
          a.link-story__title(href="#")= data.title
        else
          a(href="#").link-story__link Читать историю
            .
              <svg width="9" height="16" viewBox="0 0 9 16" fill="none">
              <path d="M1.59375 15.5859C2.78906 14.2266 3.65625 13.3125 5.32031 11.5781L9 7.82812L5.32031 4.05469C3.65625 2.34375 2.8125 1.40625 1.61719 0L0.0234375 1.42969C1.26562 2.60156 2.08594 3.46875 3.84375 5.25L6.44531 7.89844L3.84375 10.5703C2.10938 12.3516 1.26562 13.0781 0 14.2734L1.59375 15.5859Z" fill="#232323"/>
              </svg>

