.event {
  position: relative;
  padding-right: 20px;
  padding-left: 305px;
  display: flex;
  min-height: 248px;
  background-color: $yellow;
  background-repeat: no-repeat;
  background-position: left 420px center;

  @include media-breakpoint-down(md) {
    padding-left: 240px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 16px;
    padding-left: 0;
    padding-bottom: 4px;
    min-height: 0;
    background: transparent !important;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-right: 15px;
    //    padding-left: 15px;
    display: flex;
    width: 305px;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    text-align: center;

    img {
      max-height: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 240px;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      padding: 0;
      padding-top: 10px;
      overflow: hidden;
      width: 60px;
      height: 60px;
      background: $yellow;
      border-radius: 50%;
    }

    &--logo {
      padding-top: 0;
      align-items: center;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__content {
    padding: 20px 0;
    display: flex;
    width: 100%;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__title {
    //    margin-bottom: 20px;
    display: block;
    max-width: 726px;
    font-size: 30px;
    color: $dark;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }

    &:hover {
      color: $dark;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__mark {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 18px;
    opacity: 0;
    transition: $transition-base;

    @include media-breakpoint-down(md) {
      top: -1px;
      right: 0;
      left: auto;
      width: 20px;
      height: 26px;
      opacity: 1;
    }
  }

  &__name {
    font-family: $font-heavy;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $secondary;

    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
      font-size: 13px;
    }
  }

  &__time {
    width: 72px;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .1em;
    color: #000;
  }

  &__head {
    margin-bottom: auto;

    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }

  &__role {
    color: $dark;
  }

  &__person {
    padding-right: 40px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
      padding-right: 0;
      padding-left: 12px;
    }
  }

  &:hover {

    .event__mark {
      opacity: 1;
    }
  }

  &--opener {
    align-items: center;
    background-color: #fff;
  }

  &--blue {
    background-color: rgba(168, 214, 255, .9);
  }

  &--no-photo {
    padding-left: 20px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }

    .event__title {
      max-width: 906px;
    }
  }

  &--authors {
  }
}
