mixin event(data)
  .event(style='background-image:url(./img/' + data.bg_text + ')')&attributes(attributes)
    if !data.logo
      a(href="#" class=data.check ? 'is-check':'').btn.btn-mark.event__mark
    .event__content
      .event__head
        .event__time.d-md-none= data.time
        a(href="#report", data-fancybox).h3.event__title !{data.title}
      if !data.logo
        .d-flex.align-items-center.pt-15
          if data.img
            .event__photo
              img(src=`./img/${data.img}` alt)
          if data.authors
            .row.w-100
              each item in data.authors
                if data && data.no_photo
                  .col-lg-4.col-xl-3
                    .event__person
                      .event__type= item[0]
                      .event__name= item[1]
                      .event__role.p.p--xs= item[2]
                else
                  .col-lg-6.col-xl-4
                    .event__person
                      .event__type= item[0]
                      .event__name= item[1]
                      .event__role.p.p--xs= item[2]
          else
            .event__person
              .event__name= data.name
              .event__role.p.p--xs= data.role
      else
        .event__photo.event__photo--logo: img(src=`./img/${data.logo}` alt)
