.photo {
  position: relative;
  margin: 0;
  display: flex;
  width: 96px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    margin: 0 auto;
    width: 156px;
  }

  &:hover {

    .photo__img-wrap {
      opacity: .75;
    }

    .photo__text {
      color: $secondary;
    }
  }

  input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    opacity: 0;

    @include media-breakpoint-down(sm) {
      width: 156px;
    }
  }

  &__img-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    width: 96px;
    height: 96px;
    border-radius: 100%;

    @include transition;

    @include media-breakpoint-down(sm) {
      width: 156px;
      height: 156px;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
      object-fit: cover;
    }
  }

  &__icon {
    position: absolute;
    bottom: 7px;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.4' cx='15' cy='15.0381' r='14.875' fill='%23232323'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0763 19.947C21.2952 19.7282 21.4181 19.4314 21.4181 19.122V12.7049C21.4181 12.3955 21.2952 12.0987 21.0763 11.8799C20.8575 11.6611 20.5608 11.5382 20.2513 11.5382H17.9179L16.7511 9.78809H13.2509L12.0842 11.5382H9.75072C9.44128 11.5382 9.14452 11.6611 8.92571 11.8799C8.70691 12.0987 8.58398 12.3955 8.58398 12.7049V19.122C8.58398 19.4314 8.70691 19.7282 8.92571 19.947C9.14452 20.1658 9.44128 20.2887 9.75072 20.2887H20.2513C20.5608 20.2887 20.8575 20.1658 21.0763 19.947ZM17.3338 15.6216C17.3338 16.9103 16.2891 17.955 15.0003 17.955C13.7116 17.955 12.6669 16.9103 12.6669 15.6216C12.6669 14.3328 13.7116 13.2881 15.0003 13.2881C16.2891 13.2881 17.3338 14.3328 17.3338 15.6216Z' fill='white'/%3E%3C/svg%3E");
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
      bottom: 13px;
      width: 56px;
      height: 56px;
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.4' cx='28' cy='28.375' r='27.625' fill='%23232323'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.2841 37.4915C39.6904 37.0852 39.9187 36.534 39.9187 35.9594V24.042C39.9187 23.4673 39.6904 22.9162 39.2841 22.5098C38.8777 22.1035 38.3266 21.8752 37.7519 21.8752H33.4183L31.2515 18.625H24.7512L22.5844 21.8752H18.2508C17.6761 21.8752 17.125 22.1035 16.7186 22.5098C16.3123 22.9162 16.084 23.4673 16.084 24.042V35.9594C16.084 36.534 16.3123 37.0852 16.7186 37.4915C17.125 37.8979 17.6761 38.1262 18.2508 38.1262H37.7519C38.3266 38.1262 38.8777 37.8979 39.2841 37.4915ZM32.3342 29.4586C32.3342 31.852 30.394 33.7922 28.0007 33.7922C25.6073 33.7922 23.6671 31.852 23.6671 29.4586C23.6671 27.0652 25.6073 25.125 28.0007 25.125C30.394 25.125 32.3342 27.0652 32.3342 29.4586Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  &__text {
    padding-top: 10px;
    display: block;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
    color: $primary;

    @include transition;

    @include media-breakpoint-down(sm) {
      padding-top: 20px;
      font-size: 18px;
    }
  }

  &--lg {

    .photo__img-wrap {
      width: 96px;
      height: 96px;

      @include media-breakpoint-down(sm) {
        width: 156px;
        height: 156px;
      }
    }

    .photo__text {
      display: none;
    }

    .photo__icon {
      width: 34px;
      height: 34px;
      background-size: 34px 34px;

      @include media-breakpoint-down(sm) {
        bottom: 13px;
        width: 55px;
        height: 55px;
        background-size: 55px 55px;
      }
    }
  }
}
