mixin photo(data={img:'photo-upload.svg'})
  a.photo(href="#photo", data-fancybox)&attributes(attributes)
    span.photo__img-wrap
      img(src=`./img/${data.img}` alt="")
      span.photo__icon
    span.photo__text Добавить фото
