.badge-form {
  position: relative;
  z-index: 1;
  margin-right: 67px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 450px;
  height: 716px;
  flex-shrink: 0;
  text-align: center;

  //  @include media-breakpoint-down(lg) {
  //    margin-right: auto;
  //    margin-left: auto;
  //    height: 600px;
  //  }

  @include media-breakpoint-down(lg) {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 400px;
    height: 530px;
  }

  @include media-breakpoint-down(sm) {
    max-width: 290px;
    height: 470px;
  }

  &:before {
    position: relative;
    z-index: 1;
    left: 60px;
    margin-right: auto;
    margin-bottom: 138px;
    margin-left: auto;
    display: block;
    width: 182px;
    height: 186px;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='182' height='299' viewBox='0 0 182 299' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M128.182 296.757L10.0937 278.286C7.54123 277.887 5.2519 276.49 3.72935 274.403C2.20679 272.316 1.57572 269.709 1.97497 267.157L2.66745 262.73C3.06671 260.177 4.46359 257.888 6.55078 256.365C8.63798 254.843 11.2445 254.212 13.797 254.611L131.885 273.082C134.438 273.481 136.727 274.878 138.25 276.965C139.772 279.053 140.403 281.659 140.004 284.212L139.311 288.639C138.912 291.191 137.515 293.481 135.428 295.003C133.341 296.526 130.734 297.157 128.182 296.757Z' fill='%23EEF4FA'/%3E%3Cpath d='M165.365 38.6831L57.0684 2.11328L16.4627 261.709L127.756 279.117L165.365 38.6831Z' fill='%23BDD1E3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center bottom;

    //    @include media-breakpoint-down(lg) {
    //      margin-bottom: 80px;
    //      height: 140px;
    //    }

    @include media-breakpoint-down(lg) {
      left: 22px;
      width: 101px;
      height: 98px;
      background-image: url("data:image/svg+xml,%3Csvg width='101' height='98' viewBox='0 0 101 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M84.3045 96.7822L7.13478 87.7796C5.46675 87.585 3.94435 86.7358 2.90247 85.4187C1.8606 84.1016 1.38459 82.4246 1.57918 80.7566L1.91669 77.8635C2.11128 76.1955 2.96052 74.6731 4.27759 73.6312C5.59466 72.5893 7.27167 72.1133 8.93969 72.3079L86.1094 81.3105C87.7774 81.5051 89.2999 82.3543 90.3417 83.6714C91.3836 84.9884 91.8596 86.6655 91.665 88.3335L91.3275 91.2266C91.1329 92.8946 90.2837 94.417 88.9666 95.4589C87.6495 96.5008 85.9725 96.9768 84.3045 96.7822Z' fill='%23EEF4FA'/%3E%3Cpath d='M92.501 11.002L20.5012 2.00211L10.8518 76.8493L83.5812 85.3339L92.501 11.002Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='59.001' y1='12.502' x2='47.2352' y2='81.0819' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BDD1E3' stop-opacity='0'/%3E%3Cstop offset='0.645833' stop-color='%23BDD1E3'/%3E%3Cstop offset='1' stop-color='%23BDD1E3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 60px;
    }
  }

  &:after {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% - 116px);
    content: '';
    background: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='104' viewBox='0 0 42 104' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.7118 63.0207C33.0054 60.4506 40.6471 45.2787 40.6471 40.8497C40.6471 39.1791 39.6876 37.9969 37.5801 37.5772C25.0468 35.0757 9.65224 30.8265 9.65224 16.4856C9.65224 9.71781 14.5182 4.38067 22.2626 4.38067C28.0881 4.38067 31.3863 6.71085 31.3863 9.52077C31.3863 11.9966 27.3256 13.0417 27.3256 17.2309C27.3287 18.0609 27.4979 18.8818 27.8231 19.6454C28.1484 20.409 28.6232 21.0997 29.2196 21.6769C29.816 22.2541 30.5219 22.7061 31.2956 23.0063C32.0694 23.3065 32.8954 23.4487 33.7251 23.4247C38.0941 23.4247 41.3495 19.7067 41.3495 14.7208C41.3495 6.20539 32.8769 0.833984 22.8966 0.833984C9.31813 0.833984 0.519982 10.4203 0.519983 22.628C0.425081 26.3217 1.25843 29.9802 2.94369 33.2684C4.62896 36.5567 7.11229 39.3695 10.1662 41.4494C8.87265 44.0194 1.23103 59.1913 1.23103 63.6289C1.23103 65.2995 2.19052 66.4731 4.29796 66.9014C16.8227 69.3944 32.2259 73.6436 32.2259 87.9844C32.2259 94.7523 27.3599 100.089 19.6069 100.089C13.7814 100.089 10.4832 97.7507 10.4832 94.9493C10.4832 92.482 14.5439 91.4283 14.5439 87.2391C14.542 86.4088 14.3736 85.5874 14.0488 84.8233C13.7239 84.0592 13.2491 83.3679 12.6525 82.7905C12.0559 82.213 11.3495 81.7611 10.5752 81.4613C9.80093 81.1616 8.97439 81.0201 8.14447 81.0453C3.78395 81.0453 0.528552 84.7633 0.528552 89.7578C0.528552 98.2647 8.99259 103.645 18.973 103.645C32.5514 103.645 41.3581 94.0498 41.3581 81.8506C41.4487 78.1609 40.6143 74.5072 38.9309 71.2227C37.2474 67.9382 34.7686 65.1273 31.7204 63.0464L31.7118 63.0207ZM9.44663 54.6423C9.44663 51.8752 13.79 45.5615 14.7752 44.1565C19.6762 46.3758 24.9381 47.6905 30.3069 48.0373C31.8918 48.1658 32.4486 48.6969 32.4486 49.8449C32.4486 52.6034 28.1138 58.9086 27.12 60.3221C22.2133 58.0894 16.9421 56.7658 11.5626 56.4156C9.96921 56.2871 9.41237 55.756 9.41237 54.6081' fill='%23C5E4FF'/%3E%3C/svg%3E%0A"),
      url("data:image/svg+xml,%3Csvg width='189' height='56' viewBox='0 0 189 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M157.36 0.0996093L160.797 0.0996092L139.984 55.8909L136.548 55.8909L157.36 0.0996093Z' fill='%23C1E2FF'/%3E%3Cpath d='M175.363 49.1872C173.017 49.2215 170.685 48.8127 168.49 47.9824C166.537 47.236 164.771 46.0714 163.315 44.5703C161.888 43.0715 160.786 41.2929 160.081 39.3469C159.317 37.2154 158.939 34.9647 158.965 32.7005C158.952 30.3551 159.363 28.0267 160.178 25.8276C160.935 23.7332 162.079 21.7995 163.55 20.1272C164.974 18.5075 166.716 17.1975 168.668 16.2784C170.693 15.3358 172.903 14.8579 175.137 14.8796C179.632 14.8796 183.028 16.1733 185.325 18.7607C187.621 21.3482 188.766 25.0595 188.761 29.8947L188.761 31.1076L165.434 31.1076L165.434 31.4229C165.415 33.4325 165.673 35.4351 166.202 37.374C166.646 39.049 167.4 40.626 168.425 42.0233C169.395 43.3114 170.66 44.3484 172.112 45.0474C173.707 45.7887 175.449 46.1564 177.206 46.1227C179.154 46.1601 181.094 45.8591 182.939 45.2333C184.763 44.5413 186.46 43.5522 187.96 42.3063L187.96 44.2792C186.55 45.7924 184.84 46.9957 182.939 47.8127C180.538 48.7962 177.957 49.2645 175.363 49.1872ZM175.234 16.8444C173.924 16.8219 172.632 17.1395 171.482 17.7662C170.343 18.4081 169.356 19.2879 168.587 20.3455C167.716 21.5241 167.039 22.8343 166.582 24.2267C166.051 25.8144 165.71 27.459 165.563 29.1266L182.616 29.1266C182.631 27.34 182.526 25.5543 182.3 23.7819C182.145 22.4521 181.757 21.1602 181.152 19.9655C180.644 18.9859 179.859 18.1765 178.896 17.6368C177.76 17.0744 176.5 16.8074 175.234 16.8606L175.234 16.8444Z' fill='%23C1E2FF'/%3E%3Cpath d='M29.4218 46.3335L16.4847 46.3335L16.4847 35.9191L0.43457 17.7344L15.5791 17.7344L23.3818 26.9197L31.3058 17.7344L45.2213 17.7344L29.4218 36.0727L29.4218 46.3335Z' fill='%23C1E2FF'/%3E%3Cpath d='M70.51 42.3776L55.2523 42.3776L53.4815 46.3315L40.415 46.3315L54.1607 17.7324L72.0786 17.7324L86.7218 46.3315L72.3212 46.3315L70.51 42.3776ZM66.8634 34.4941L62.8205 25.6888L58.8181 34.4941L66.8634 34.4941Z' fill='%23C1E2FF'/%3E%3Cpath d='M110.954 46.8798L109.531 46.8798C90.8445 46.8798 88.1924 38.2282 88.1924 32.5439L88.1924 31.3877C88.1924 25.6226 90.6181 17.1973 109.531 17.1973L110.954 17.1973C129.219 17.1973 131.637 25.1213 131.677 29.0833L131.677 29.6169L118.409 29.6169C118.223 28.9296 117.414 25.6549 110.072 25.6549C102.957 25.6549 101.574 28.8083 101.574 31.614L101.574 32.0749C101.574 34.8079 103.111 38.3413 110.113 38.3413C117.608 38.3413 118.295 34.7675 118.409 34.1125L131.677 34.1125L131.677 34.9211C131.677 38.8427 129.179 46.8798 110.954 46.8798Z' fill='%23C1E2FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 41px 32px, 30px calc(100% - 20px);
    border-radius: 10px;
    box-shadow: 6px 15px 88px rgba(84, 175, 255, .15);
    transform: rotate(8.89deg);
    transform-origin: center center;

    @include media-breakpoint-down(lg) {
      height: calc(100% - 60px);
      background-position: 25px 25px, 200% 200%;
      background-size: 24px 58px, auto;
    }

    @include media-breakpoint-down(md) {
      transform: rotate(6.65deg);
    }
  }

  &__input {
    margin-bottom: 26px;
    padding-bottom: 7px;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #d2dce6;

    @include placeholder(#999);
  }

  &__content {
    margin-right: auto;
    margin-left: auto;
    max-width: 290px;

    @include media-breakpoint-down(sm) {
      max-width: 216px;
    }
  }

  &__bottom {
    padding-top: 14px;
  }
}
