mixin badge-form(data)
  form(method="GET" action="./" autocomplete="off").badge-form&attributes(attributes): .badge-form__content
    input.badge-form__input(name="name" required placeholder="Имя")
    input.badge-form__input(name="last_name" required placeholder="Фамилия")
    .badge-form__bottom
      button(type="submit").btn.btn-primary.w-100.mb-20 Получить бейдж
      +btn({text:'У меня уже есть бейдж',type:'link'}).btn-link
      
