mixin front(data)
  .front&attributes(attributes): .container
    .front__row
      .front__img-wrap
        .front__title.d-none.d-sm-block Онлайн-конференция про образование
        picture.front__img
          source(srcset="./img/front.svg" media="(min-width:576px)")
          img(src="./img/front-mob.svg" alt)
      //+badge-user({
        name: 'Константин Салтыков-Щедрин',
      //}).badge-user--sm.front__badge-user
        +btn({text: 'Личный Кабинет', type:'link'}).btn-link
      .front__badge.d-none.d-lg-block
        p.mb-25.
          Получите бейдж, чтобы общаться с гостями
          и спикерами конференции
        a(href="#").btn.btn-primary.mb-20 Получить бейдж
        +btn({text: 'У меня уже есть бейдж', type:'link'}).btn-link
