.front {
  margin-bottom: -69px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: -40px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: -20px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }

  &__img-wrap {
    position: relative;
    flex-grow: 1;

    @include media-breakpoint-down(xs) {
      margin-right: -20px;
      margin-left: -20px;
      display: flex;
      height: 285px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__img {
    margin-left: -71px;

    @include media-breakpoint-down(lg) {
      margin-left: -40px;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }

    img {

      @include media-breakpoint-down(lg) {
        max-width: 110%;
      }

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
  }

  &__title {
    position: absolute;
    top: 19.5%;
    left: 42%;
    width: 190px;
    font-size: 18px;
    line-height: 25px;

    @include media-breakpoint-down(lg) {
      left: 48%;
    }

    @include media-breakpoint-down(sm) {
      top: 19%;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__badge {
    position: relative;
    z-index: 1;
    margin-right: 25px;
    padding-right: 20px;
    padding-left: 20px;
    width: 278px;
    height: 422px;
    flex-shrink: 0;
    text-align: center;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
    }

    &:before {
      position: relative;
      z-index: 1;
      left: 20px;
      margin-right: auto;
      margin-bottom: 57px;
      margin-left: auto;
      display: block;
      width: 97px;
      height: 101px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='97' height='101' viewBox='0 0 97 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.6849 99.4288L6.4885 91.6381C4.90636 91.4697 3.45591 90.6798 2.45624 89.4419C1.45657 88.2041 0.989562 86.6199 1.15796 85.0377L1.45003 82.2936C1.61842 80.7115 2.40843 79.261 3.64625 78.2613C4.88406 77.2617 6.4683 76.7947 8.05044 76.9631L81.2469 84.7537C82.829 84.9221 84.2795 85.7121 85.2791 86.9499C86.2788 88.1877 86.7458 89.772 86.5774 91.3541L86.2853 94.0982C86.117 95.6804 85.3269 97.1308 84.0891 98.1305C82.8513 99.1302 81.2671 99.5972 79.6849 99.4288Z' fill='%23E9F1FA'/%3E%3Cpath d='M89.4996 -0.500435L18.4996 -0.500435L9.99982 80.3852L80.5 88L89.4996 -0.500435Z' fill='%23D2DCE6'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }

    &:after {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: calc(100% - 62px);
      content: '';
      background: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='54' viewBox='0 0 21 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0434 32.294C16.7056 30.9784 20.6172 23.2123 20.6172 20.9451C20.6172 20.09 20.126 19.4849 19.0473 19.27C12.6318 17.9895 4.75158 15.8145 4.75158 8.47366C4.75158 5.00936 7.24237 2.27739 11.2066 2.27739C14.1885 2.27739 15.8768 3.47016 15.8768 4.9085C15.8768 6.17582 13.7982 6.71081 13.7982 8.85517C13.7998 9.28001 13.8864 9.70023 14.0529 10.0911C14.2194 10.4819 14.4624 10.8355 14.7677 11.131C15.073 11.4264 15.4343 11.6578 15.8304 11.8115C16.2265 11.9651 16.6493 12.0379 17.074 12.0257C19.3104 12.0257 20.9768 10.1225 20.9768 7.5703C20.9768 3.21142 16.6398 0.461914 11.5311 0.461914C4.58056 0.461914 0.0769723 5.36894 0.0769723 11.6178C0.0283942 13.5086 0.454966 15.3813 1.31762 17.0644C2.18027 18.7476 3.45144 20.1874 5.01469 21.2521C4.35253 22.5676 0.440944 30.3338 0.440944 32.6053C0.440944 33.4605 0.932085 34.0612 2.01084 34.2805C8.42198 35.5566 16.3065 37.7316 16.3065 45.0724C16.3065 48.5367 13.8158 51.2687 9.84717 51.2687C6.86524 51.2687 5.17695 50.0715 5.17695 48.6376C5.17695 47.3747 7.25552 46.8353 7.25552 44.6909C7.25455 44.2659 7.16836 43.8454 7.00207 43.4543C6.83577 43.0631 6.59275 42.7093 6.28735 42.4137C5.98196 42.1182 5.62039 41.8868 5.22405 41.7334C4.8277 41.5799 4.4046 41.5075 3.97979 41.5204C1.74773 41.5204 0.0813585 43.4236 0.0813585 45.9802C0.0813585 50.3347 4.41392 53.0885 9.52266 53.0885C16.4732 53.0885 20.9812 48.1771 20.9812 41.9326C21.0275 40.044 20.6004 38.1737 19.7387 36.4924C18.877 34.8112 17.6081 33.3723 16.0478 32.3071L16.0434 32.294ZM4.64634 28.0053C4.64634 26.5889 6.86963 23.357 7.37392 22.6378C9.88262 23.7738 12.5761 24.4468 15.3243 24.6243C16.1355 24.6901 16.4206 24.962 16.4206 25.5496C16.4206 26.9616 14.2017 30.1891 13.693 30.9127C11.1813 29.7698 8.4831 29.0922 5.72948 28.913C4.91383 28.8472 4.6288 28.5754 4.6288 27.9877' fill='%23C1E2FF'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 22px 22px;
      border-radius: 10px;
      box-shadow: 6px 15px 88px rgba(84, 175, 255, .14);
      transform: rotate(6.08deg);
      transform-origin: center center;
    }

    .btn-primary {
      line-height: 41px;
    }
  }

  &__badge-user {

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  p {
    line-height: 24px;
  }

  &--logged-in {
    margin-bottom: -70px;
  }
}
