mixin announcement(data)
  .announcement&attributes(attributes)
    .announcement__content
      a.announcement__close(href="#")
      .announcement__header
        .announcement__time Через 5 минут
        .announcement__type Клуб программирования
      .announcement__title Как учиться программированию и не терять интерес 
    a.btn.btn-primary.announcement__btn.w-100(href="#") Смотреть
