.announcement {
  position: absolute;
  top: 88px;
  right: 0;
  max-width: 408px;
  background: #fff;
  box-shadow: 0 12px 42px rgba(84, 175, 255, .26);

  @include media-breakpoint-down(sm) {
    top: 10px;
  }

  @include media-breakpoint-down(xs) {
    right: auto;
    left: -10px;
    width: calc(100vw - 20px);
    max-width: none;
  }

  &__content {
    padding: 30px;

    @include media-breakpoint-down(sm) {
      padding: 20px 16px;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/close.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__header {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__time {
    margin-right: 12px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: $secondary;

    @include media-breakpoint-down(md) {
      margin-bottom: 4px;
    }
  }

  &__type {
    font-size: 16px;
    line-height: 1.5;
    color: $dark;
  }

  &__title {
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 1.4;
    color: $dark;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__btn {
    padding: 4.5px 18px;

    @include media-breakpoint-down(sm) {
      padding: 12px 18px;
      font-size: 18px;
      line-height: 1;
    }
  }
}
