.solo-slider {
  position: relative;
  margin-bottom: 60px;

  &__item {
    padding: 0 100px;

    @include media-breakpoint-down(sm) {
      padding: 0;
      overflow: hidden;
    }
  }

  &__counter {
    position: absolute;
    top: calc(100% - 40px);
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: $font-secondary;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: $dark;
    transform: translate(-55px);
  }

  .quote {

    @include media-breakpoint-down(xs) {
      padding: 17px 78px;
    }
  }
}
