mixin cabinet(data)
  .cabinet&attributes(attributes): .container
    .row
      .col-md-7.col-lg-6.order-1.order-md-0.cabinet__left.pt-60.pt-md-55
        h1.mb-40.mb-md-90.d-none.d-md-block Мой КАБИНЕТ
        .cabinet__email.form-group.mb-40.mb-md-45
          input.form-control(name="email" id="email" type="email" placeholder="" value="ivan@example.ru")
          label.d-none.d-md-block(for="email") Почта
          label.d-block.d-md-none(for="email") Моя почта
        .row
          .col-md-auto.title-gray Мои интересы
          .col-md.text-md-right.order-1.order-md-0
            a(href="#whatToSee").btn.btn-link.btn-link--icon.js-scroll-to
              .
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.651 6.38479C17.4297 6.15884 17.1381 6.01483 16.8242 5.97638L12.1325 5.36874L10.2498 0.83637C10.1822 0.671314 10.0825 0.521344 9.95645 0.395189C9.83039 0.269035 9.68049 0.169217 9.51548 0.101545C9.35047 0.0338728 9.17365 -0.000300849 8.99531 0.00101306C8.81697 0.00232697 8.64067 0.0391022 8.47668 0.109198C8.14874 0.247493 7.8878 0.508431 7.74951 0.83637L5.9764 5.27909L1.17507 5.97638C0.82249 6.02605 0.502938 6.2106 0.283693 6.49116C0.064449 6.77171 -0.0373809 7.1264 -0.000356798 7.48053C0.050387 7.79919 0.208553 8.09092 0.4479 8.30732L3.98415 11.4352L3.24701 16.4158C3.20526 16.6782 3.24158 16.947 3.35145 17.1889C3.46132 17.4308 3.6399 17.6351 3.86496 17.7763C4.09002 17.9175 4.35163 17.9894 4.61724 17.983C4.88285 17.9767 5.14073 17.8924 5.3588 17.7406L8.96478 15.2802L12.6206 17.7705C12.9197 17.9692 13.2852 18.0419 13.6376 17.9729C13.99 17.9039 14.301 17.6987 14.5032 17.4019C14.6048 17.2591 14.6765 17.0973 14.7142 16.9262C14.7518 16.755 14.7546 16.5781 14.7224 16.4058L13.9653 11.4252L17.5414 8.23759C17.7943 8.002 17.9467 7.67811 17.9671 7.33312C17.9875 6.98814 17.8743 6.64854 17.651 6.38479ZM12.5409 11.3057L13.288 16.5054L9.40307 13.8657C9.27379 13.7794 9.11997 13.7375 8.96478 13.7462C8.82289 13.7445 8.68389 13.7862 8.56633 13.8657L4.70136 16.4855L5.45842 11.2957C5.47675 11.1802 5.46533 11.062 5.42524 10.9522C5.38515 10.8424 5.31771 10.7446 5.22931 10.6681L1.51375 7.32115L6.49439 6.63382C6.61665 6.61729 6.73246 6.56905 6.83032 6.49391C6.92818 6.41877 7.00467 6.31934 7.05222 6.20549L9.04447 1.5237L11.0367 6.20549C11.0843 6.31934 11.1608 6.41877 11.2586 6.49391C11.3565 6.56905 11.4723 6.61729 11.5946 6.63382L16.5752 7.35104L12.8596 10.6681C12.7541 10.7359 12.6687 10.8309 12.6126 10.9431C12.5565 11.0553 12.5317 11.1805 12.5409 11.3057Z" fill="currentColor"/>
                </svg>
              | Посмотреть рекомендации
          .col-12.pt-15.pt-md-30.pb-20.pb-md-40
            +checkbox-tags({
              text: true,
              labels: ['обучение учителей', 'дополнительное образование', 'учителя', 'смена профессии']
            }).checkbox-tags--text
          .col-12.order-3.pt-30.pt-md-0
            a(href="#edit-profile" data-fancybox data-touch="false" data-slide-class="popup-edit__parent").btn.btn-link.btn-link--icon
              .
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.3131 4.66225L15.1228 5.85254L12.1471 2.87314L13.3374 1.68286C13.5799 1.44039 14.0023 1.44039 14.2448 1.68286L16.3131 3.75484C16.5629 4.00465 16.5629 4.41244 16.3131 4.66225ZM6.36835 14.618L3.39263 11.6386L11.0854 3.93485L14.0611 6.91424L6.36835 14.618ZM2.70564 13.0751L4.93192 15.305L1.8313 16.1794L2.70564 13.0751ZM17.3748 2.69313L15.3065 0.621152C14.9024 0.217042 13.4439 -0.547092 12.2794 0.621152L1.79823 11.1096C1.70639 11.2015 1.64026 11.3117 1.6072 11.4366L0.0274981 17.0611C-0.0459764 17.3219 0.0311718 17.6011 0.218532 17.7958C0.409565 17.9905 0.791633 18.0236 0.953277 17.9868L6.57407 16.4035C6.69898 16.3704 6.80919 16.3043 6.90104 16.2124L17.3748 5.72395C18.2088 4.89002 18.2088 3.53074 17.3748 2.69313Z" fill="currentColor"/>
                </svg>
              | Редактировать
      .col-md-5.col-lg-6.d-md-flex.justify-content-end.pt-40.pt-md-0
        .d-md-none.mb-10.mb-md-25
          h1.mb-40.mb-md-35 Мой КАБИНЕТ
          .title-gray.mb-20 Мой бейдж
          .d-flex.align-items-center
            img.cabinet__badge-img(src="./img/cabinet-badge-small.png" alt="").flex-shrink-0.mr-20
            .cabinet__name Константин Салтыков-Щедрин
        .cabinet__badge
          +btn({
            text: 'Показать бейдж',
            type: 'toggle'
          })(class="btn-link btn-link--toggle-text d-md-none" data-toggle="collapse" data-target="#badge" aria-expanded="false" data-close-text="Скрыть бейдж")
          #badge.collapse.d-md-block
            +badge-user({
              name: 'Константин Салтыков-Щедрин',
              company: 'Яндекс.Учебник',
              role: 'Учитель русского языка и литературы, методист по русскому языку'
            }).badge-user--red.badge-user--letters-yellow
            .dropdown.text-center.mt-25.mr-lg-20
              a(href="#edit-badge" data-fancybox data-slide-class="popup-edit__parent" data-touch="false").btn.btn-link.btn-link--icon.mr-30
                .
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.3131 4.66225L15.1228 5.85254L12.1471 2.87314L13.3374 1.68286C13.5799 1.44039 14.0023 1.44039 14.2448 1.68286L16.3131 3.75484C16.5629 4.00465 16.5629 4.41244 16.3131 4.66225ZM6.36835 14.618L3.39263 11.6386L11.0854 3.93485L14.0611 6.91424L6.36835 14.618ZM2.70564 13.0751L4.93192 15.305L1.8313 16.1794L2.70564 13.0751ZM17.3748 2.69313L15.3065 0.621152C14.9024 0.217042 13.4439 -0.547092 12.2794 0.621152L1.79823 11.1096C1.70639 11.2015 1.64026 11.3117 1.6072 11.4366L0.0274981 17.0611C-0.0459764 17.3219 0.0311718 17.6011 0.218532 17.7958C0.409565 17.9905 0.791633 18.0236 0.953277 17.9868L6.57407 16.4035C6.69898 16.3704 6.80919 16.3043 6.90104 16.2124L17.3748 5.72395C18.2088 4.89002 18.2088 3.53074 17.3748 2.69313Z" fill="currentColor"/>
                  </svg>
                | Редактировать
              a(href="javascript:;" data-toggle="dropdown").btn.btn-link.btn-link--icon
                .
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.6093 11.4204C13.1226 11.4232 12.6424 11.532 12.202 11.7392C11.7616 11.9465 11.3717 12.2472 11.0593 12.6204L6.48933 10.2904C6.54885 10.0381 6.57905 9.77969 6.57933 9.52041C6.58064 9.15284 6.51979 8.78769 6.39933 8.44041L11.2093 5.55041C11.7339 6.11125 12.4377 6.47156 13.1994 6.56928C13.9611 6.66699 14.7331 6.49599 15.3823 6.08572C16.0315 5.67546 16.5172 5.05163 16.7559 4.32171C16.9946 3.59178 16.9712 2.80147 16.6898 2.08693C16.4084 1.37238 15.8866 0.778348 15.2143 0.407167C14.542 0.0359855 13.7613 -0.0891014 13.0067 0.0534561C12.2521 0.196014 11.5709 0.597288 11.0803 1.18815C10.5898 1.77901 10.3207 2.52246 10.3193 3.29041C10.322 3.6299 10.3759 3.96704 10.4793 4.29041L5.64933 7.23041C5.18454 6.74889 4.58396 6.42057 3.92772 6.28926C3.27149 6.15795 2.59081 6.22989 1.97653 6.49548C1.36224 6.76108 0.843562 7.20769 0.489702 7.77573C0.135842 8.34377 -0.0363683 9.00622 -0.00394884 9.67468C0.0284706 10.3431 0.263978 10.9858 0.671146 11.5169C1.07831 12.0481 1.63778 12.4424 2.27488 12.6473C2.91199 12.8522 3.59643 12.8579 4.23688 12.6637C4.87733 12.4695 5.44332 12.0846 5.85933 11.5604L10.4193 13.8904C10.351 14.1583 10.3174 14.4339 10.3193 14.7104C10.3193 15.3611 10.5123 15.9972 10.8738 16.5382C11.2353 17.0793 11.7491 17.501 12.3503 17.75C12.9515 17.999 13.613 18.0641 14.2512 17.9372C14.8894 17.8102 15.4756 17.4969 15.9357 17.0368C16.3958 16.5767 16.7092 15.9905 16.8361 15.3523C16.9631 14.7141 16.8979 14.0526 16.6489 13.4514C16.3999 12.8502 15.9782 12.3364 15.4372 11.9749C14.8961 11.6134 14.26 11.4204 13.6093 11.4204ZM13.6093 1.42041C13.9792 1.42041 14.3407 1.53009 14.6482 1.73556C14.9558 1.94104 15.1954 2.2331 15.337 2.57479C15.4785 2.91649 15.5156 3.29249 15.4434 3.65523C15.3712 4.01798 15.1931 4.35118 14.9316 4.6127C14.6701 4.87423 14.3369 5.05233 13.9741 5.12448C13.6114 5.19663 13.2354 5.1596 12.8937 5.01807C12.552 4.87653 12.26 4.63685 12.0545 4.32933C11.849 4.02181 11.7393 3.66026 11.7393 3.29041C11.7393 2.79446 11.9363 2.31882 12.287 1.96812C12.6377 1.61743 13.1134 1.42041 13.6093 1.42041ZM3.28933 11.4204C2.92076 11.4204 2.56043 11.3114 2.2536 11.1072C1.94676 10.903 1.7071 10.6127 1.56473 10.2728C1.42235 9.93283 1.38361 9.55839 1.45337 9.19649C1.52312 8.83458 1.69827 8.50136 1.9568 8.23869C2.21533 7.97601 2.54572 7.79558 2.90647 7.72008C3.26721 7.64457 3.64223 7.67735 3.9844 7.81429C4.32658 7.95124 4.62066 8.18625 4.8297 8.4898C5.03874 8.79334 5.15342 9.1519 5.15933 9.52041C5.15669 10.0146 4.9585 10.4877 4.6081 10.8362C4.25769 11.1848 3.78356 11.3804 3.28933 11.3804V11.4204ZM13.6093 16.6204C13.2395 16.6204 12.8779 16.5107 12.5704 16.3053C12.2629 16.0998 12.0232 15.8077 11.8817 15.466C11.7401 15.1243 11.7031 14.7483 11.7753 14.3856C11.8474 14.0228 12.0255 13.6896 12.287 13.4281C12.5486 13.1666 12.8818 12.9885 13.2445 12.9163C13.6073 12.8442 13.9832 12.8812 14.3249 13.0228C14.6666 13.1643 14.9587 13.404 15.1642 13.7115C15.3697 14.019 15.4793 14.3806 15.4793 14.7504C15.4689 15.2394 15.2672 15.7048 14.9177 16.0469C14.5681 16.389 14.0984 16.5805 13.6093 16.5804V16.6204Z" fill="currentColor"/>
                  </svg>
  
                | Поделиться
              .dropdown-menu.dropdown-menu--share
                a(href="#")
                  .
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 0C14.0388 0 10.6554 1.02636 7.77753 2.94928C4.89967 4.87221 2.65665 7.60533 1.33212 10.803C0.00758249 14.0007 -0.338976 17.5194 0.336265 20.9141C1.01151 24.3087 2.67822 27.4269 5.12564 29.8744C7.57306 32.3218 10.6913 33.9885 14.0859 34.6637C17.4806 35.339 20.9993 34.9924 24.197 33.6679C27.3947 32.3433 30.1278 30.1003 32.0507 27.2225C33.9736 24.3446 35 20.9612 35 17.5C35 12.8587 33.1563 8.40752 29.8744 5.12563C26.5925 1.84374 22.1413 0 17.5 0V0ZM27.8464 25.2722H24.8883C23.9141 25.2722 23.7932 24.5043 22.0012 22.7976C20.4866 21.3043 19.8679 21.1621 19.4768 21.1621C19.0857 21.1621 18.9293 21.3755 18.9293 21.9443V24.2269C18.9293 24.938 18.5382 25.1656 16.9525 25.1656C14.3428 25.1656 11.4557 23.5585 9.25133 20.5861C5.93763 16.1631 5.10565 12.9988 5.10565 12.2806C5.10565 11.8966 5.39009 11.7615 5.77408 11.7615H8.44068C9.15177 11.7615 9.40066 11.8326 9.64243 12.565C10.8655 16.1205 13.1979 19.2422 14.101 19.2422C14.4494 19.2422 14.6272 18.8937 14.6272 18.1613V14.5134C14.6272 12.7499 13.4894 12.7286 13.4894 12.0815C13.4894 11.8184 13.5534 11.7615 13.8805 11.7615H18.1471C18.716 11.7615 18.8582 11.7046 18.8582 12.4015V17.3791C18.8582 17.948 18.9293 18.1542 19.1782 18.1542C19.4271 18.1542 19.7542 17.9693 20.323 17.3436C21.5814 15.8186 22.651 14.1473 23.5087 12.3659C23.5818 12.1668 23.7217 11.9991 23.9045 11.8915C24.0873 11.7839 24.3018 11.743 24.5114 11.7757H27.178C27.7113 11.7757 27.9317 12.0032 27.8322 12.4868C27.5264 13.909 24.4545 18.2253 24.4545 18.2253C24.1701 18.6733 24.0492 18.9008 24.4545 19.3275C24.7389 19.6973 25.6349 20.4795 26.1824 21.2119C27.5264 22.6341 28.4011 23.8927 28.4011 24.5611C28.4437 25.0802 28.1522 25.2722 27.8464 25.2722Z" fill="#737F89"/>
                    </svg>
                a(href="#")
                  .
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 0C14.0388 0 10.6554 1.02636 7.77753 2.94928C4.89967 4.87221 2.65665 7.60533 1.33212 10.803C0.00758249 14.0007 -0.338976 17.5194 0.336265 20.9141C1.01151 24.3087 2.67822 27.4269 5.12564 29.8744C7.57306 32.3218 10.6913 33.9885 14.0859 34.6637C17.4806 35.339 20.9993 34.9924 24.197 33.6679C27.3947 32.3433 30.1278 30.1003 32.0507 27.2225C33.9736 24.3446 35 20.9612 35 17.5C35 12.8587 33.1563 8.40752 29.8744 5.12563C26.5925 1.84374 22.1413 0 17.5 0V0ZM23.1887 11.8824H20.3444C19.2066 11.8824 18.9222 11.9819 18.9222 12.9348V14.7267H22.4777V18.9933H18.9222V27.5264H15.3667V18.9933H11.8113V14.7267H15.3667V12.757C15.3332 12.058 15.4462 11.3598 15.6984 10.707C15.9507 10.0543 16.3366 9.4615 16.8314 8.96669C17.3262 8.47187 17.919 8.08596 18.5717 7.83373C19.2245 7.5815 19.9227 7.46852 20.6217 7.50203C21.3361 7.49631 22.0498 7.55102 22.755 7.66558L23.203 7.72958L23.1887 11.8824Z" fill="#737F89"/>
                    </svg>
                a(href="#")
                  .
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 0C14.0388 0 10.6554 1.02636 7.77753 2.94928C4.89967 4.87221 2.65665 7.60533 1.33212 10.803C0.00758249 14.0007 -0.338976 17.5194 0.336265 20.9141C1.01151 24.3087 2.67822 27.4269 5.12564 29.8744C7.57306 32.3218 10.6913 33.9885 14.0859 34.6637C17.4806 35.339 20.9993 34.9924 24.197 33.6679C27.3947 32.3433 30.1278 30.1003 32.0507 27.2225C33.9736 24.3446 35 20.9612 35 17.5C35 12.8587 33.1563 8.40752 29.8744 5.12563C26.5925 1.84374 22.1413 0 17.5 0V0ZM25.4287 13.9445C25.4287 14.1365 25.4287 14.3214 25.4287 14.5063C25.4287 20.195 21.2617 26.8011 13.6317 26.8011C11.3748 26.8038 9.16775 26.1382 7.28871 24.8883C7.61927 24.9253 7.95161 24.9443 8.28424 24.9451C10.1626 24.9434 11.9822 24.2899 13.4326 23.0963C12.5524 23.0698 11.7032 22.7651 11.007 22.2259C10.3107 21.6868 9.80314 20.941 9.5571 20.0955C9.81468 20.1468 10.0766 20.173 10.3393 20.1737C10.7071 20.175 11.0734 20.1247 11.4273 20.0244C10.4661 19.8062 9.61016 19.262 9.0048 18.4842C8.39944 17.7065 8.08202 16.7431 8.10647 15.7578C8.67669 16.0933 9.32245 16.2792 9.98375 16.2982C9.4083 15.8937 8.9395 15.3556 8.6175 14.7302C8.2955 14.1048 8.12991 13.4107 8.13491 12.7072C8.1333 11.9458 8.3267 11.1967 8.69667 10.5313C9.71158 11.8523 10.999 12.9393 12.4714 13.7184C13.9438 14.4976 15.5667 14.9506 17.2298 15.0467C17.1581 14.7246 17.1223 14.3955 17.1231 14.0654C17.1077 12.9447 17.534 11.8629 18.3097 11.0539C19.0855 10.2449 20.1484 9.77362 21.2688 9.74197C21.8413 9.74395 22.407 9.86656 22.9289 10.1018C23.4509 10.3371 23.9174 10.6797 24.298 11.1073C25.2302 10.9142 26.1209 10.5579 26.9291 10.0549C26.6259 11.0464 25.9776 11.8965 25.1016 12.4512C25.9274 12.3377 26.7308 12.0978 27.4837 11.7401C26.9349 12.591 26.2391 13.3375 25.4287 13.9445Z" fill="#737F89"/>
                    </svg>
                a(href="#")
                  .
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.5591 11.563L12.5301 18.4037C12.4352 18.462 12.3626 18.5505 12.324 18.6549C12.2853 18.7593 12.2827 18.8737 12.3167 18.9797L13.7958 23.7511C13.8016 23.7722 13.8141 23.7907 13.8314 23.8039C13.8488 23.8172 13.87 23.8243 13.8918 23.8243C13.9136 23.8243 13.9348 23.8172 13.9522 23.8039C13.9695 23.7907 13.982 23.7722 13.9878 23.7511L14.3433 20.5583C14.3487 20.4962 14.3666 20.4359 14.396 20.3809C14.4253 20.3259 14.4655 20.2774 14.514 20.2383L23.8507 11.9541C23.8763 11.935 23.898 11.9109 23.9144 11.8834C23.9308 11.8559 23.9416 11.8254 23.9462 11.7938C23.9509 11.7621 23.9492 11.7298 23.9413 11.6987C23.9335 11.6677 23.9196 11.6385 23.9004 11.6128C23.8813 11.5871 23.8573 11.5654 23.8298 11.549C23.8022 11.5326 23.7718 11.5218 23.7401 11.5172C23.7084 11.5126 23.6761 11.5142 23.645 11.5221C23.614 11.53 23.5848 11.5439 23.5591 11.563Z" fill="#737F89"/>
                    <path d="M17.5 0C14.0388 0 10.6554 1.02636 7.77753 2.94928C4.89967 4.87221 2.65665 7.60533 1.33212 10.803C0.00758249 14.0007 -0.338976 17.5194 0.336265 20.9141C1.01151 24.3087 2.67822 27.4269 5.12564 29.8744C7.57306 32.3218 10.6913 33.9885 14.0859 34.6637C17.4806 35.339 20.9993 34.9924 24.197 33.6679C27.3947 32.3433 30.1278 30.1003 32.0507 27.2225C33.9736 24.3446 35 20.9612 35 17.5C35 12.8587 33.1563 8.40752 29.8744 5.12563C26.5925 1.84374 22.1413 0 17.5 0V0ZM27.7326 9.48598L24.3265 25.898C24.2902 26.0757 24.2097 26.2415 24.0925 26.3799C23.9753 26.5184 23.8251 26.6251 23.6558 26.6903C23.4865 26.7555 23.3035 26.777 23.1237 26.7528C22.9439 26.7287 22.7731 26.6597 22.627 26.5522L17.4431 22.755L14.805 25.45C14.6994 25.5594 14.5672 25.6394 14.4214 25.6821C14.2755 25.7248 14.121 25.7288 13.9732 25.6936C13.8253 25.6584 13.6892 25.5853 13.5781 25.4815C13.4671 25.3777 13.3851 25.2468 13.3401 25.1016L11.4344 19.0502L6.32162 17.5356C6.16263 17.5067 6.01819 17.4246 5.91211 17.3027C5.80602 17.1808 5.74461 17.0265 5.73798 16.865C5.73136 16.7036 5.77992 16.5447 5.87567 16.4145C5.97141 16.2843 6.10864 16.1907 6.26474 16.1489L26.3673 8.3269C26.5382 8.26715 26.7217 8.25312 26.8997 8.2862C27.0777 8.31928 27.2439 8.39831 27.3819 8.51547C27.5199 8.63262 27.6249 8.78382 27.6864 8.95406C27.7479 9.1243 27.7639 9.30767 27.7326 9.48598Z" fill="#737F89"/>
                    </svg>
                br
                a(href="#").btn.btn-download Скачать 
