.cabinet {

  &__name {
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 29px;

    @include transition;
  }

  &__badge {
    margin-right: 66px;
    max-width: 380px;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
      max-width: 100%;
      border-bottom: 1px solid $border-color;
    }
  }

  &__email {

    .is-active ~ label,
    &:focus ~ label {

      @include media-breakpoint-down(sm) {
        top: -35px;
        font-size: 18px;
      }
    }

    input {

      @include media-breakpoint-down(sm) {
        border-bottom: 0;
      }
    }
  }

  &__badge-img {
    width: 63px;
    height: 93px;
    transition: $transition-base;

    &.is-hidden {
      opacity: 0;
      transform: translateX(-100%);

      & ~ .cabinet__name {
        margin-left: -83px;
      }
    }
  }
}
