mixin lesson(data)
  .lesson&attributes(attributes)(class=data.bordered ?'lesson--bordered':'' class=data.type === 'more' ?'lesson--more':'' class=data.type === 'list' ?'lesson--list':'')
    case data.type
      when 'more'
        .lesson__time.d-none.d-lg-block !{data.time}
        .lesson__content.lesson__content--row
          .lesson__left
            .lesson__head
              .lesson__time.d-block.d-lg-none !{data.time}
              a(href="#" class=data.check ?'is-check':'').lesson__mark
              a.lesson__title.lesson__title--lg(href="#") !{data.title}
              .lesson__text !{data.text}
          .lesson__right
            +speaker(data.speaker)
      when 'list'
        .lesson__time.d-none.d-lg-block !{data.time}
        .lesson__content.lesson__content--row
          .lesson__left
            .lesson__head
              .lesson__time.d-block.d-lg-none !{data.time}
              a(href="#" class=data.check ?'is-check':'').lesson__mark
              a.lesson__title.lesson__title--lg(href="#") !{data.title}
              .lesson__text !{data.text}
        for item in data.items
          .lesson__item
            .lesson__left
              h4.font-weight-normal !{item.title}
            .lesson__right
              +speaker(item.speaker)
      when 'my'
        .lesson__time.d-none.d-lg-block !{data.time}
        .lesson__content.lesson__content--row
          .lesson__place.d-none.d-lg-block !{data.place}
          .lesson__left
            .lesson__head
              .lesson__time.d-block.d-lg-none !{data.time}
              a(href="#" class=data.check ? 'is-check' : '').lesson__mark
              div
                .lesson__place.d-lg-none !{data.place}
                a.lesson__title.lesson__title--lg(href="#") !{data.title}
          .lesson__right
            +speaker(data.speaker)
      default
        .lesson__time !{data.time}
        .lesson__content
          .lesson__head
            a(href="#" class=data.check ?'is-check':'').lesson__mark
            a.lesson__title(href="#") !{data.title}
