.lesson {
  position: relative;
  z-index: 2;
  padding: 34px 0 29px;
  display: flex;

  @include media-breakpoint-down(md) {
    padding: 25px 0 27px;
  }

  &--bordered {
    border-top: 1px solid $border-color;

    &:last-of-type {
      border-bottom: 1px solid $border-color;
    }
  }

  &--more {
    padding: 30px 0 24px;
    background: #f5f9ff;
    border-bottom: 1px solid $border-color;

    &:last-of-type {
      border-bottom: 0 none;
    }

    @include media-breakpoint-down(md) {
      margin-left: -10px;
      padding: 30px 10px 34px;
      width: calc(100% + 20px);
    }

    .lesson__left {
      max-width: none;
    }

    .lesson__text {
      padding-left: 0;
    }

    .lesson__mark {
      top: 9px;
      background-position: top center !important;

      @include media-breakpoint-down(md) {
        top: 0;
      }
    }
  }

  &--list {
    padding: 20px 0 44px;
    background: #f5f9ff;
    border-bottom: 1px solid $border-color;
    flex-flow: row wrap;

    &:last-of-type {
      border-bottom: 0 none;
    }

    @include media-breakpoint-down(md) {
      margin-left: -10px;
      padding: 16px 10px 18px;
      width: calc(100% + 20px);
    }

    .lesson__content--row {
      padding-bottom: 36px;

      @include media-breakpoint-down(md) {
        padding-bottom: 20px;
      }
    }

    .lesson__head {

      @include media-breakpoint-down(md) {
        flex-flow: row wrap;
      }
    }

    .lesson__left {

      .lesson__title {

        @include media-breakpoint-down(md) {
          width: calc(100% - 72px);
        }
      }

      .lesson__text {
        padding-left: 0;

        @include media-breakpoint-down(md) {
          padding-left: 72px;
          display: block;
        }
      }
    }

    .lesson__mark {
      top: 9px;
      background-position: top center !important;

      @include media-breakpoint-down(md) {
        top: 0;
      }
    }
  }

  &__time {
    padding: 0 24px 0 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1em;
    color: $black;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 20px;
    flex-shrink: 0;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M14.512 0H0.647215C0.28978 0 0 0.288956 0 0.645375V19.3546C0 19.6157 0.157705 19.851 0.399547 19.9509C0.479629 19.984 0.563724 20 0.647085 20C0.815534 20 0.981048 19.9345 1.10488 19.8109L7.57975 13.3546L14.0544 19.8109C14.2395 19.9955 14.5178 20.0507 14.7597 19.9509C15.0015 19.851 15.1592 19.6157 15.1592 19.3546V0.645375C15.1592 0.288956 14.8695 0 14.512 0ZM7.5797 11.7965C7.40806 11.7965 7.24345 11.8645 7.12208 11.9856L1.29443 17.7966V1.29075H13.8648V17.7965L8.03737 11.9856C7.916 11.8645 7.75139 11.7965 7.5797 11.7965Z' fill='%23737F89'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right top;

    @include media-breakpoint-down(md) {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: auto;
      margin: 0;
      width: 40px;
      height: 60px;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M17.3776 20.8864L10.0768 13.5584C10.0014 13.4827 9.91198 13.4227 9.81353 13.3818C9.71508 13.3408 9.60955 13.3197 9.50297 13.3197C9.3964 13.3197 9.29087 13.3408 9.19242 13.3818C9.09397 13.4227 9.00452 13.4827 8.92918 13.5584L1.62241 20.8869V0H8.33744e-08V22.8524C-7.26654e-05 23.0135 0.0474641 23.171 0.136595 23.305C0.225726 23.439 0.352446 23.5434 0.500719 23.605C0.648993 23.6667 0.812156 23.6828 0.969562 23.6514C1.12697 23.6199 1.27154 23.5423 1.38499 23.4284L9.50027 15.2824L17.6155 23.4284C17.729 23.5421 17.8736 23.6196 18.0309 23.6509C18.1882 23.6823 18.3512 23.6661 18.4994 23.6045C18.6475 23.5428 18.7742 23.4385 18.8633 23.3046C18.9524 23.1708 19 23.0134 19 22.8524V0H17.3776V20.8864Z' fill='%23737F89'/%3E%3C/svg%3E");
      background-size: 19px;
    }

    &.is-check {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.32566 12.6649C7.39086 12.5998 7.46828 12.5482 7.55349 12.513C7.63871 12.4778 7.73005 12.4596 7.8223 12.4596C7.91454 12.4596 8.00589 12.4778 8.0911 12.513C8.17632 12.5482 8.25374 12.5998 8.31894 12.6649L14.6442 18.9736V1H1V18.9736L7.32566 12.6649Z' fill='%23FF3333'/%3E%3Cpath d='M14.512 0H0.647215C0.28978 0 0 0.288956 0 0.645375V19.3546C0 19.6157 0.157705 19.851 0.399547 19.9509C0.479629 19.984 0.563724 20 0.647085 20C0.815534 20 0.981048 19.9345 1.10488 19.8109L7.57975 13.3546L14.0544 19.8109C14.2395 19.9955 14.5178 20.0507 14.7597 19.9509C15.0015 19.851 15.1592 19.6157 15.1592 19.3546V0.645375C15.1592 0.288956 14.8695 0 14.512 0ZM7.5797 11.7965C7.40806 11.7965 7.24345 11.8645 7.12208 11.9856L1.29443 17.7966V1.29075H13.8648V17.7965L8.03737 11.9856C7.916 11.8645 7.75139 11.7965 7.5797 11.7965Z' fill='%23BE060C'/%3E%3C/svg%3E");

      @include media-breakpoint-down(md) {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.89512 14.2134C8.97456 14.1341 9.06889 14.0711 9.17273 14.0282C9.27656 13.9853 9.38786 13.9632 9.50026 13.9632C9.61266 13.9632 9.72396 13.9853 9.82779 14.0282C9.93162 14.0711 10.026 14.1341 10.1054 14.2134L17.8125 21.9002V0H1.1875V21.9002L8.89512 14.2134Z' fill='%23FF3333'/%3E%3Cpath d='M17.3776 20.8864L10.0768 13.5584C10.0014 13.4827 9.91198 13.4227 9.81353 13.3818C9.71508 13.3408 9.60955 13.3197 9.50297 13.3197C9.3964 13.3197 9.29087 13.3408 9.19242 13.3818C9.09397 13.4227 9.00452 13.4827 8.92918 13.5584L1.62241 20.8869V0H8.33744e-08V22.8524C-7.26654e-05 23.0135 0.0474641 23.171 0.136595 23.305C0.225726 23.439 0.352446 23.5434 0.500719 23.605C0.648993 23.6667 0.812156 23.6828 0.969562 23.6514C1.12697 23.6199 1.27154 23.5423 1.38499 23.4284L9.50027 15.2824L17.6155 23.4284C17.729 23.5421 17.8736 23.6196 18.0309 23.6509C18.1882 23.6822 18.3512 23.6661 18.4994 23.6044C18.6475 23.5428 18.7742 23.4385 18.8633 23.3046C18.9524 23.1708 19 23.0134 19 22.8524V0H17.3776V20.8864Z' fill='%23BE060C'/%3E%3C/svg%3E");
        background-position: top right;
      }
    }
  }

  &__title {
    display: flex;
    font-family: $font-secondary;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 400;
    color: $dark;

    @include media-breakpoint-down(md) {
      padding-right: 40px;
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      color: $primary;
    }

    &--lg {
      margin-top: -7px;
      font-size: 28px;
      line-height: 38px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  &__content {

    &--row {
      display: flex;
      flex: 1 0 0;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        padding: 0 10px;
        flex-flow: row wrap;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  &__text {
    padding-top: 12px;
    padding-left: 25px;
    max-width: 555px;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
  }

  &__left {
    padding-right: 10px;
    width: 50%;
    max-width: 544px;

    @include media-breakpoint-down(md) {
      padding-right: 0;
      width: 100%;
    }

    .lesson__text {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .lesson__title {

      @include media-breakpoint-down(md) {
        padding-right: 10px;
        font-size: 24px;
        line-height: 28px;
      }

      &:before {

        @include media-breakpoint-down(md) {
          right: 10px;
        }
      }
    }

    h4 {
      margin-bottom: 0;
      font-family: $font-secondary;
    }
  }

  &__right {
    margin-right: auto;
    padding-right: 122px;
    padding-left: 10px;

    @include media-breakpoint-down(lg) {
      padding-right: 10px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 20px;
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  &__head {
    position: relative;
    padding-left: 25px;

    @include media-breakpoint-down(md) {
      position: static;
      padding-left: 0;
      display: flex;
      align-items: baseline;
    }

    .lesson__time {

      @include media-breakpoint-down(md) {
        padding-top: 5px;
      }
    }
  }

  &__item {
    margin: 0 106px;
    padding: 24px 0;
    display: flex;
    width: calc(100% - 212px);
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(md) {
      margin: 0;
      padding: 20px 0;
      width: calc(100% - 20px);
      flex-direction: column;
    }

    &:last-of-type {
      border-bottom: 0 none;
    }

    .lesson__left {

      @include media-breakpoint-down(md) {
        padding-left: 82px;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 72px;
      }
    }

    .lesson__right {
      padding-right: 16px;

      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }
    }
  }

  &__place {
    padding-right: 40px;
    min-width: 190px;
    max-width: 190px;
    font-size: 16px;
    line-height: 24px;

    @include media-breakpoint-down(lg) {
      padding-right: 10px;
      min-width: 140px;
      max-width: 140px;
      hyphens: auto;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
      padding-right: 0;
      min-width: auto;
      max-width: inherit;
      line-height: 1.2;
    }
  }

  &--my {
    padding: 30px 0;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(md) {
      padding: 20px 0;
      border-top: 1px solid $border-color;
      border-bottom: 0;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    .lesson__content--row {
      overflow: hidden;
      justify-content: flex-start;
    }

    .lesson__time {
      padding: 0 49px 0 10px;

      @include media-breakpoint-down(md) {
        padding: 0 20px 0 0;
      }

      @include media-breakpoint-down(xs) {
        min-width: 72px;
      }
    }

    .lesson__left {
      width: 100%;
      max-width: 500px;

      @include media-breakpoint-down(md) {
        padding-right: 30px;
        padding-bottom: 14px;
        max-width: 100%;
      }
    }

    .lesson__right {
      margin-left: auto;
      padding-right: 70px;
      min-width: 420px;
      max-width: 420px;

      @include media-breakpoint-down(lg) {
        padding-right: 0;
        min-width: 340px;
        max-width: 340px;
      }

      @include media-breakpoint-down(md) {
        margin-left: 0;
        padding-top: 0;
        padding-left: 68px;
        min-width: auto;
        max-width: inherit;
      }

      @include media-breakpoint-down(xs) {
        padding-left: 0;
      }
    }

    .lesson__mark {
      top: 10px;

      @include media-breakpoint-down(lg) {
        top: 5px;
      }

      @include media-breakpoint-down(md) {
        top: 0;
      }
    }

    .lesson__title--lg {

      @include media-breakpoint-down(lg) {
        margin-top: 0;
        font-size: 24px;
        line-height: 28px;
      }

      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }
  }

  &--orange {
    border-color: rgba(0, 0, 0, .2);

    .speaker__role {
      color: $dark;
    }
  }
}
