.video {
  margin-bottom: 40px;
  max-width: 683px;

  &__content {
    position: relative;
    padding-top: 57.4%;
    display: block;

    &:hover {

      &:before {
        opacity: .8;
      }
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .4);

      @include transition;
    }

    &:after {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      display: block;
      width: 98px;
      height: 98px;
      content: '';
      background: url(../img/video-play.svg) no-repeat center;
      background-size: contain;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #737f89;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      font-size: 15px;
      line-height: 23px;
    }
  }
}
