mixin video(data)
  .video&attributes(attributes)
    a.video__content(href="https://www.youtube.com/watch?v=6tmbeLTHC_0&t=50s", data-fancybox)
      img.video__poster(src="./img/" + data.poster, alt)
    .video__title!= data.title
