mixin person(data)
  a.person(href="#")&attributes(attributes)
    .person__picture
      img.person__picture-img(src="./img/" + data.photo, alt)
    .person__content
      p.person__name= data.name
      p.person__text.p--xs.mb-5= data.award
      p.person__text.p--xs= data.role
