.person {

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture {
    position: relative;
    margin-bottom: 15px;
    padding-top: 100%;
    width: 100%;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  &__name {
    margin-bottom: 6px !important;
    padding: 0 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    color: $dark !important;
  }

  &__text {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 400 !important;
    font-style: italic !important;
    color: $gray !important;

    &.mb-5 {
      margin-bottom: 5px !important;
    }
  }
}
