.quote {
  position: relative;
  margin: 92px 0 112px;
  padding: 57px 114px 57px 104px;
  max-width: 900px;

  @include media-breakpoint-down(sm) {
    padding: 17px 78px 17px 54px;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: -52px;
    width: calc(100vw + 92px);
  }

  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    box-shadow: 0 18px 56px rgba(36, 147, 244, .16);
    transform: rotate(6.85deg);
  }

  &:after {
    position: absolute;
    bottom: -49px;
    left: 104px;
    display: block;
    width: 700px;
    height: 320px;
    content: '';
    background: url(../img/quote-grid.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xs) {
      bottom: -13px;
      left: 54px;
      display: none;
      width: 378px;
      height: 158px;
    }
  }

  &__author {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
  }

  &__author-name {
    margin-bottom: 4px;
    font-family: $font-heavy;
    font-size: 12px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $secondary;
  }

  &__author-subheader {
    font-size: 14px;
    line-height: 20px;
    color: #737f89;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    line-height: 1.38;
    color: $dark;

    @include media-breakpoint-down(xs) {
      font-size: 22px;
      line-height: 1.36;
    }

    &:before,
    &:after {
      display: block;
      width: 81px;
      height: 38px;
      content: '';
      background: url(../img/quotes.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xs) {
        width: 56px;
        height: 26px;
      }
    }

    &:before {
      margin-bottom: 40px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 14px;
      }
    }

    &:after {
      margin-top: 40px;
      transform: rotate(180deg);
      align-self: flex-end;

      @include media-breakpoint-down(xs) {
        margin-top: 14px;
      }
    }
  }
}
