mixin quote(data)
  .quote&attributes(attributes)
    if data && data.modifier == 'author'
      .quote__author
        .quote__author-name Александр Загородний
        .quote__author-subheader Выпускник 2019 года
    .quote__content!= data.text
