.brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    margin-right: 40px;
    margin-bottom: 30px;
    max-width: 150px;

    @include media-breakpoint-down(sm) {
      max-width: 100px;
    }

    img {
      width: auto !important;
    }
  }
}
