.msg {
  padding: 5px 16px 5px 12px;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: $gray;

  @include transition;

  @include media-breakpoint-down(xs) {
    padding-right: 16px;
    padding-left: 16px;
  }

  &:hover {
    color: $gray;
    background: darken(#f9f9f9, 5%);
  }

  &__content {
    padding-left: 12px;
    flex-grow: 1;
  }

  &__time {
    flex-shrink: 0;
    font-size: 11px;

    &.is-check {
      position: relative;

      &:before {
        position: absolute;
        top: 7px;
        right: 100%;
        display: block;
        width: 25px;
        height: 11px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='11' viewBox='0 0 22 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.73333L5.17391 9L13 1' stroke='%2354AFFF' stroke-width='2'/%3E%3Cpath d='M9 4.73333L13.1739 9L21 1' stroke='%2354AFFF' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
      }
    }
  }

  &__photo {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: $font-heavy;
    font-size: 9px;
    line-height: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      border-radius: 50%;
      transform: translateX(-50%);
    }
  }

  &__name {
    font-size: 12px;
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    color: $dark;
  }

  &--text {

    .msg__photo {
      margin-top: 6px;
      width: 32px;
      height: 32px;
    }
  }

  &--short {
    cursor: pointer;

    .msg__content {
      max-width: calc(100% - 85px);
    }

    .msg__text {
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &--letters-yellow {

    .msg__photo {
      color: $secondary;
      background: #fbdf5d;
    }
  }

  &--letters-black {

    .msg__photo {
      color: #fff;
      background: $dark;
    }
  }

  &--letters-red {

    .msg__photo {
      color: #fff;
      background: $secondary;
    }
  }

  &--letters-blue {

    .msg__photo {
      color: #fff;
      background: $primary;
    }
  }

  &--letters-gray {

    .msg__photo {
      color: $dark;
      background: #d2dce6;
    }
  }
}
