mixin msg(data)
  a.msg(href="#message", class=data.modal ? 'msg--modal':'')&attributes(attributes)
    .msg__photo ЛП
      img(src=`./img/${data.img}` alt)
    .msg__content
      .msg__name= data.name
      .msg__text= data.text
    .msg__time(class=data.check ? 'is-check':'')= data.time
