.menu {

  @include media-breakpoint-down(md) {
    position: relative;
    padding-bottom: 100px;
    display: flex !important;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    font-family: $font-heavy;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background: #c1e2ff;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 16px;
    line-height: 19px;

    @include media-breakpoint-down(md) {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      line-height: 30px;
      text-align: center;

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }

      &:before {

        @include media-breakpoint-down(md) {
          position: absolute;
          z-index: -1;
          bottom: -5px;
          left: -45px;
          display: block;
          width: calc(100% + 40px);
          height: calc(100% + 200px);
          content: '';
          background: #fff;
          transform: rotate(10deg);

          @include transition;
        }
      }
    }

    li {
      margin-right: 34px;

      @include media-breakpoint-down(lg) {
        margin-right: 20px;
      }

      @include media-breakpoint-down(md) {
        margin-right: 0;
        margin-bottom: 30px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: flex;
      height: 58px;
      align-items: center;
      font-weight: inherit;
      color: $dark;
      transition: $transition-base;

      @include media-breakpoint-down(md) {
        height: auto;
        font-family: $font-family-base;
        font-size: 28px;
        line-height: 33px;
        font-weight: 400;
        text-transform: none;
      }

      &:hover {
        color: $secondary;
      }
    }

    a.is-active {
      position: relative;

      &:after {
        position: absolute;
        bottom: 0;
        left: -15px;
        display: block;
        width: calc(100% + 30px);
        height: 2px;
        content: '';
        background: $primary;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  &__link-scene {
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    line-height: 40px;
    font-weight: inherit;
    color: $secondary;

    @include media-breakpoint-down(xs) {
      font-size: 22px;
    }
  }

  &__center {
  }

  &__head {
    display: flex;
    height: 58px;
    align-items: center;
  }

  &__close {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    margin-right: -5px;
    margin-left: auto;
    text-align: center;
    background-color: transparent;

    svg {
      width: 40px;
    }
  }

  &__share {
    display: none;

    @include media-breakpoint-down(md) {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__share-header {
    margin-bottom: 14px;
    font-family: $font-family-base;
    font-weight: 400;
    text-transform: none;
    color: $dark;
  }

  &__sublist-wrapper {
    position: relative;

    &:hover {

      .menu__sublist-header {

        @include media-breakpoint-up(sm) {
          color: $primary !important;
        }

        @include media-breakpoint-down(md) {
          color: $dark !important;
        }

        &:after {

          @include media-breakpoint-up(sm) {
            background: url(../img/menu-arrow--blue.svg) no-repeat center;
            background-size: contain;
            transform: rotate(0);
          }
        }
      }

      .menu__sublist {

        @include media-breakpoint-up(sm) {
          display: inline-flex;
        }
      }
    }

    &.is-active {

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .menu__sublist-header {

        @include media-breakpoint-down(md) {
          color: $primary !important;
        }

        &:after {

          @include media-breakpoint-down(md) {
            background: url(../img/menu-arrow--blue.svg) no-repeat center;
            background-size: contain;
            transform: rotate(0);
          }
        }
      }

      .menu__sublist {

        @include media-breakpoint-down(md) {
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }

  &__sublist-header {
    display: flex;
    align-items: center;
    transition: none !important;

    &:after {
      margin-left: 8px;
      display: block;
      width: 10px;
      height: 7px;
      flex-shrink: 0;
      content: '';
      background: url(../img/menu-arrow.svg) no-repeat center;
      background-size: contain;
      transform: rotate(180deg);
    }
  }

  &__sublist {
    position: absolute;
    z-index: 1;
    top: calc(100% - 10px);
    left: -20px;
    padding: 20px;
    display: none;
    min-width: 252px;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    box-shadow: 0 0 12px rgba(35, 37, 38, .09);

    @include media-breakpoint-down(md) {
      position: static;
      padding-bottom: 0;
      background: transparent;
      box-shadow: none;

      @include transition;
    }

    a {
      margin-bottom: 16px;
      height: auto;
      font-size: 16px;
      line-height: 19px;
      color: $dark;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
