mixin menu(data={active:0})
  nav#menu.menu.d-lg-flex&attributes(attributes)
    .container.menu__head.text-right.d-lg-none
      button.menu__close(data-fancybox-close).
        <svg viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg>
    .menu__center
      //a(href="#").menu__link-scene.d-lg-none ГЛАВНАЯ СЦЕНА
      ul.menu__list
        li
          a(href="#" class=data.active === 1 ? 'is-active':'') Программа 
        li.menu__sublist-wrapper
          a.menu__sublist-header(href="#" class=data.active === 1 ? 'is-active':'') Залы 
          .menu__sublist
            a(href="#") Главная сцена
            a(href="#") Студия
            a(href="#") Учительская
            a(href="#") Кабинет директора
            a(href="#") Коворкинг
            a(href="#") Клуб программирования
            a(href="#") Кафедра
            a(href="#") Лаборатория образования
        li
          a(href="#" class=data.active === 2 ? 'is-active':'') Спикеры
        li
          a(href="#" class=data.active === 3 ? 'is-active':'') Истории
        li
          a(href="#" class=data.active === 4 ? 'is-active':'') Помощь
      .menu__share
        p.p--xs.menu__share-header Поделитесь:
        +socials
