mixin checkbox-tags(data)
  .checkbox-tags&attributes(attributes)
    if !data.text
      for label in data.labels
        .checkbox-tags__item
          label.checkbox-tags__label
            input(type="checkbox")
            span.checkbox-tags__text= label
    else
      for label in data.labels
        .checkbox-tags__item
          .checkbox-tags__label
            span.checkbox-tags__text= label
