.checkbox-tags {
  margin: 0 -4px;
  display: flex;
  flex-flow: row wrap;

  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked ~ .checkbox-tags__text {
      color: $dark;
      background: #fbdf5d;
      border-color: #fbdf5d;
    }
  }

  &__item {
    margin: 4px;

    @include media-breakpoint-down(sm) {
      margin: 5px 4px;
    }

    &:hover {

      .checkbox-tags__text {
        color: $dark;
      }
    }
  }

  &__label {
    position: relative;
    margin: 0;
    cursor: pointer;
  }

  &__text {
    padding: 0 17px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    color: $gray;
    border: 1px solid #d2dce6;
    border-radius: 33px;
    transition: $transition-base;
  }
}
