.registration {
  margin-top: -78px;
  margin-bottom: -151px;
  padding-top: 130px;
  padding-bottom: 311px;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='1634' viewBox='0 0 1440 1634' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='313' width='1440' height='1321' fill='white'/%3E%3Cpath d='M74.4551 -61L1450.86 307.807L1272.41 973.809L-104 605.002L74.4551 -61Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: center top;
  background-size: cover;

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 80px;
    background: transparent;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 35px;
  }

  &__content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 832px;
  }

  &__color {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  &__color-item {
    margin-right: 17px;
    display: block;
    cursor: pointer;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-right: 30px;
    }

    &:hover {
      opacity: .8;
    }

    &--yellow {
      background: url(../img/badge-icon--yellow.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        background-size: 90%;
      }
    }

    &--red {
      background: url(../img/badge-icon--red.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        background-size: 90%;
      }
    }

    &--black {
      background: url(../img/badge-icon--dark.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        background-size: 90%;
      }
    }

    &--gray {
      background: url(../img/badge-icon--gray.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        background-size: 90%;
      }
    }

    &--blue {
      background: url(../img/badge-icon--blue.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        background-size: 90%;
      }
    }

    input {
      display: none;

      &:checked ~ .registration__color-item-content {
        border-color: #54afff;
      }
    }
  }

  &__color-item-content {
    padding: 10px;
    width: 74px;
    height: 104px;
    border: 2px solid transparent;
    border-radius: 2px;
  }

  .btn-primary {
    min-width: 255px;

    @include media-breakpoint-down(sm) {
      min-width: 100%;
    }
  }

  h3 {

    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }
}
