mixin details(data)
  .details(style="background-image: url(./img/" + data.img + ');')&attributes(attributes)
    .row
      div(
        class=data.textWidth && data.textWidth === 'xs' ? 'col-md-5': ''
        class=data.textWidth && data.textWidth === 'sm' ? 'col-md-6': ''
        class=data.textWidth && data.textWidth === 'md' ? 'col-md-7': ''
      )
        h3.mb-30.mb-md-40!= data.title
        a.btn.btn-secondary(href="#") Узнать подробности
