mixin parallax-letters(data)
  .parallax-letters&attributes(attributes)
    img.parallax-letters__y.js-rellax(src="./img/letter-y.svg" alt data-rellax-speed="4" data-rellax-percentage="0.5")
    img.parallax-letters__a.js-rellax(src="./img/letter-a.svg" alt data-rellax-speed="3" data-rellax-percentage="0.5")
    img.parallax-letters__c.js-rellax(src="./img/letter-c.svg" alt data-rellax-speed="2" data-rellax-percentage="0.5")
