.parallax-letters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__y {
    padding-right: 128px;
    display: block;
  }

  &__a {
    margin-top: -60px;
    display: block;
  }

  &__c {
    margin-top: -30px;
    padding-right: 175px;
    display: block;
  }

  img {

    @include media-breakpoint-down(lg) {
      transform: scale(.7);
      transform-origin: right center;
    }
  }
}
