.video-place {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    content: '';
    background: #000;

    @include transition;
  }

  &:hover {

    &:after {
      opacity: .6;
    }
  }

  &__link {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='28' viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 12.2679C24.3333 13.0378 24.3333 14.9622 23 15.732L3.5 26.9904C2.16666 27.7602 0.499999 26.7979 0.499999 25.2583L0.5 2.74167C0.5 1.20207 2.16667 0.239817 3.5 1.00962L23 12.2679Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @include transition;

    @include media-breakpoint-down(md) {
      width: 60px;
      height: 60px;
      background-size: 20px;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 98px;
      height: 98px;
      content: '';
      border: 1px solid rgba(255, 255, 255, .3);
      border-radius: 50%;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(md) {
        width: 88px;
        height: 88px;
      }
    }
  }

  .embed-responsive-item {
    z-index: 1;
  }
}
