mixin video-place(data)
  a.video-place.embed-responsive.embed-responsive-16by9(href="https://www.youtube.com/watch?v=6tmbeLTHC_0&t=50s", data-fancybox, style=`background-image:url(./img/video-bg.jpg)`)&attributes(attributes)
    .video-place__link
      
  
