mixin header(data={login:false,menu:{active:0}})
  header.header#header&attributes(attributes): .header__content: .container
    .header__row
      if data && data.announcement
        +announcement
      .header__logo-wrap
        a.header__logo(href="./"): img(src="./img/logo.svg" alt)
      .header__menu.d-none.d-lg-block: +menu(data.menu)
      .header__controls
        a(href="#").header__sign-link
          if !data.login
            span.d-none.d-lg-inline-block.mr-15 ВОЙТИ
            .
              <svg viewBox="0 0 26 26" fill="none">
              <mask id="mask0" maskUnits="userSpaceOnUse" x="0" y="0" width="26" height="26">
              <circle cx="13" cy="13" r="13" fill="currentColor"/>
              </mask>
              <g mask="url(#mask0)">
              <circle cx="13" cy="26" r="10.25" stroke="currentColor" stroke-width="1.5"/>
              </g>
              <circle cx="13" cy="13" r="12.25" stroke="currentColor" stroke-width="1.5"/>
              <circle cx="13" cy="10" r="4.25" stroke="currentColor" stroke-width="1.5"/>
              </svg>
          else
            span.mr-10.mr-lg-15 Выйти
            span.header__user: img(src="./img/header-user.png" alt)
        a(href="#").header__scene.d-none.d-lg-flex
          span.mr-10 ГЛАВНАЯ<br>СЦЕНА
          .
            <svg width="18" height="22" viewBox="0 0 18 22" fill="none">
            <path d="M17.0571 11L16.9245 10.788L16.9241 10.7883C16.9242 10.7882 16.9244 10.7881 16.9245 10.788L17.0571 11ZM17.0571 11L16.9245 11.212L16.9241 11.2117C16.9242 11.2118 16.9244 11.2119 16.9245 11.212L17.0571 11ZM16.5857 11L0.750001 20.9046L0.750002 1.09539L16.5857 11Z" stroke="currentColor" stroke-width="1.5"/>
            </svg>
      button(type="button" data-fancybox data-touch="false" data-src="#menu" data-base-class="fancybox--menu" data-modal="true").btn.btn-menu.d-lg-none.
        <svg width="30" height="20" viewBox="0 0 30 20" fill="none">
        <rect width="30" height="2" fill="currentColor"/>
        <rect y="18" width="30" height="2" fill="currentColor"/>
        <rect y="9" width="30" height="2" fill="currentColor"/>
        </svg>
          
      
