.header {
  z-index: 101;
  top: 0;

  @include media-breakpoint-down(md) {
    position: sticky;
    background-color: $light;
    //border-bottom: 1px solid #d5dbe2;
    box-shadow: 0 3px 8px rgba(35, 37, 38, .08);
  }

  &__row {
    position: relative;
    display: flex;
    height: 58px;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-start;
    }
  }

  &__scene {
    padding-right: 21px;
    padding-left: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background: $secondary;
    transition: $transition-base;
    align-self: stretch;

    @include media-breakpoint-down(md) {
      padding-right: 17px;
      padding-left: 17px;
    }

    &:hover {
      opacity: .9;
      color: #fff;
      background: darken($secondary, 10%);
    }
  }

  &__sign-link {
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $dark;
    transition: $transition-base;

    @include media-breakpoint-down(lg) {
      margin-right: 10px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 30px;
    }

    &:hover {
      color: $primary;
    }

    svg {
      width: 26px;

      @include media-breakpoint-down(md) {
        width: 36px;
      }

      mask {
        mask-type: alpha;
      }
    }
  }

  &__controls {
    display: flex;
    align-self: stretch;
    align-items: center;
  }

  &__logo-wrap {
    flex-basis: 244px;

    @include media-breakpoint-down(md) {
      margin-right: auto;
      flex-basis: auto;
    }
  }

  &__content {
    top: -58px;
    transition: $transition-base;
  }

  &__menu {
    margin-left: -95px;
  }

  &--home {

    @include media-breakpoint-up(lg) {
      position: relative;
      margin-bottom: -58px;
    }

    .header__controls {

      @include media-breakpoint-up(lg) {
        visibility: hidden;
      }
    }
  }

  &.is-sticky {

    @include media-breakpoint-up(lg) {
      position: sticky;
      top: 0;
    }

    .header__content {

      @include media-breakpoint-up(lg) {
        position: relative;
        top: 0;
        background: #fff;
        box-shadow: 0 3px 8px rgba(35, 37, 38, .08);
      }
    }
  }

  &__user {

    img {
      width: 36px;
      height: 36px;
      border: 2px solid $primary;
      border-radius: 100%;
    }
  }

  &--border {
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(md) {
      border-bottom: none;
    }
  }

  &--transparent {
    background: #fff;
  }

  &--transparent-real {
    background: transparent;

    @include media-breakpoint-down(md) {
      background: #fff;
    }
  }
}

.header--home.is-sticky {

  .header__controls {

    @include media-breakpoint-up(lg) {
      visibility: visible;
    }
  }
}
