.timetable {
  margin-bottom: 40px;
  border-bottom: 1px solid #cad4df;

  &__item {
    padding-bottom: 10px;
    display: flex;
    border-top: 1px solid #cad4df;

    @include media-breakpoint-down(sm) {
      padding-bottom: 24px;
    }
  }

  &__time {
    padding-top: 6px;
    width: 110px;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .1em;
    color: #000;

    @include media-breakpoint-down(md) {
      width: 70px;
    }

    @include media-breakpoint-down(sm) {
      width: auto;
    }

    .timetable__time {
      height: 246px;
      border-top: 1px solid #cad4df;

      &:first-child {
        margin-bottom: 10px;
        border-top: none;
      }
    }
  }

  &__content {
    position: relative;
    width: calc(100% - 110px);

    @include media-breakpoint-down(md) {
      width: calc(100% - 70px);
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .tns-controls button {
      top: 62.5%;
    }

    .tns-controls button[data-controls='prev'] {
      left: -35px;

      @include media-breakpoint-down(sm) {
        left: 0;
      }
    }

    .tns-controls button[data-controls='next'] {
      right: -76px !important;

      @media (max-width: 1499px) {
        right: 0 !important;
      }
    }
  }

  &__col {
    display: inline-flex !important;
    flex-direction: column;
  }

  &__line {
    width: 100%;
    border-bottom: 1px solid #cad4df;
  }

  &__slider {
    display: flex;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__sliders-mobile {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    .tns-outer + .tns-outer {
      padding-top: 14px !important;
      border-top: 1px solid #cad4df;
    }
  }

  &__slider-row {

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 20px;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .1em;
      content: attr(data-time);
      color: #000;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  &__desc {
    font-size: 14px;
    line-height: 20px;
    color: $gray;
  }

  &__head {
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    height: 100px;
    flex-shrink: 0;
    border-bottom: 1px solid #cad4df;
  }

  &__slider-wrap {
    border: none;

    @include media-breakpoint-down(sm) {
      border-top: 1px solid #cad4df;
    }

    .tns-ovh {
      position: relative;
      margin-right: -200px;
      margin-left: -60px;

      @media (max-width: 1499px) {
        margin-right: 0;
      }

      @include media-breakpoint-down(md) {
        margin-left: -25px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: -200px;
      }
    }

    .tns-inner {
      padding-left: 60px;

      @include media-breakpoint-down(md) {
        padding-left: 25px;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 200px;
      }
    }

    .tns-outer {
      position: relative;

      &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -92px;
        display: block;
        width: 100px;
        height: 100%;
        content: '';
        background: linear-gradient(270deg, #eef4fa 0%, #eef4fa 1.56%, rgba(238, 244, 250, 0) 100%);

        @media (max-width: 1499px) {
          right: 0;
        }

        @include media-breakpoint-down(sm) {
          width: 150px;
        }

        //        @include media-breakpoint-down(md) {
        //          right: -130px;
        //          width: 130px;
        //        }
      }

      &:before {
        position: absolute;
        z-index: 1;
        top: 1px;
        left: -60px;
        display: block;
        width: 60px;
        height: 100%;
        content: '';
        background: linear-gradient(270deg, #eef4fa 0%, #eef4fa 1.56%, rgba(238, 244, 250, 0) 100%);
        transform: scale(-1, 1);

        @include media-breakpoint-down(md) {
          left: -25px;
          width: 25px;
        }

        @include media-breakpoint-down(sm) {
          left: -130px;
          width: 130px;
        }
      }
    }

    > .timetable__time {
      position: relative;
      padding-top: 0;

      &:before {
        display: block;
        box-sizing: border-box;
        height: 100px;
        content: '';
        border-bottom: 1px solid #cad4df;
      }

      .timetable__time {
        position: relative;

        &:after {
          position: absolute;
          z-index: 2;
          top: -1px;
          left: 0;
          display: block;
          width: 100%;
          content: '';
          border-bottom: 1px solid #cad4df;
        }
      }
    }
  }
}
