mixin timetable(data)
  .timetable&attributes(attributes)
    +modal({
      modifier: 'report'
    }).modal--event.modal--close-out#report
  
    if data && data.modifier == 'big'
      .timetable__item
        .timetable__time.d-none.d-md-block 09:30
        .timetable__content
          +event({
            time: '09:30',
            logo: 'event-logo.svg',
            bg_text: 'event-text-opener.svg',
            title: 'Открытие'
          }).event--opener
      .timetable__item
        .timetable__time.d-none.d-md-block 10:00
        .timetable__content
          +event({
            time: '10:00',
            img: 'event-ph-1.png',
            title: 'На пороге нового гуманистического образования',
            bg_text: 'event-text-1.svg',
            name: 'ЕЛЕНА БУНИНА',
            role: 'Генеральный директор Яндекса'
          })
      .timetable__item
        .timetable__time.d-none.d-md-block 10:30
        .timetable__content
          +event({
            time: '10:30',
            img: 'event-ph-4.png',
            title: 'Смена парадигмы обучения для адаптации к изменяющимся условиям жизни',
            bg_text: 'event-text-2.svg',
            name: 'ОЛИВЬЕ КРУЗЕ',
            role: 'Директор по педагогике École 42',
            check: true
          }).event--blue
      .timetable__item
        .timetable__time.d-none.d-md-block 11:00
        .timetable__content
          +event({
            time: '11:00',
            img: 'event-ph-5.png',
            title: 'Тема доклада',
            bg_text: 'event-text-3.svg',
            name: 'Елена Шмелёва',
            role: 'Компания'
          })

      .timetable__item.timetable__slider-wrap
        .timetable__time.d-none.d-md-block
          .timetable__time 11:30
          .timetable__time 12:00
        .timetable__content.d-block
          .timetable__slider#timetable-slider
            .timetable__col
              .timetable__head
                .timetable__title Студия
                .timetable__desc Беседы за сценой
              +card({
                title: 'Общение со спикерами',
                author: 'Наталья Чеботарь <br>Иван Ященко ',
                section: 'Студия'
              }).card--big
              +card({
                title: 'Общение со спикерами',
                author: 'Наталья Чеботарь <br>Иван Ященко ',
                section: 'Студия'
              }).card--big
            .timetable__col
              .timetable__head
                .timetable__title Учительская
                .timetable__desc Школьным учителям
              +card({
                title: 'Как организовать дискуссию на уроке',
                author: 'Анна Булгакова',
                section: 'Учительская'
              })
              .timetable__line
              +card({
                title: 'Разные дети: как учить и как помогать',
                author: 'Ксения Вотякова',
                section: 'Учительская'
              })
            .timetable__col
              .timetable__head
                .timetable__title Кабинет директора
                .timetable__desc Администрациям школ
              +card({
                title: 'Нормативы для директоров школ. Зачем школе сотрудничество с цифровой платформой?',
                author: 'Дмитрий Растворов',
                section: 'Кабинет директора'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ирина Савицкая',
                section: 'Кабинет директора'
              })
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Как делать обучающие курсы для школьных учителей',
                author: 'Мика Пятницкая',
                check: true,
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Цифровые инструменты в образовании',
                author: 'Евгений Лурье',
                section: 'Коворкинг'
              })
            .timetable__col
              .timetable__head
                .timetable__title Клуб программирования
                .timetable__desc Преподавателям
              +card({
                title: 'Как учиться программированию и не терять интерес',
                author: 'Александр Паволоцкий',
                section: 'Клуб программирования'
              }).card--big
              +card({
                title: 'Как учиться программированию и не терять интерес',
                author: 'Александр Паволоцкий',
                section: 'Клуб программирования'
              }).card--big
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Цифровые кадры для регионов — как мы помогаем',
                author: 'Марина Суслова / Яндекс.Лицей и Яндекс.Практикум',
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ксения Вотякова',
                section: 'Коворкинг'
              })
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Цифровые кадры для регионов — как мы помогаем',
                author: 'Марина Суслова / Яндекс.Лицей и Яндекс.Практикум',
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ксения Вотякова',
                section: 'Коворкинг'
              })
          .timetable__sliders-mobile
            .timetable__slider-row(data-time="11:30")
            .timetable__slider-row(data-time="12:00")
      .timetable__item
        .timetable__time.d-none.d-md-block 12:30
        .timetable__content
          +event({
            time: '12:30',
            img: 'event-ph-placeholder-2.png',
            title: 'Тема доклада',
            bg_text: 'event-text-2.svg',
            name: 'Ярослав Кузьминов',
            role: 'Компания'
          }).event--blue.event--big-title
      .timetable__item
        .timetable__time.d-none.d-md-block 13:00
        .timetable__content
          +event({
            time: '12:30',
            title: 'Цифровой двойник преподавателя: далеко ли до пришествия и почему с ним всё не так просто',
            bg_text: 'event-text-3.svg',
            no_photo: true,
            authors: [['Модератор', 'Александр Ларьяновский', 'Управляющий партнёр Skyeng'], ['Гость', 'Дмитрий крутов', 'Управляющий партнёр Skyeng'], ['Гость', 'ИМЯ ФАМИЛИЯ', 'Компания']]
          }).event--no-photo.event--authors
      .timetable__item
        .timetable__time.d-none.d-md-block 13:30
        .timetable__content
          +event({
            time: '13:30',
            img: 'event-ph-6.png',
            title: 'Тема доклада',
            bg_text: 'event-text-2.svg',
            authors: [['?', 'Илья Залесский', 'Руководитель образовательных сервисов Яндекса'], ['?', 'ИМЯ ФАМИЛИЯ', 'Компания']]
          }).event--blue

      .timetable__item.timetable__slider-wrap
        .timetable__time.d-none.d-md-block
          .timetable__time 11:30
          .timetable__time 12:00
        .timetable__content.d-block
          .timetable__slider#timetable-slider
            .timetable__col
              .timetable__head
                .timetable__title Студия
                .timetable__desc Беседы за сценой
              +card({
                title: 'Общение со спикерами',
                author: 'Наталья Чеботарь <br>Иван Ященко ',
                section: 'Студия'
              }).card--big
              +card({
                title: 'Общение со спикерами',
                author: 'Наталья Чеботарь <br>Иван Ященко ',
                section: 'Студия'
              }).card--big
            .timetable__col
              .timetable__head
                .timetable__title Учительская
                .timetable__desc Школьным учителям
              +card({
                title: 'Современные технологии на службе учителя',
                author: 'Ольга Гвинджилия <br>Инна Торботряс <br>Екатерина Богданович <br>Екатерина Горбатова <br>Мария Монахова <br>Анастасия Тмур <br>Татьяна Громова <br>Марина Рогатова',
                section: 'Учительская'
              }).card--big
              +card({
                title: 'Современные технологии на службе учителя',
                author: 'Ольга Гвинджилия <br>Инна Торботряс <br>Екатерина Богданович <br>Екатерина Горбатова <br>Мария Монахова <br>Анастасия Тмур <br>Татьяна Громова <br>Марина Рогатова',
                section: 'Учительская'
              }).card--big
            .timetable__col
              .timetable__head
                .timetable__title Кабинет директора
                .timetable__desc Администрациям школ
              +card({
                title: 'Soft skills школьного коллектива: дань моде или практическая необходимость?',
                author: 'Артем Корзеев <br>Наталья Поварич <br>Маргарита Обухова',
                section: 'Кабинет директора'
              })
              .timetable__line
              +card({
                title: 'Позиция директора в конфликте «учитель — родитель»',
                author: 'Артем Корзеев <br>Максим Пратусевич <br>Александр Васильев <br>Илья Степанов',
                section: 'Кабинет директора'
              })
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Разработка образовательных сервисов: почему здесь не всё так просто',
                author: 'Влад Степанов',
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Геймификация образования с голосовыми приложениями на примере навыков Алисы',
                author: 'Павел Капля <br>Инна Омельченко <br>Александра Новохацкая',
                section: 'Коворкинг'
              })
            .timetable__col
              .timetable__head
                .timetable__title Клуб программирования
                .timetable__desc Преподавателям
              +card({
                title: 'Как стать академическим партнёром Яндекса',
                author: 'Ирина Роева',
                section: 'Клуб программирования'
              })
              .timetable__line
              +card({
                title: 'Опыт ВШЭ в построении цифрового университета',
                author: 'Алексей Чукарин',
                section: 'Клуб программирования'
              })
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Цифровые кадры для регионов — как мы помогаем',
                author: 'Марина Суслова / Яндекс.Лицей и Яндекс.Практикум',
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ксения Вотякова',
                section: 'Коворкинг'
              })
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Цифровые кадры для регионов — как мы помогаем',
                author: 'Марина Суслова / Яндекс.Лицей и Яндекс.Практикум',
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ксения Вотякова',
                section: 'Коворкинг'
              })
          .timetable__sliders-mobile
            .timetable__slider-row(data-time="11:30")
            .timetable__slider-row(data-time="12:00")
      .timetable__item
        .timetable__time.d-none.d-md-block 15:30
        .timetable__content
          +event({
            time: '15:30',
            img: 'event-ph-7.png',
            title: 'Технологии в образовании: страхи и возможности',
            name: 'Кирилл Медведев',
            role: 'Директор «Новой школы»'
          }).event--big-title
      .timetable__item
        .timetable__time.d-none.d-md-block 13:00
        .timetable__content
          +event({
            time: '16:00',
            title: 'Формирование образовательного опыта в эпоху новых технологий',
            bg_text: 'event-text-2.svg',
            no_photo: true,
            authors: [['Модератор', 'НАРГИЗ АСАДОВА', 'Заместитель директора «Европейской гимназии»'], ['Гость', 'Александр Асмолов', 'Директор «Школы антропологии будущего»'], ['Гость', 'Дмитрий Волошин', 'Сооснователь Otus.ru']]
          }).event--blue.event--no-photo
      .timetable__item
        .timetable__time.d-none.d-md-block 13:30
        .timetable__content
          +event({
            time: '16:30',
            img: 'event-ph-placeholder-2.png',
            title: 'Тема доклада',
            bg_text: 'event-text-6.svg',
            name: 'ИМЯ ФАМИЛИЯ',
            role: 'Должность'
          })
          
    else
      .timetable__item
        .timetable__time.d-none.d-md-block 09:30
        .timetable__content
          +event({
            time: '09:30',
            logo: 'event-logo.svg',
            bg_text: 'event-text-opener.svg',
            title: 'Открытие'
          }).event--opener
      .timetable__item
        .timetable__time.d-none.d-md-block 10:00
        .timetable__content
          +event({
            time: '10:00',
            img: 'event-ph-1.png',
            title: 'На пороге нового гуманистического образования',
            bg_text: 'event-text-1.svg',
            name: 'ЕЛЕНА БУНИНА',
            role: 'Генеральный директор Яндекса'
          })
      .timetable__item
        .timetable__time.d-none.d-md-block 10:30
        .timetable__content
          +event({
            time: '10:30',
            img: 'event-ph-8.png',
            title: 'Смена парадигмы обучения для адаптации к изменяющимся условиям жизни',
            bg_text: 'event-text-2.svg',
            authors: [['', 'ОЛИВЬЕ КРУЗЕ', 'Директор по педагогике École 42'], ['', 'Светлана Инфимовская', 'Директор «Школы 21»']],
            check: true
          }).event--blue
      .timetable__item
        .timetable__time.d-none.d-md-block 11:00
        .timetable__content
          +event({
            time: '11:00',
            img: 'event-ph-3.png',
            title: 'Как увидеть лес за деревьями: современная картина мира и её отражение в образовании',
            bg_text: 'event-text-3.svg',
            authors: [['Гость', 'Георгий Васильев', 'Автор и продюсер проекта «Фиксики»'], ['Модератор', 'Андрей Себрант', 'Директор по стратегическому маркетингу Яндекса']],
          })

      .timetable__item.timetable__slider-wrap
        .timetable__time.d-none.d-md-block
          .timetable__time 11:30
          .timetable__time 12:00
        .timetable__content.d-block
          .timetable__slider#timetable-slider
            .timetable__col
              .timetable__head
                .timetable__title Студия
                .timetable__desc Беседы за сценой
              +card({
                title: 'Общение со спикерами',
                author: 'Наталья Чеботарь <br>Иван Ященко ',
                section: 'Студия'
              }).card--big
              +card({
                title: 'Общение со спикерами',
                author: 'Наталья Чеботарь <br>Иван Ященко ',
                section: 'Студия'
              }).card--big
            .timetable__col
              .timetable__head
                .timetable__title Учительская
                .timetable__desc Школьным учителям
              +card({
                title: 'Как организовать дискуссию на уроке',
                author: 'Анна Булгакова',
                section: 'Учительская'
              })
              .timetable__line
              +card({
                title: 'Разные дети: как учить и как помогать',
                author: 'Ксения Вотякова',
                section: 'Учительская'
              })
            .timetable__col
              .timetable__head
                .timetable__title Кабинет директора
                .timetable__desc Администрациям школ
              +card({
                title: 'Дистанционное обучение: просто о сложном',
                author: 'Марина Вайндорф-Сысоева',
                section: 'Кабинет директора'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ирина Савицкая <br>Наталья Кисельникова',
                section: 'Кабинет директора'
              })
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Как делать обучающие курсы для школьных учителей',
                author: 'Мика Пятницкая',
                check: true,
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Цифровые инструменты в образовании',
                author: 'Евгений Лурье',
                section: 'Коворкинг'
              })
            .timetable__col
              .timetable__head
                .timetable__title Клуб программирования
                .timetable__desc Преподавателям
              +card({
                title: 'Как учиться программированию и не терять интерес ',
                author: 'Александр Паволоцкий<br> Сергей Шедов<br> Дарья Абрамова<br> Андрей Лобанов',
                section: 'Клуб программирования'
              }).card--big
              +card({
                title: 'Как учиться программированию и не терять интерес ',
                author: 'Александр Паволоцкий<br> Сергей Шедов<br> Дарья Абрамова<br> Андрей Лобанов',
                section: 'Клуб программирования'
              }).card--big
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Цифровые кадры для регионов — как мы помогаем',
                author: 'Марина Суслова / Яндекс.Лицей и Яндекс.Практикум',
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ксения Вотякова',
                section: 'Коворкинг'
              })
            .timetable__col
              .timetable__head
                .timetable__title Коворкинг
                .timetable__desc Разработчикам образовательного опыта
              +card({
                title: 'Цифровые кадры для регионов — как мы помогаем',
                author: 'Марина Суслова / Яндекс.Лицей и Яндекс.Практикум',
                section: 'Коворкинг'
              })
              .timetable__line
              +card({
                title: 'Профилактика выгорания у педагогов',
                author: 'Ксения Вотякова',
                section: 'Коворкинг'
              })
          .timetable__sliders-mobile
            .timetable__slider-row(data-time="11:30")
            .timetable__slider-row(data-time="12:00")
      .timetable__item
        .timetable__time.d-none.d-md-block 12:30
        .timetable__content
          +event({
            time: '12:30',
            img: 'event-ph-9.png',
            title: 'Цифровые технологии в образовании: от эволюции к революции',
            bg_text: 'event-text-4.svg',
            name: 'Ярослав Кузьминов',
            role: 'Ректор НИУ ВШЭ'
          }).event--blue.event--big-title
