.stats {

  &__item {
    margin-bottom: 120px;
    padding-left: 75px;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      padding: 17px 0;
      border-bottom: 1px solid #cad4df;
    }

    &:last-of-type {

      @include media-breakpoint-down(sm) {
        border-bottom: 0;
      }
    }
  }

  &__header {
    margin-bottom: 3px;
    font-family: $font-heavy;
    font-size: 35px;
    line-height: 1;
    font-weight: 900;
    color: $secondary;

    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 30px;
    }
  }

  &__content {
    font-size: 20px;
    line-height: 28px;
    color: #737f89;
  }
}
